// aside（侧边栏）
@import "_aside/index.styl"

// 手机端侧边栏
@import "_mixins/sidebar.styl"

// keyboard（键盘）
if hexo-config('keyboard.enable')
  @import "_mixins/keyboard.styl"

// article-sort （归档）
@import "_mixins/article-sort.styl"

// footer
@import "_mixins/footer.styl"

// 零散的样式
@import "_mixins/other.styl"

// tags plugin
@import "_tags/*"

// comment
if hexo-config('comment.enable')
  @import '_widgets/_comment/index.styl'
  @import '_widgets/_comment/twikoo.styl' when hexo-config('comment.type') == 'twikoo'
  @import '_widgets/_comment/waline.styl' when hexo-config('comment.type') == 'waline'

// search
if hexo-config('search.enable')
  if hexo-config('search.type') == 'algolia'
    @import '_search/algolia-search'
  else if hexo-config('search.type') == 'local'
    @import '_search/local-search'

// 控制台样式
@import '_extra/console.styl'

// rightmenu
if hexo-config('rightside.enable')
  @import '_extra/rightmenu.styl'

// pace
if hexo-config('loading.pace')
  @import "_extra/pace.styl"

// fullpage
if hexo-config('loading.fullpage')
  @import "_extra/fullpage.styl"

// 音乐胶囊
if hexo-config('capsule.enable')
  @import "_extra/music.styl"

// post
@import "_post/index.styl"