.post-ai
    .ai-title
        .ai-title-left
            i.ai-title-icon.scoicon.sco-robot-fill
            .ai-title-text 文章摘要
        .ai-tag#ai-tag= theme.thirdparty.ai.modelName
    .ai-explanation(style="display: block;")
    .ai-suggestions
    .ai-bottom
        .ai-tips= theme.thirdparty.ai.tips
        if theme.thirdparty.ai.report
            a.ai-report(title="投诉", href=url_for(theme.thirdparty.ai.report)) 投诉