if hexo-config('hightlight.color') == 'default'
  pre[class*='language-']
    .token.function
      color: #ffb62c

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata
      color: rgba(149, 165, 166, .8)

    .token.punctuation
      color: #5e6687

    .token.namespace
      opacity: .7

    .token.operator,
    .token.boolean,
    .token.number
      color: #c76b29

    .token.property
      color: #c08b30

    .token.tag
      color: #3d8fd1

    .token.string
      color: #22a2c9

    .token.selector
      color: #6679cc

    .token.attr-name
      color: #c76b29

    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string
      color: #22a2c9

    .token.attr-value,
    .token.keyword,
    .token.control,
    .token.directive,
    .token.unit
      color: #ac9739

    .token.statement,
    .token.regex,
    .token.atrule
      color: #22a2c9

    .token.placeholder,
    .token.variable
      color: #3d8fd1

    .token.deleted
      text-decoration: line-through

    .token.inserted
      border-bottom: 1px dotted #202746
      text-decoration: none

    .token.italic
      font-style: italic

    .token.important,
    .token.bold
      font-weight: bold

    .token.important
      color: #c94922

    .token.entity
      cursor: help

    pre > code.highlight
      outline: .4em solid #c94922
      outline-offset: .4em

if hexo-config('hightlight.color') == 'vscode'
    pre[class*='language-']
      .token.comment
        color #6a737d

      .token.prolog
        color #6a737d

      .token.doctype
        color #6a737d

      .token.cdata
        color #6a737d

      .token.punctuation
        color #d4d4d4

      .token.namespace
        opacity .7

      .token.operator
        color #d4d4d4

      .token.boolean
        color #4ec9b0

      .token.number
        color #4ec9b0

      .token.property
        color #c08b30

      .token.tag
        color #3d8fd1

      .token.string
        color #4ec9b0

      .token.selector
        color #6679cc

      .token.attr-name
        color #c76b29

      .token.entity
        color #c76b29

      .token.url
        color #22a2c9

      .token.attr-value
        color #4ec9b0

      .token.keyword
        color #c94922

      .token.control
        color #c94922

      .token.directive
        color #c94922

      .token.unit
        color #c94922

      .token.statement
        color #c94922

      .token.regex
        color #22a2c9

      .token.atrule
        color #22a2c9

      .token.placeholder
        color #3d8fd1

      .token.variable
        color #3d8fd1

      .token.deleted
        color #c94922

      .token.inserted
        color #4ec9b0

      .token.italic
        font-style italic

      .token.important
        font-weight bold

      .token.important
        color #c94922

      .token.entity
        cursor help

      pre > code.highlight
        outline .4em solid #c94922
        outline-offset .4em