pre[class*='language-']

  .keyword
  .function
    color $highlight-variable-light

  .operator
    color $highlight-variable-light

  .number
    color $highlight-number-light

  .property
  .class-name
  .title
    color $highlight-title-light

  .string
    color $highlight-string-light
 
  .parameter
    color $highlight-parameter-light

  .blockquote
    cikir $highlight-emphasis-light

  .comment
    color $highlight-comment-light

  .atrule
    color $highlight-emphasis-light

  .boolean
    color $highlight-important-light

  .deleted
    color $highlight-deleted

  .inserted
    color $highlight-inserted

  [data-theme='dark'] &
    .keyword
    .function
      color $highlight-variable-dark

    .operator
      color $highlight-variable-dark

    .number
      color $highlight-number-dark

    .property
    .class-name
    .title
      color $highlight-title-dark

    .string
      color $highlight-string-dark
      
    .parameter
      color $highlight-parameter-dark

    .blockquote
      color $highlight-emphasis-dark

    .comment
      color $highlight-comment-dark

    .atrule
      color $highlight-emphasis-dark

    .boolean
      color $highlight-important-dark

    .deleted
      color $highlight-deleted

    .inserted
      color $highlight-inserted