@require line-number

if hexo-config('highlight.enable')
  @require diff

#article-container
  pre[class*='language-']
    margin 0
    overflow-x auto
    scrollbar-color var(--hlscrollbar-bg) transparent

    &::-webkit-scrollbar-thumb
      background var(--hlscrollbar-bg)

    &:not(.line-numbers)
      padding 10px 20px