#article-container
  pre[class*='language-']
    &.line-numbers
      position relative

      > code
        display block
        position relative
        padding 8px 0 8px 58px

      .line-numbers-rows
        position absolute
        top 0
        left 0
        color var(--efu-secondtext)
        border-right var(--style-border-always)
        width 45px
        padding 8px 0

        & > span
          display block
          counter-increment linenumber
          pointer-events none
          text-align center

          &:before
            padding 0 0.5em
            content counter(linenumber)