#about-page
  display flex
  padding-top 1rem
  flex-direction column
  align-items center
  gap .5rem

  .author-title
    font-size 2rem
    font-weight 700
    margin .5rem 0
    line-height 1

if "tenyear" in $about
  @import "tenyear"

if "authorinfo" in $about
  @import "author"

if "contentinfo" in $about
  @import "contentinfo"

if "skills" in $about
  @import "skills"

if "oneself" in $about
  @import "oneself"

if "motto" in $about
  @import "buff"
  @import "maxim"

if "game1" in $about
  @import "game"

if "personalities" in $about
  @import "personalities"
  @import "myphoto"

if "careers" in $about
  @import "careers"

if "likes" in $about
  @import "like"

if "tj" in $about
  @import "statistic"

if "award" in $about
  @import "reward"