#about-page
  .author-content-item.buff
    font-size 36px
    font-weight 700
    line-height 1.1
    display flex
    align-items flex-start
    flex-direction column
    justify-content center
    background linear-gradient(120deg, #ff27e8 0, #ff8000 100%)
    color var(--efu-white)
    background-size 200%
    animation gradient 15s ease infinite
    min-height 200px
    height fit-content
    width calc(60% - (.5rem / 2))

    .card-content
      display flex
      flex-direction column
      justify-content center

    .buff-title
      display flex
      flex-direction column

      span:first-child
        opacity 0.6
        margin-bottom 8px

    .title1
      opacity .8
      font-size .6rem
      margin-bottom .5rem