#about-page
  .author-content-item.careers
    min-height 400px

    img
      position absolute
      left 0
      bottom 20px
      width 100%
      transition .6s
      user-select none

    .careers-group
      margin-top 12px

    .careers-item
      display flex
      align-items center

      .circle
        width 16px
        height 16px
        margin-right 8px
        border-radius 16px

      .name
        color var(--efu-secondtext)