#about-page
  .author-content-item.maxim
    font-size 36px
    font-weight 700
    line-height 1.1
    display flex
    align-items flex-start
    flex-direction column
    justify-content center
    width calc(40% - (.5rem / 2))

    .maxim-title
      display flex
      flex-direction column

      span:first-child
        opacity 0.6
        margin-bottom 8px

    .title1
      opacity .8
      font-size .6rem
      margin-bottom .5rem