#about-page
  .author-content-item.myphoto
    height 60%
    min-height 240px
    position relative
    overflow hidden
    width calc(40% - (.5rem / 2))
    display flex
    align-items center
    justify-content center

    img
      position absolute
      height 100%
      min-width 100%
      object-fit cover
      transition .6s
      user-select none

    &:hover
      img
        min-width 105%
        transition 2s

    .myphoto-title
      position absolute
      bottom 0
      left 0
      width 100%
      background var(--efu-maskbgdeep)
      padding .5rem 2rem
      backdrop-filter saturate(180%) blur(20px)
      -webkit-backdrop-filter blur(20px)
      transform translateZ(0)