#about-page
  .author-content-item
    &.single.reward
      overflow unset
      .author-content-item
        .author-content-item-title
          color var(--efu-red)

      .reward-list-updateDate
        color var(--efu-gray)
        font-size 14px

      .author-content-item-description
        font-size 16px
        margin-top .5rem

      .reward-list-all
        display flex
        flex-wrap wrap
        flex-direction row
        margin 1rem -.25rem .5rem

        .post-reward
          position absolute
          right 2rem
          top 2rem

          .reward-main
            top 60px
            right 0
            left auto
            bottom auto
            width fit-content

            .reward-all::before
              bottom auto
              top -16px

          .reward-button
            padding 8px 12px
            background var(--efu-red)
            border-radius 12px
            z-index 1
            box-shadow initial
            width fit-content
            height fit-content
            line-height 2

            +maxWidth768()
              display none

          &:hover
            .reward-button
              filter brightness(1.1)

        .reward-list-item
          padding 1rem
          border-radius 12px
          border var(--style-border-always)
          width calc((100% / 6) - .5rem)
          margin 0 .25rem .5rem .25rem
          box-shadow var(--efu-shadow-border)
          flex-direction column
          justify-content space-between

          +maxWidth1200()
            width calc((100% / 4) - .5rem)

          +maxWidth900()
            width calc((100% / 2) - .5rem)

          +maxWidth768()
            width 100%

          .reward-list-item-name
            font-size 1rem
            font-weight 700
            line-height 1
            margin-bottom .5rem
            white-space nowrap
            overflow hidden
            text-overflow ellipsis

          .reward-list-bottom-group
            display flex
            align-items center
            justify-content space-between

          .reward-list-item-money
            padding 4px
            background var(--efu-fontcolor)
            color var(--efu-card-bg)
            font-size 12px
            line-height 1
            display flex
            align-items center
            justify-content center
            border-radius 4px
            margin-right 4px
            white-space nowrap

            .solitude
              font-size 14px
              margin-right 4px

          .reward-list-item-time
            font-size 12px
            color var(--efu-secondtext)
            white-space nowrap

    .reward-list-tips
      p
        font-size 12px
        color var(--efu-secondtext)