.post-ai
    .ai-title
        .ai-title-left
            i.ai-title-icon.solitude.fas.fa-newspaper
            .ai-title-text=_p('post.ai.title')
        .ai-tag#ai-tag= theme.post.ai.modelName
    .ai-explanation(style="display: block;")
