- var datalinks = []
- var data = site.data.links.links
if(data)
    each item in data
        if item.type === "item"
            each y in item.link_list
                - datalinks.push({ name: y.name,link: y.link})

script.
    const links = !{JSON.stringify(datalinks)}
    function travelling() {
        const link = links[utils.randomNum(links.length)];
        utils.snackbarShow('您即将前往 ⌈ ' + link.name + ' ⌋ , 安全性未知', false, 3000);
        setTimeout(() => {
            window.open(link.link, "_blank")
        }, 3000)
    }

if theme.footer.randomlink
    script.
        function randomLinksList() {
            const linkcard = document.getElementById('friend-links-in-footer');
            if (linkcard == null) return;

            let data = '';
            let linksCopy = [...links];
            let count = Math.min(3, linksCopy.length);

            for (let i = 0; i < count; i++) {
                let index = utils.randomNum(linksCopy.length);
                const {link, name} = linksCopy[index];
                data += `<a class="footer-item" href="${link}" target="_blank" rel="noopener noreferrer nofollow">${name}</a>`;
                linksCopy.splice(index, 1);
            }

            linkcard.innerHTML = data + '<a class="footer-item" href="/links/">更多</a>';
        }