figure.highlight
  table::-webkit-scrollbar
    color var(--efu-secondbg)
    height 6px
    background var(--efu-hl-bg)
    border-radius 6px
    display initial

  .keyword
  .attr
  .variable
  .literal
  .property
    color $highlight-variable-light

  .number
    color $highlight-number-light

  .string
    color $highlight-string-light

  .built_in
  .title
  .params
  .name
    color $highlight-title-light

  .emphasis
    color $highlight-emphasis-light

  [data-theme=dark] &  
    .keyword
    .attr
    .variable
    .property
      color $highlight-variable-dark

    .number
      color $highlight-number-dark

    .string
      color $highlight-string-dark

    .built_in
    .built_in
    .title
    .params
      color $highlight-title-dark

    .emphasis
      color $highlight-emphasis-dark