<nav id="pagination">
    <div class="pagination">
        <% const options = {
            mid_size: 1,
            escape: false,
            next_text: '<div class="pagination_tips_next">下页</div> <i class="scoicon sco-arrow-right-bold"></i>',
            prev_text: '<i class="scoicon sco-arrow-left-bold"></i> <div class="pagination_tips_prev">上页</div>'
        } %>
        <%- paginator(options) %>
    </div>
</nav>