<% if(theme.nav.right.travellings){ %>
    <div class="nav-button only-home" id="travellings_button">
        <a class="site-page"  target="_blank" rel="noopener external nofollow" href="https://www.travellings.cn/go.html" title="开往-友链接力"  width="120">
            <i class="scoicon ri-subway-line" style="font-size: 1rem;"></i>
        </a>
    </div>
<% } %>
<% if(theme.nav.right.random){ %>
    <div class="nav-button" id="randomPost_button">
        <a class="site-page" onclick="toRandomPost()"
            title="随机前往一个文章">
            <i class="scoicon ri-signal-tower-fill" style="font-size: 1rem;"></i>
        </a>
    </div>
<% } %>
<% if(theme.thirdparty.search.algolia_search.enable || theme.thirdparty.search.local_search.enable){ %>
    <div class="nav-button" id="search-button">
        <a class="site-page social-icon search" title="站内搜索"
            href="javascript:void(0);" rel="external nofollow">
            <i class="scoicon ri-search-2-line" style="font-size: 1rem;"></i>
        </a>
    </div>
<% } %>
<% if(theme.nav.right.console){ %>
    <div class="nav-button" id="nav-console">
        <a class="console_switchbutton" onclick="sco.showConsole()"
        title="显示中控台" href="javascript:void(0);" rel="external nofollow">
        <i class="scoicon ri-layout-masonry-fill" style="font-size: 1rem;"></i>
        </a>
    </div>
<% } %>
<div class="nav-button" id="nav-totop" onclick="sco.toTop()">
    <a class="totopbtn">
        <i class="scoicon ri-arrow-up-line"></i>
        <span id="percent">0</span>
    </a>
</div>
<div id="toggle-menu">
    <a class="site-page">
        <i class="scoicon ri-menu-fill" style="font-size: 1rem;"></i>
    </a>
</div>