- const {use,avatar} = theme.comment

if use
    case use[0]
        when "Valine"
            include ./valine
        when "Twikoo"
            include ./twikoo
        when "Waline"
            include ./waline
        when "Artalk"
            include ./artalk