<div id="post-comment" view-image>
    <div class="comment-head">
        <div class="comment-headline">
            <i class="scoicon sco-chat-fill"></i>
            <span> 评论</span>
        </div>
    </div>
    <div class="comment-wrap">
        <div id="comment"></div>
        <%- partial('partial/compoment/third-party/comments/twikoo', {cache: true}) %>
    </div>
</div>