<div class="bbTimeList container" id="bbTimeList">
    <i class="bber-logo scoicon sco-says" onclick="pjax.loadUrl('/essay/')" style="font-size: 1rem;"></i>
    <div class="swiper-container swiper-no-swiping swiper-container-initialized swiper-container-vertical swiper-container-pointer-events"
        id="bbtalk" tabindex="-1" onclick="pjax.loadUrl('/essay/')">
        <div class="swiper-wrapper" id="bber-talk">
            <% for(i in site.data.essay.essay_list){ %>
                <% const item = site.data.essay.essay_list[i];if(i >= 10)break; %>
                <div class="li-style swiper-slide">
                    <%= item.image ? item.content + '【图片】' : item.content %>
                </div>
            <% } %>
        </div>
    </div>
    <i class="bber-gotobb scoicon sco-right-btn-fill" style="font-size: 1rem" title="查看全文" onclick="pjax.loadUrl('/says/')"></i>
</div>