#article-container .aplayer {
  margin: 0 0 1rem
}

#article-container .aplayer ol, #article-container .aplayer ul {
  margin: 0;
  padding: 0
}

#article-container .aplayer ol li, #article-container .aplayer ul li {
  margin: 0;
  padding: 0 15px
}

#article-container .aplayer ol li::before, #article-container .aplayer ul li::before {
  content: none
}

.aplayer .aplayer-list ol {
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transform: translateZ(0)
}

.aplayer .aplayer-lrc:after {
  display: none !important
}

.aplayer.aplayer-withlrc.aplayer-withlist {
  border-radius: 12px
}

#article-container .aplayer {
  border-radius: 12px;
  min-height: 90px;
  background: var(--sco-card-bg);
  border: var(--style-border);
  box-shadow: var(--sco-shadow-border)
}

