// 用了记得给我的主题点个star喔😍
#comment
  .wl-comment
    position relative

  .wl-panel
    flex 1
    display flex
    flex-direction column

  .wl-editor
    order 0
    transition all .3s ease 0s
    position relative
    display inline-block
    width 100%
    vertical-align bottom
    font-size 14px
    min-height 8.75em
    background-color var(--efu-card-bg)
    resize vertical
    line-height 1.5
    box-sizing border-box
    background var(--efu-secondbg)
    color var(--efu-fontcolor)
    border-radius 12px
    padding 16px 16px 40px 16px
    border var(--style-border-always)
    box-shadow none

    &:focus
      outline none
      border var(--style-border-hover-always)
      box-shadow var(--efu-shadow-main)

  .wl-footer
    position relative
    margin 0
    justify-content space-around

  .wl-emoji-popup
    display none
    position absolute
    left 0
    right 0
    overflow hidden
    max-width 500px
    color #4a4a4a
    top .5rem
    z-index 1000
    border var(--style-border-always)
    border-radius 8px !important
    background-color var(--efu-maskbg)
    backdrop-filter saturate(180%) blur(10px)
    transform translateZ(0)
    animation 0.3s ease 0.1s 1 normal both running donate_effcet

    button
      font-size 20px
      line-height 19px
      list-style-type none
      padding 5px 10px
      border-radius 5px
      display inline-block
      transition .3s
      text-align center

    &.display
      display block

    .wl-tab-wrapper
      max-height 197px
      padding 10px
      padding-right 0
      overflow auto
      font-size 0
      margin 12px 8px
      min-height 197px

    .wl-tabs
      margin 0
      padding 0
      font-size 0
      background var(--efu-background)
      padding-left 8px


  .wl-actions
    flex 1
    display flex
    align-items center
    position absolute
    top -34px
    left 17px
    transition all .3s ease 0s

    .wl-action
      display none
      cursor pointer

      &:hover
        svg
          opacity .8

      &:nth-child(2)
        display flex
        margin-right 10px

      &:nth-child(4)
        display flex

    .upload
      display none

  .wl-gif-popup
    display none

  .wl-info
    position relative

    .wl-text-number
      color var(--efu-secondtext)
      -webkit-user-select none
      position absolute
      font-size 12px
      bottom 5px
      right 10px

  .wl-close
    display none

  .wl-quote
    .wl-card-item
      padding 1rem 0 0

  .wl-reply-wrapper
    order 2
    width 100%

  .wl-header
    order 1
    width calc(100% - 5.5rem)
    display flex
    align-items center
    justify-content space-between
    flex-direction row
    margin .5rem 0
    gap .5rem

    +maxWidth899()
      flex-direction column

    .wl-header-item
      width calc((100% - 1rem) / 3)
      border-radius 12px
      background var(--efu-secondbg)
      border var(--style-border-always)
      display inline-table
      line-height normal
      font-size 13px
      border-collapse separate
      border-spacing 0

      +maxWidth899()
        width 100%

      label
        -webkit-user-select none
        border-radius 10px 0 0 10px
        background-clip padding-box
        padding 0 1rem
        vertical-align middle
        display table-cell
        position relative
        background var(--efu-card-bg)

      input
        width 100%
        vertical-align middle
        display table-cell
        height 32px
        line-height 32px
        border-radius 12px
        padding 8px
        padding-left 16px
        border-left-width 0
        font-size inherit
        background var(--efu-secondbg)
        border none
        color var(--efu-fontcolor)

        &:focus
          outline none
          border none

  .wl-btn
    border-color var(--efu-fontcolor)
    border-radius 12px
    box-shadow var(--efu-shadow-black)
    transition .3s
    width 5rem
    position absolute
    margin-left 0.5rem
    height 34px
    background-color var(--efu-fontcolor)
    border 0 solid var(--efu-main)
    color var(--efu-background)
    top 10px
    right 0
    opacity .2

    +maxWidth899()
      height 122px

    &:hover
      background var(--efu-main)
      color var(--efu-white)

  .wl-power
    padding 0.5em 0
    color var(--efu-gray)
    font-size 0.8em
    text-align end

    a
      color var(--efu-fontcolor)

  .wl-count
    display none

  .wl-sort
    display flex
    justify-content flex-start
    align-items center
    flex-direction row
    gap 0.5rem
    margin-bottom .5rem

    li
      cursor pointer
      background var(--efu-secondbg)
      transition 0.3s
      border var(--style-border-always)
      border-radius 8px
      font-size 14px
      line-height 1
      padding 8px 16px
      display flex
      justify-content center
      align-items center
      color var(--efu-fontcolor)

      &:hover
        background var(--efu-main)
        color var(--efu-white)
        transition 0.3s
        border var(--style-border-hover-always)

      &.active
        background var(--efu-lighttext)
        color var(--efu-background)

  .wl-card-item
    display flex
    flex-direction row
    word-break break-all
    margin-top 0
    margin-bottom 0.5rem
    background var(--efu-card-bg)
    transition .3s
    border-radius 12px
    border-top var(--style-border-dashed)
    padding 1rem 1rem 1.5rem
    overflow hidden

  .wl-user
    flex-shrink 0
    text-align center
    box-shadow var(--efu-shadow-border)
    margin-right 16px
    width 32px
    height 32px
    border-radius 32px
    background-color rgba(144, 147, 153, 0.13)
    cursor pointer
    position relative

    .verified-icon
      position absolute
      bottom -2px
      right -5px

    img
      border-radius 32px

    &:hover
      img
        transform rotate(360deg)

  .wl-head
    display flex
    align-items center

    .wl-nick
      font-weight 700
      color var(--efu-lighttext)
      text-decoration none
      font-size 1rem
      line-height 32px

    .wl-badge
      color #67c23a
      display inline-block
      padding 0 0.5em
      border-radius 4px
      border 0 solid #e1f3d8
      font-size .5rem
      margin-left 4px
      background-color #c0c23a21

    .wl-time
      color var(--efu-secondtext)
      font-size .6rem
      margin-left 0.5rem

  .wl-comment-actions
    display flex
    align-items center
    position absolute
    right 40px
    gap 0.5rem

    button
      color var(--efu-lighttext)
      -webkit-user-select none
      padding 0 12px 0 12px
      transition .3s
      border-radius 8px
      background-color var(--efu-secondbg)
      border var(--style-border-always)
      display flex
      justify-content center
      align-items center

      &:hover
        background-color var(--efu-lighttext)
        color var(--efu-card-bg)

      &.wl-like
        +maxWidth768()
          display none

  .wl-card
    width 100%
    display flex
    flex-direction column

  .wl-meta
    order 2
    margin .5rem 0

    span
      background var(--efu-secondbg)
      border var(--style-border-always)
      padding 1px 5px 1px 2px
      border-radius 8px
      margin-right 4px
      color var(--efu-secondtext)
      display inline
      font-size .5rem
      line-height 1

  .wl-content
    order 1
    margin-top 0.5rem
    overflow auto
    max-height 500px

    p
      margin 0

    img
      max-width 300px
      max-height 300px
      vertical-align middle

    pre
    code
    kbd
    samp
      font-family ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

    pre
      background var(--efu-secondbg)
      padding .5rem
      margin 0.5rem 0
      overflow auto
      border-radius 0.5em

      +maxWidth768()
        max-width 90%

  .wl-quote
    order 3

    +maxWidth768()
      max-width 90%

  .wl-operation
    width 100%

    .wl-btn
      top 0
      margin 0
      width 100%
      position relative
      bottom 52px
      left 0
      cursor pointer
      padding 0.75em
      transition all 0.5s
      font-size 0.75em
      background var(--efu-card-bg)
      color var(--efu-fontcolor)
      border var(--style-border-always)
      box-shadow var(--efu-shadow-border)
      border-radius 12px
      opacity 1
      height auto
      line-height 2

      &:hover
        background var(--efu-lighttext)
        color var(--efu-card-bg)

  .wl-loading
    display flex
    justify-content center
    align-items center

  .wl-emoji
    height 32px
    margin 0 0.2rem

  .wl-empty
    display flex
    justify-content center
    align-items center
    color var(--efu-lighttext)

#page .wl-cards > .wl-card-item
  padding 1rem 1rem 1.5rem
  border var(--style-border)
  border-top var(--style-border)
  box-shadow var(--efu-shadow-border)