#article-container
  .card
    width 100%
    height auto
    display flex
    flex-direction column
    padding .5rem 1rem
    border-radius 0.375rem
    margin .5rem 0

    .card-title
      display flex
      align-items center
      font-size 1.8rem
      font-weight bold

      i
        margin-right 8px
        font-size 20px

    p
      margin 0 0 0 1.5rem

    &.card-red
      background rgba(238, 125, 121, 0.1)
      border 1px solid var(--sco-red)
      color var(--sco-red)

    &.card-green
      background rgb(240 253 244)
      border 1px solid var(--sco-green)
      color var(--sco-green)

    &.card-blue
      background rgb(240 248 253)
      border 1px solid var(--sco-blue)
      color var(--sco-blue)

    &.card-yellow
      background rgb(255 251 240)
      border 1px solid var(--sco-yellow)
      color var(--sco-yellow)

    &.card-purple
      background rgb(243 240 253)
      border 1px solid var(--sco-purple)
      color var(--sco-purple)

    &.card-cyan
      background rgb(240 253 253)
      border 1px solid var(--sco-cyan)
      color var(--sco-cyan)