.bg-red
  background-color var(--sco-red)
  color var(--sco-white)

.bg-green
  background-color var(--sco-green)
  color var(--sco-white)

.bg-blue
  background-color var(--sco-blue)
  color var(--sco-white)

.bg-yellow
  background-color var(--sco-yellow)

.bg-pink
  background-color var(--sco-pink)
  color var(--sco-white)

.bg-purple
  background-color var(--sco-purple)
  color var(--sco-white)

.bg-orange
  background-color var(--sco-orange)
  color var(--sco-white)

.bg-cyan
  background-color var(--sco-cyan)
  color var(--sco-white)

.bg-gray
  background-color var(--sco-gray)
  color var(--sco-white)

.red
  color var(--sco-red)

.green
  color var(--sco-green)

.blue
  color var(--sco-blue)

.yellow
  color var(--sco-yellow)

.pink
  color var(--sco-pink)

.purple
  color var(--sco-purple)

.orange
  color var(--sco-orange)

.cyan
  color var(--sco-cyan)

.gray
  color var(--sco-gray)