.hl-label
  padding: 2px 4px
  border-radius: 3px

  &.bg-red
    background-color: #ff7242
    color: #fff

  &.bg-green
    background-color: #57bd6a
    color: #fff

  &.bg-blue
    background-color: #307af6
    color: #fff

  &.bg-yellow
    background-color: #e5a80d

  &.bg-pink
    background-color: #cf0db9
    color: #fff

  &.bg-purple
    background-color: #9c27b0

  &.bg-orange
    background-color: #ff9800
    color: #fff