#article-container
  .p
    &.left
      text-align left

    &.center
      text-align center

    &.right
      text-align right

    &.small
      font-size .5rem

    &.h1
      font-size 2.5rem

    &.h2
      font-size 1.625rem

    &.h3
      font-size 1.375rem

    &.h4
      font-size 1.125rem

    &.large
      font-size 1.5rem

    &.huge
      font-size 4rem

    &.ultra
      font-size 6rem