<main class="layout" id="content-inner">
    <div id="category">
        <div id="category-bar">
            <div class="category-bar-items" id="category-bar-items">
                <%- partial('partial/compoment/home/homeCategoryBar', {select: page.category}) %>
            </div>
        </div>
        <div class="recent-posts" id="recent-posts">
            <% const currentCategory = page.category; %>
            <% site.posts.each(post => { %>
                <% post.categories.each(category => { %>
                    <% if (category.name === currentCategory) { %>
                        <%- partial('partial/compoment/home/postList', {post: post}) %>
                    <% } %>
                <% }); %>
            <% }); %>
        </div>
        <%- partial('partial/compoment/mixins/pagination') %>
    </div>
    <%- partial('partial/compoment/aside/aside') %>
</main> 