extends includes/layout.pug

block content
    main.layout#content-inner
        #category
            #category-bar
                include includes/widgets/home/categoryBar
            .recent-posts#recent-posts
                each post,index in page.posts.find({ parent: { $exists: false } }).data
                    include includes/widgets/home/postList
                include includes/mixins/pagination
        include includes/widgets/aside/aside