extends includes/layout

block content
    if theme.hometop.enable || (theme.says.home_mini && theme.says.enable)
        #home_top
            if theme.says.home_mini && theme.says.enable
                include ./includes/widgets/home/bbTimeList
            if theme.hometop.enable && is_home_first_page()
                include ./includes/widgets/home/hometop
    main.layout#content-inner
        #home
            #category-bar
                include ./includes/widgets/home/categoryBar
            .recent-posts#recent-posts
                if theme.comment.hot_tip.enable
                    include ./includes/widgets/home/hot/index.pug
                if theme.carousel && is_home_first_page()
                    include ./includes/widgets/home/carousel.pug
                for post, index in page.posts.sort("-sticky" || "-date").data
                    include ./includes/widgets/home/postList

                // pagination
                include ./includes/mixins/pagination
        // aside
        include ./includes/widgets/aside/aside