extends includes/layout.pug

block content
    #home_top
        if theme.says.home_mini
            include ./includes/widgets/home/bbTimeList
        if theme.hometop.banner.enable && is_home_first_page()
            include ./includes/widgets/home/hometop.pug
    main.layout#content-inner
        .recent-posts#recent-posts
            #category-bar
                include ./includes/widgets/home/categoryBar.pug
            for post in page.posts.sort("-sticky" || "-date").data
                include ./includes/widgets/home/postList.pug

            // pageination
            include ./includes/mixins/pagination.pug

        // aside
        include ./includes/widgets/aside/aside.pug