extends includes/layout.pug

block content
  main.layout(class=page.aside ? '' : 'hide-aside', id='content-inner')
    div#page
      if page.type === 'douban'
        - var pageClass = "sharePage"
        include includes/widgets/page/banner

      case page.type
        when 'categories'
          include includes/page/categories
        when 'tags'
          include includes/page/tags
        when 'links'
          include includes/page/links
        when 'tlink'
          include includes/page/tlink
        when 'about'
          include includes/page/about
        when 'says'
          include includes/page/says
        when 'equipment'
          include includes/page/equipment
        when 'moments'
          include includes/page/moments
        when 'echarts'
          include includes/page/echarts
        when 'rss'
          include includes/page/rss
        default
          include includes/page/default
      if page.comment
        include includes/widgets/third-party/comments/comment
    if page.aside
      include includes/widgets/aside/aside