$highlight_color = hexo-config('highlight.color')

if $highlight_color == "default"
  $highlight-comment = #969896
  $highlight-red = #FF5370
  $highlight-orange = #F78C6C
  $highlight-yellow = #FFCB6B
  $highlight-green = #C3E88D
  $highlight-aqua = #89DDFF
  $highlight-blue = #82AAFF
  $highlight-purple = #C792EA
  $highlight-deletion = #BF42BF
  $highlight-addition = #105EDE
else if $highlight_color == "dark"
  $highlight-comment = #6272A4
  $highlight-red = #FF5370
  $highlight-orange = #F78C6C
  $highlight-yellow = #FFCB6B
  $highlight-green = #C3E88D
  $highlight-aqua = #89DDFF
  $highlight-blue = #82AAFF
  $highlight-purple = #C792EA
  $highlight-deletion = #BF42BF
  $highlight-addition = #105EDE
else if $highlight_color == "funky"
  $highlight-comment = #6272A4
  $highlight-red = #FF5370
  $highlight-orange = #FFCB6B
  $highlight-yellow = #C3E88D
  $highlight-green = #89DDFF
  $highlight-aqua = #82AAFF
  $highlight-blue = #C792EA
  $highlight-purple = #FF5370
  $highlight-deletion = #F07178
  $highlight-addition = #C3E88D
else if $highlight_color == "okaidia"
  $highlight-comment = #6272A4
  $highlight-red = #FF5370
  $highlight-orange = #FFCB6B
  $highlight-yellow = #C3E88D
  $highlight-green = #89DDFF
  $highlight-aqua = #82AAFF
  $highlight-blue = #C792EA
  $highlight-purple = #FF5370
  $highlight-deletion = #F07178
  $highlight-addition = #C3E88D
else if $highlight_color == "tomorrow"
  $highlight-comment = #6272A4
  $highlight-red = #FF5370
  $highlight-orange = #F78C6C
  $highlight-yellow = #FFCB6B
  $highlight-green = #C3E88D
  $highlight-aqua = #89DDFF
  $highlight-blue = #82AAFF
  $highlight-purple = #C792EA
  $highlight-deletion = #BF42BF
  $highlight-addition = #105EDE
else if $highlight_color == "twilight"
  $highlight-comment = #6272A4
  $highlight-red = #FF5370
  $highlight-orange = #F78C6C
  $highlight-yellow = #FFCB6B
  $highlight-green = #C3E88D
  $highlight-aqua = #89DDFF
  $highlight-blue = #82AAFF
  $highlight-purple = #C792EA
  $highlight-deletion = #BF42BF
  $highlight-addition = #105EDE
else if $highlight_color == "darcula"
  $highlight-comment = #6272A4
  $highlight-red = #FF5370
  $highlight-orange = #F78C6C
  $highlight-yellow = #FFCB6B
  $highlight-green = #C3E88D
  $highlight-aqua = #89DDFF
  $highlight-blue = #82AAFF
  $highlight-purple = #C792EA
  $highlight-deletion = #BF42BF
  $highlight-addition = #105EDE
else if $highlight_color == "material"
  $highlight-comment = #546E7A
  $highlight-red = #FF5370
  $highlight-orange = #FFCB6B
  $highlight-yellow = #C3E88D
  $highlight-green = #89DDFF
  $highlight-aqua = #82AAFF
  $highlight-blue = #C792EA
  $highlight-purple = #FF5370
  $highlight-deletion = #F07178
  $highlight-addition = #C3E88D
else if $highlight_color == "solarized-light"
  $highlight-comment = #93A1A1
  $highlight-red = #DC322F
  $highlight-orange = #CB4B16
  $highlight-yellow = #B58900
  $highlight-green = #859900
  $highlight-aqua = #2AA198
  $highlight-blue = #268BD2
  $highlight-purple = #6C71C4
  $highlight-deletion = #D33682
  $highlight-addition = #859900
else if $highlight_color == "solarized-dark"
  $highlight-comment = #657B83
  $highlight-red = #DC322F
  $highlight-orange = #CB4B16
  $highlight-yellow = #B58900
  $highlight-green = #859900
  $highlight-aqua = #2AA198
  $highlight-blue = #268BD2
  $highlight-purple = #6C71C4
  $highlight-deletion = #D33682
  $highlight-addition = #859900
else if $highlight_color == "github"
  $highlight-comment = #969896
  $highlight-red = #D73A49
  $highlight-orange = #BD2C00
  $highlight-yellow = #E5C07B
  $highlight-green = #28A745
  $highlight-aqua = #00A9C0
  $highlight-blue = #0366D6
  $highlight-purple = #6F42C1
  $highlight-deletion = #D73A49
  $highlight-addition = #28A745
else
  $highlight-comment = #6272A4
  $highlight-red = #FF5370
  $highlight-orange = #F78C6C
  $highlight-yellow = #FFCB6B
  $highlight-green = #C3E88D
  $highlight-aqua = #89DDFF
  $highlight-blue = #82AAFF
  $highlight-purple = #C792EA
  $highlight-deletion = #BF42BF
  $highlight-addition = #105EDE