$highlight_color = hexo-config('highlight.color')

if $highlight_color == "default"
  $highlight-variable-dark = #569CD6
  $highlight-number-dark = #B5CEA8
  $highlight-string-dark = #CE9178
  $highlight-title-dark = #DCDCAA
  $highlight-emphasis-dark = #6A9955
  $highlight-variable-light = #0000FF
  $highlight-number-light = #098658
  $highlight-string-light = #A31515
  $highlight-title-light = #795E26
  $highlight-emphasis-light = #0451A5
  $highlight-parameter-dark = #FFB86C
  $highlight-parameter-light = #FFB86C
  $highlight-comment-dark = $highlight-string-dark
  $highlight-comment-light = $highlight-string-light
  $highlight-deleted = #f00
  $highlight-inserted = #35cd4b
else if $highlight_color == "solidity"
  $highlight-variable-dark = #D74BDE
  $highlight-number-dark = #8DA1A0
  $highlight-string-dark = #5B876D
  $highlight-title-dark = #D74BDE
  $highlight-emphasis-dark = #BA9C23
  $highlight-variable-light = #0000FF
  $highlight-number-light = #098658
  $highlight-string-light = #A31515
  $highlight-title-light = #795E26
  $highlight-emphasis-light = #0451A5
  $highlight-parameter-dark = #FFB86C
  $highlight-parameter-light = #FFB86C
  $highlight-comment-dark = $highlight-string-dark
  $highlight-comment-light = $highlight-string-light
  $highlight-deleted = #f00
  $highlight-inserted = #35cd4b
else if $highlight_color == "dracula"
  $highlight-variable-dark = #FF79C6
  $highlight-number-dark = #BD93F9
  $highlight-string-dark = #F1FA8C
  $highlight-title-dark = #50FA7B
  $highlight-emphasis-dark = #8BE9FD
  $highlight-variable-light = #FF79C6
  $highlight-number-light = #BD93F9
  $highlight-string-light = #A31515
  $highlight-title-light = #795E26
  $highlight-emphasis-light = #0451A5
  $highlight-parameter-dark = #FFB86C
  $highlight-parameter-light = #FFB86C
  $highlight-comment-dark = #6272A4
  $highlight-comment-light = #6272A4
  $highlight-important-dark = #BD93F9
  $highlight-important-light = #BD93F9
  $highlight-deleted = #f00
  $highlight-inserted = #35cd4b
else 
  $highlight-variable-dark = #569CD6
  $highlight-number-dark = #B5CEA8
  $highlight-string-dark = #CE9178
  $highlight-title-dark = #DCDCAA
  $highlight-emphasis-dark = #6A9955
  $highlight-variable-light = #0000FF
  $highlight-number-light = #098658
  $highlight-string-light = #A31515
  $highlight-title-light = #795E26
  $highlight-emphasis-light = #0451A5
  $highlight-parameter-dark = #FFB86C
  $highlight-parameter-light = #FFB86C
  $highlight-comment-dark = $highlight-string-dark
  $highlight-comment-light = $highlight-string-light
  $highlight-deleted = #f00
  $highlight-inserted = #35cd4b