favicon = hexo-config('aside.flip.favicon')
face = hexo-config('aside.flip.face')
faceback = hexo-config('aside.flip.backface')
backcolor = convert(hexo-config('aside.flip.backcolor'))

#aside-content
  .card-widget.card-platform
    background backcolor
    display flex
    justify-content center
    align-content center
    padding 0
    cursor pointer
    border none
    height 110px
    border var(--style-border)
    transition 0.6s

    &:before
      position absolute
      width 100%
      height 100%
      left 0
      top 0
      background url(favicon) center center no-repeat
      content ''
      background-size cover
      transition .2s cubic-bezier(.45, .04, .43, 1.21)

    &:hover:before
      top 100%
      opacity 0
      transition .3s ease-out

    &:hover
      #flip-content
        transform rotateY(180deg)

    #flip-wrapper
      perspective 1000
      position relative
      width 235px
      height 110px
      z-index 1

    #flip-wrapper #flip-content
      width 100%
      height 100%
      transform-style preserve-3d
      transition cubic-bezier(0, 0, 0, 1.29) 0.3s

    #flip-wrapper #flip-content .face
      position absolute
      width 100%
      height 100%
      -webkit-backface-visibility hidden
      backface-visibility hidden
      background url(face) center center no-repeat
      background-size 100%

    #flip-wrapper #flip-content .face.back
      display block
      -webkit-transform rotateY(180deg)
      transform rotateY(180deg)
      box-sizing border-box
      background url(faceback) center center no-repeat
      background-size 100%