#aside-content
  .card-history
    .swiper-wrapper
      flex-direction column

    .history_slide
      text-align left
      display flex !important
      flex-direction column
      align-items flex-start

    #history-baidu
      height 100px
      overflow hidden
      > .blog-slider__pagination
        display none

      .history_swiper-containe
        .swiper-wrapper
          height 20px

    .history_slide_time
      color var(--sco-secondtext)
      font-size 14px
      font-style italic
      font-weight lighter

    .history_slide_link
      line-height 1.5
      -webkit-line-clamp 2
      display -webkit-box
      overflow hidden
      -webkit-box-orient vertical

      a
        color var(--sco-main)
        padding 0 4px
        border-radius 4px

        &:hover
          color var(--sco-white)
          background var(--sco-main)