#aside-content
  .card-power
    .power-charge
      margin-left auto
      color var(--sco-secondtext)
      font-size 14px
      line-height 1

      &:hover
        color var(--sco-lighttext)

    #power-star
      display flex
      padding 8px
      border var(--style-border-always)
      border-radius 8px
      flex-direction row
      flex-wrap nowrap
      justify-content flex-start
      position relative
      margin 12px 0
      background var(--sco-secondbg)
      transition .3s ease-out
      cursor pointer

      &:hover
        background var(--sco-main)
        color var(--sco-white)
        box-shadow var(--sco-shadow-theme)

        #power-star-image
          transform scale(.9)

      #power-star-image
        width 60px
        height 60px
        border-radius 60px
        background-size cover
        margin-right 12px
        border var(--style-border-always)
        transition .3s ease-out

      #power-star-title
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        font-size 16px
        font-weight 700
        line-height 1
        margin-bottom 8px

      #power-star-desc
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 2
        overflow hidden
        font-size 12px
        max-width 100%
        line-height 1.2

      .power-star-body
        display flex
        flex-direction column
        align-items flex-start
        flex-wrap wrap
        position relative
        width calc(100% - 68px)
        justify-content center

    .power-list
      display flex
      flex-direction row
      flex-wrap wrap
      margin 0 -4px

      .power-item-body
        display flex
        flex-direction row
        flex-wrap wrap

      .power-item
        .power-item-link
          a
            padding 2px 4px
            border-radius 4px
            margin-left 8px

            &:hover
              background var(--sco-main)
              color var(--sco-white)