#aside-content
  #welcome-info
    overflow hidden
    margin-top 4px

    .welcome-time
      width 100%
      margin 12px 0 0
      display inline-flex

    .welcome-message
      width 100%
      margin-bottom 8px
      display inline-flex