#gallery
  padding 16px 0
  display flex
  flex-wrap wrap
  -webkit-box-pack start
  justify-content flex-start
  margin -8px
  -webkit-box-align stretch
  align-items stretch

#album
  margin 5px auto

  .locate
    display flex
    position absolute
    left 8px
    top 8px
    padding 4px 6px
    border-radius 8px
    background var(--efu-black-op)
    font-size 12px
    color var(--efu-white)
    transition .3s
    z-index 1
    user-select none

  .st-gallery-item
    margin-bottom 24px
    overflow hidden
    border-radius 8px
    transition all .3s
    border var(--style-border-always)

  .st-gallery-image
    width 100%
    display block
    height auto