<div>
    <%- partial('partial/compoment/inject/body', {cache: true}) %>
    <%- partial('partial/compoment/third-party/pjax', {cache: true}) %>
    <% if (theme.extends.body) for (const i of theme.extends.body){ %>
        <%- i %>
    <% } %>
</div>