<div id="console" style="zoom: 1;" class="">
    <div class="close-btn" onclick="sco.hideConsole()" href="javascript:void(0);">
        <i class="ri-close-fill"></i>
    </div>
    <% if(theme.thirdparty.consolePlus){ %>
        <div class="console-card-group">
            <div class="console-card-group-left">
                <div class="console-card" id="card-newest-comments" onclick="sco.hideConsole()">
                    <div class="card-content">
                        <div class="author-content-item-tips">互动</div>
                        <div class="author-content-item-title">最新评论</div>
                    </div>
                    <div class="aside-list"></div>
                </div>

            </div>
            <div class="console-card-group-right">
                <div class="console-card tags" onclick="sco.hideConsole()">
                    <div class="card-content">
                        <div class="author-content-item-tips">标签</div>
                        <div class="author-content-item-title">寻找感兴趣的领域</div>
                    </div>
                    <div class="card-tag-cloud">
                        <% site.tags.data.forEach(data => { %>
                            <a href="<%= url_for(data.path) %>"
                               style="font-size: 0.8rem; color: #d3d3d3"><%= data.name %>
                                <sup><%= data.length %></sup></a>
                        <% }) %>
                    </div>
                </div>
                <div class="console-card history" onclick="sco.hideConsole()">
                    <%- partial('partial/compoment/aside/asideArchive', {type: 'month'}) %>
                </div>
            </div>
        </div>
    <% } %>

    <div class="button-group">
        <div class="console-btn-item">
            <a class="darkmode_switchbutton" onclick="sco.switchDarkMode()" title="显示模式切换"
               href="javascript:void(0);" rel="external nofollow" data-pjax-state="">
                <i class="ri-contrast-2-fill" style="font-size: 1rem;"></i>
            </a>
        </div>
        <% if(theme.thirdparty.aplayer.enable){ %>
            <div class="console-btn-item" id="consoleMusic" onclick="sco.musicToggle()" title="音乐开关">
                <a class="music-switch">
                    <i class="ri-disc-fill"></i>
                </a>
            </div>
        <% } %>
        <% if(theme.comment.enable) { %>
            <div class="console-btn-item on" id="consoleCommentBarrage" onclick="sco.switchCommentBarrage()"
                 title="热评开关">
                <a class="commentBarrage">
                    <i class="ri-message-3-fill"></i>
                </a>
            </div>
        <% }%>
    </div>
    <div class="console-mask" onclick="sco.hideConsole()" href="javascript:void(0);" rel="external nofollow"></div>
</div>