<div class="recent-top-post-group" id="recent-top-post-group">
    <div class="recent-post-top" id="recent-post-top">
        <div id="bannerGroup">
            <div id="banners">
                <%- partial('partial/compoment/hometop/groupTag') %>
            </div>
            <div class="categoryGroup">
                <%- partial('partial/compoment/hometop/categoryGroup') %>
            </div>
        </div>
        <div class="topGroup">
            <%- partial('partial/compoment/hometop/topGroup') %>
        </div>
    </div>
</div>