<div id="loading-box" onclick="preloader.endLoading();" class style="zoom: 1;">
    <div class="loading-bg">
        <img class="loading-img nolazyload" alt="loading image"
            src="<%= theme.site.icon %>">
        </div>
</div>
<script>
    const preloader = {
        endLoading: () => {
            document.getElementById('loading-box').classList.add("loaded")
        },
        initLoading: () => {
            document.getElementById('loading-box').classList.remove("loaded")
        },
        removePaceDone: () => {
            document.getElementById('body').classList = 'pace-done'
        }
    }
    window.addEventListener('load',()=> { preloader.endLoading() })
    document.addEventListener('pjax:send', () => { preloader.initLoading() })
    document.addEventListener('pjax:complete', () => { preloader.endLoading() })
</script>
<style>
    #loading-box {
        -webkit-user-select: none;
    }

    #loading-box .loading-bg {
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        background: var(--sco-background);
        z-index: 1999;
        opacity: 1;
        transition: 0.2s;
        pointer-events: all;
        animation: showLoading 0.3s 0s backwards;
    }

    #loading-box.loaded .loading-bg {
        pointer-events: none;
        transition: 0.2s;
        animation: hideLoading 0.3s 0s forwards;
    }

    #loading-box .loading-img {
        width: 100px;
        margin: auto;
        animation-duration: 0.2s;
        animation-name: loadingAction;
        border-radius: 50px;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes loadingAction {
        from {
            opacity: 1;
        }

        to {
            opacity: 0.6;
        }
    }

    @keyframes hideLoading {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes showLoading {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>