.length-num#waline_allcount
  i.solitude.fas.fa-spinner.fa-spin

script(pjax).
  (async () => {
    await fetch('!{theme.waline.envId}/api/comment?type=count', {method: 'GET'}).then(async res => res.json())
      .then(async data => {
        document.querySelector('#waline_allcount').innerHTML = data.data
      })
  })()
