.comment-barrage {
    position: fixed;
    bottom: 0px;
    right: 20px;
    padding: 0px 0px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    z-index: 999;
    transition: all 0.3s ease 0s;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .comment-barrage {
        display: none !important;
    }
}

.comment-barrage-item {
    min-width: 300px;
    max-width: 300px;
    width: fit-content;
    min-height: 80px;
    max-height: 150px;
    margin: 4px;
    padding: 8px 14px;
    background: var(--sco-maskbgdeep);
    border-radius: 8px;
    color: var(--sco-fontcolor);
    animation: 0.6s cubic-bezier(0.42, 0, 0.3, 1.11) 0s 1 normal none running barrageIn;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    border: var(--style-border);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    box-shadow: var(--sco-shadow-border);
    overflow: hidden;
}

.comment-barrage-item:hover {
    border: var(--style-border-hover);
    box-shadow: var(--sco-shadow-main);
}

.comment-barrage-item.out {
    opacity: 0;
    animation: 0.6s cubic-bezier(0.42, 0, 0.3, 1.11) 0s 1 normal none running barrageOut;
}

.comment-barrage-item.hovered {
    opacity: 0;
}

.comment-barrage-item .comment-barrage-close {
    color: var(--sco-secondtext);
    cursor: pointer;
    line-height: 1;
    margin: 4px;
}

.comment-barrage-item .comment-barrage-close:hover {
    color: var(--sco-main);
}

.comment-barrage-item .comment-barrage-close .heofont {
    color: var(--sco-fontcolor);
    font-size: 18px !important;
}

.comment-barrage-item pre {
    display: none;
}

.comment-barrage-item li {
    display: none;
}

.comment-barrage-item p img:not(.tk-owo-emotion) {
    display: none;
}

.comment-barrage-item p img.tk-owo-emotion {
    width: 16px;
    padding: 0px;
    margin: 0px;
    transform: translateY(2px);
}

.comment-barrage-item blockquote {
    display: none;
}

.comment-barrage-item br {
    display: none;
}

.comment-barrage-item .barrageHead {
    height: 30px;
    padding: 0px 0px 6px;
    line-height: 30px;
    font-size: 12px;
    border-bottom: var(--style-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.comment-barrage-item .barrageHead .barrageTitle {
    color: var(--sco-card-bg);
    margin-right: 8px;
    background: var(--sco-fontcolor);
    line-height: 1;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
}

.comment-barrage-item .barrageHead .barrageTitle:hover {
    background: var(--sco-main);
    color: var(--sco-white);
}

.comment-barrage-item .barrageAvatar {
    width: 16px;
    height: 16px;
    margin: 0px 8px 0px auto;
    border-radius: 50%;
    background: var(--sco-secondbg);
}

.comment-barrage-item .barrageContent {
    height: calc(100% - 30px);
    overflow: hidden;
    width: fit-content;
    max-height: 48px;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.comment-barrage-item .barrageContent a {
    pointer-events: none;
    font-size: 14px !important;
}

.comment-barrage-item .barrageContent::-webkit-scrollbar {
    height: 0px;
    width: 4px;
}

.comment-barrage-item .barrageContent::-webkit-scrollbar-button {
    display: none;
}

.comment-barrage-item p {
    margin: 8px 0px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 14px;
    max-width: 270px;
}

.comment-barrage-item .barrageContent h1, .comment-barrage-item .barrageContent h2, .comment-barrage-item .barrageContent h3, .comment-barrage-item .barrageContent h4 {
    font-size: 14px !important;
    font-weight: 400 !important;
    margin: 8px 0px !important;
}
