@media screen and (min-width: 900px) {
    #page-header #nav a:hover .scoicon {
        transition: .3s;
        opacity: 0;
    }
}

#sidebar-menus .menus_item .not-child {
    padding: 4px 8px !important;
    width: 100%;
    background: var(--sco-card-bg);
    border-radius: 8px;
    border: var(--style-border-always);
    align-items: center;
    font-size: 14px !important;
    margin: 10px 0;
    justify-content: center;
}

#sidebar-menus .menus_item .not-child span {
    color: var(--sco-fontcolor) !important;
}

.meta-secondline > span {
    opacity: .6;
    transition: .3s;
    margin-right: 1.1rem;
}

#category #category-bar {
    border-radius: 0;
}

#article-container .highlight-tools {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    min-height: 1.2rem;
    height: 2.15em;
    background: var(--sco-secondbg);
    border-bottom: var(--style-border-always);
    color: var(--sco-fontcolor);
    font-size: var(--global-font-size);
}

#article-container .highlight-tools .copy-button {
    position: absolute;
    right: 0.7rem;
    cursor: pointer;
    transition: color .2s;
    font-size: 18px;
}

#article-container .highlight-tools .code-lang {
    position: absolute;
    font-weight: 700;
    font-size: 1.15em;
    user-select: none;
    left: 0.6rem;
}

#article-container .code-expand-btn.expand-done {
    display: none !important;
}


#article-container .bilibili_box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: var(--sco-card-bg);
    border: var(--style-border-always);
    border-radius: 10px;
    overflow: hidden;
    color: var(--sco-fontcolor) !important;
    text-decoration: none !important;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s
}

#article-container .bilibili_box:hover {
    border-color: var(--sco-theme)
}

@media screen and (max-width: 768px) {
    #article-container .bilibili_box {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#article-container .bilibili_box .bilibili_cover {
    width: 200px;
    position: relative
}

@media screen and (max-width: 768px) {
    #article-container .bilibili_box .bilibili_cover {
        width: 100%
    }
}

#article-container .bilibili_box .bilibili_cover img {
    width: 100%;
    filter: none;
    margin: 0 !important;
    border-radius: 0 !important
}

#article-container .bilibili_box .bilibili_cover .play_icon {
    position: absolute;
    width: 45px;
    height: 45px;
    opacity: .8;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#article-container .bilibili_box .bilibili_cover span {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #fff;
}

#article-container .bilibili_box .bilibili_info {
    padding: 10px 10px 10px 18px;
    width: calc(100% - 200px);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

@media screen and (max-width: 768px) {
    #article-container .bilibili_box .bilibili_info {
        width: 100%;
        padding-bottom: 25px
    }
}

#article-container .bilibili_box .bilibili_info .title {
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 1.7
}

#article-container .bilibili_box .bilibili_info .stat {
    font-size: 15px
}

#article-container .bilibili_box .bilibili_info .stat svg {
    margin-right: 3px;
    font-size: 18px;
    vertical-align: -0.15em;
}

#article-container .bilibili_box .bilibili_info .stat svg path {
    fill: #99a9bf
}

#article-container .bilibili_box .bilibili_info .stat span {
    margin-right: 10px
}

#article-container .bilibili_box .bilibili_info .owner {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: 1;
    font-size: 15px;
    margin-top: 3px
}

#article-container .bilibili_box .bilibili_info .owner .tip {
    color: #f69;
    border: 1px solid;
    padding: 4px 7px;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 10px
}

#article-container .bilibili_box .bilibili_info .owner img {
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
    object-fit: cover;
    margin: 0 5px 0 0 !important
}

[data-theme=dark] #article-container .bilibili_box .bilibili_cover,
[data-theme=light] #article-container .bilibili_box .bilibili_info .stat svg {
    opacity: .8
}


/* TAG Link */

#post a.link-card {
    text-decoration: none;
    margin: 0.2rem auto;
    background: var(--tab-botton-bg);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-size: 0.575rem;
    min-width: 200px;
    max-width: 361px;
    color: var(--tab-botton-color);
    border-radius: 8px;
}

@media screen and (max-width: 425px) {
    #post a.link-card {
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    #post a.link-card {
        width: 100%;
    }
}

#post a.link-card:hover {
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
}

#post a.link-card div.left,
#post a.link-card div.right {
    pointer-events: none;
}

#post a.link-card div.left {
    width: 48px;
    height: 48px;
    margin: 12px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
}

#post a.link-card div.left i {
    font-size: 32px;
    line-height: 48px;
    margin-left: 4px;
}

#post a.link-card div.left img {
    display: block;
    position: absolute;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#post a.link-card div.right {
    overflow: hidden;
    margin-right: 12px;
}

#post a.link-card p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#post a.link-card p.text {
    font-weight: bold;
}

#post a.link-card p.url {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: var(--search-input-color);
    font-size: 0.7125rem;
}


/* TAG 时间线 */
span.p.h2,
p.p.h2 {
    font-size: 1.375rem;
    color: var(--sco-fontcolor);
    padding-top: 0.8rem;
    border-bottom: 1px solid var(--hr-border);
}

div.timenode {
    position: relative;
}

div.timenode:before,
div.timenode:after {
    content: "";
    z-index: 1;
    position: absolute;
    background: var(--sco-theme);
    width: 2px;
    left: 7px;
}

div.timenode:before {
    top: 0px;
    height: 6px;
}

div.timenode:after {
    top: 26px;
    height: 100%;
}

div.timenode:last-child:after {
    height: calc(100% - 26px - 16px);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

div.timenode .meta {
    position: relative;
    color: var(--tab-botton-color);
    font-size: 0.375rem;
    line-height: 32px;
    height: 32px;
    left: 27px;
}

div.timenode .meta:before,
div.timenode .meta:after {
    content: "";
    position: absolute;
    top: 8px;
    z-index: 2;
    left: -27px;
}

div.timenode .meta:before {
    background: var(--sco-theme);
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

div.timenode .meta:after {
    background: var(--sco-theme);
    margin-left: 2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    transform: scale(0.5);
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}

div.timenode .meta p {
    font-weight: bold;
    margin: 0 0 0 24px;
}

div.timenode .body {
    margin: 4px 0 16px 24px;
    padding: 16px;
    border-radius: 8px;
    background: var(--blockquote-bg);
}

div.timenode .body p:first-child {
    margin-top: 0;
}

div.timenode .body p:last-child {
    margin-bottom: 0;
}

div.timenode:hover .meta {
    color: var(--sco-theme);
}

div.timenode:hover .meta:before {
    background: rgba(255, 87, 34, 0.5);
}

div.timenode:hover .meta:after {
    background: #ff5722;
    transform: scale(1);
}


/*
 * home list
*/
.recent-post-item .recent-post-info .recent-post-info-top #post-list-tips {
    font-size: 15px;
    color: #555535;
}

/**
  * Note
 */

.note {
    position: relative;
    margin: 0 0 1rem;
    padding: 15px;
    border-radius: 3px
}

.note.icon {
    padding-left: 2.25rem
}

.note > .note-icon {
    position: absolute;
    top: calc(50% - .4rem);
    left: .7rem;
    font-size: larger
}

.note.blue:not(.disabled) {
    border-left-color: #428bca !important
}

.note.blue:not(.disabled).modern {
    color: #428bca;
    border-left-color: transparent !important
}

.note.blue:not(.disabled):not(.simple) {
    background: #e3eef7 !important
}

.note.blue > .note-icon {
    color: #428bca
}

.note.pink:not(.disabled) {
    border-left-color: #ff69b4 !important
}

.note.pink:not(.disabled).modern {
    color: #ff69b4;
    border-left-color: transparent !important
}

.note.pink:not(.disabled):not(.simple) {
    background: #ffe9f4 !important
}

.note.pink > .note-icon {
    color: #ff69b4
}

.note.red:not(.disabled) {
    border-left-color: red !important
}

.note.red:not(.disabled).modern {
    color: red;
    border-left-color: transparent !important
}

.note.red:not(.disabled):not(.simple) {
    background: #ffd9d9 !important
}

.note.red > .note-icon {
    color: red
}

.note.purple:not(.disabled) {
    border-left-color: #6f42c1 !important
}

.note.purple:not(.disabled).modern {
    color: #6f42c1;
    border-left-color: transparent !important
}

.note.purple:not(.disabled):not(.simple) {
    background: #e9e3f6 !important
}

.note.purple > .note-icon {
    color: #6f42c1
}

.note.orange:not(.disabled) {
    border-left-color: #ff8c00 !important
}

.note.orange:not(.disabled).modern {
    color: #ff8c00;
    border-left-color: transparent !important
}

.note.orange:not(.disabled):not(.simple) {
    background: #ffeed9 !important
}

.note.orange > .note-icon {
    color: #ff8c00
}

.note.green:not(.disabled) {
    border-left-color: #5cb85c !important
}

.note.green:not(.disabled).modern {
    color: #5cb85c;
    border-left-color: transparent !important
}

.note.green:not(.disabled):not(.simple) {
    background: #e7f4e7 !important
}

.note.green > .note-icon {
    color: #5cb85c
}

.note.simple {
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #eee;
    border-image: initial
}

.note.modern {
    background-color: #f5f5f5;
    color: #4c4948;
    border: 1px solid transparent !important
}

.note.flat {
    border-top: initial;
    border-right: initial;
    border-bottom: initial;
    border-image: initial;
    border-left: 5px solid #eee;
    background-color: #f9f9f9;
    color: #4c4948
}

.note h2, .note h3, .note h4, .note h5, .note h6 {
    margin-top: 3px;
    margin-bottom: 0;
    border-bottom: initial;
    padding-top: 0 !important
}

.note blockquote:first-child, .note img:first-child, .note ol:first-child, .note p:first-child, .note pre:first-child, .note table:first-child, .note ul:first-child {
    margin-top: 0 !important
}

.note blockquote:last-child, .note img:last-child, .note ol:last-child, .note p:last-child, .note pre:last-child, .note table:last-child, .note ul:last-child {
    margin-bottom: 0 !important;
    font-size: 14px !important
}

.note:not(.no-icon) {
    padding-left: 2.25rem
}

.note:not(.no-icon)::before {
    position: absolute;
    top: calc(50% - 19px);
    left: .7rem;
    font-size: larger
}

.note.default.flat {
    background: #f7f7f7
}

.note.default.modern {
    border-color: #e1e1e1;
    background: #f3f3f3;
    color: #666
}

.note.default.modern a:not(.btn) {
    color: #666
}

.note.default.modern a:not(.btn):hover {
    color: #454545
}

.note.default:not(.modern) {
    border-left-color: #777
}

.note.default:not(.modern) h2, .note.default:not(.modern) h3, .note.default:not(.modern) h4, .note.default:not(.modern) h5, .note.default:not(.modern) h6 {
    color: #777
}

.note.default:not(.no-icon)::before {
    content: "\e0a9"
}

.note.default:not(.no-icon):not(.modern)::before {
    color: #777
}

.note.primary.flat {
    background: #f5f0fa
}

.note.primary.modern {
    border-color: #e1c2ff;
    background: #f3daff;
    color: #6f42c1
}

.note.primary.modern a:not(.btn) {
    color: #6f42c1
}

.note.primary.modern a:not(.btn):hover {
    color: #453298
}

.note.primary:not(.modern) {
    border-left-color: #6f42c1
}

.note.primary:not(.modern) h2, .note.primary:not(.modern) h3, .note.primary:not(.modern) h4, .note.primary:not(.modern) h5, .note.primary:not(.modern) h6 {
    color: #6f42c1
}

.note.primary:not(.no-icon)::before {
    content: "\e0a8"
}

.note.primary:not(.no-icon):not(.modern)::before {
    color: #6f42c1
}

.note.info.flat {
    background: #eef7fa
}

.note.info.modern {
    border-color: #b3e5ef;
    background: #d9edf7;
    color: #31708f
}

.note.info.modern a:not(.btn) {
    color: #31708f
}

.note.info.modern a:not(.btn):hover {
    color: #215761
}

.note.info:not(.modern) {
    border-left-color: #428bca
}

.note.info:not(.modern) h2, .note.info:not(.modern) h3, .note.info:not(.modern) h4, .note.info:not(.modern) h5, .note.info:not(.modern) h6 {
    color: #428bca
}

.note.info:not(.no-icon)::before {
    content: "\e0a7"
}

.note.info:not(.no-icon):not(.modern)::before {
    color: #428bca
}

.note.success.flat {
    background: #eff8f0
}

.note.success.modern {
    border-color: #d0e6be;
    background: #dff0d8;
    color: #3c763d
}

.note.success.modern a:not(.btn) {
    color: #3c763d
}

.note.success.modern a:not(.btn):hover {
    color: #32562c
}

.note.success:not(.modern) {
    border-left-color: #5cb85c
}

.note.success:not(.modern) h2, .note.success:not(.modern) h3, .note.success:not(.modern) h4, .note.success:not(.modern) h5, .note.success:not(.modern) h6 {
    color: #5cb85c
}

.note.success:not(.no-icon)::before {
    content: "\e0a4"
}

.note.success:not(.no-icon):not(.modern)::before {
    color: #5cb85c
}

.note.warning.flat {
    background: #fdf8ea
}

.note.warning.modern {
    border-color: #fae4cd;
    background: #fcf4e3;
    color: #8a6d3b
}

.note.warning.modern a:not(.btn) {
    color: #8a6d3b
}

.note.warning.modern a:not(.btn):hover {
    color: #714f30
}

.note.warning:not(.modern) {
    border-left-color: var(--sco-orange)
}

.note.warning:not(.modern) h2, .note.warning:not(.modern) h3, .note.warning:not(.modern) h4, .note.warning:not(.modern) h5, .note.warning:not(.modern) h6 {
    color: var(--sco-orange)
}

.note.warning:not(.no-icon)::before {
    content: "\e0a5"
}

.note.warning:not(.no-icon):not(.modern)::before {
    color: var(--sco-orange)
}

.note.danger.flat {
    background: #fcf1f2
}

.note.danger.modern {
    border-color: #ebcdd2;
    background: #f2dfdf;
    color: #a94442
}

.note.danger.modern a:not(.btn) {
    color: #a94442
}

.note.danger.modern a:not(.btn):hover {
    color: #84333f
}

.note.danger:not(.modern) {
    border-left-color: #d9534f
}

.note.danger:not(.modern) h2, .note.danger:not(.modern) h3, .note.danger:not(.modern) h4, .note.danger:not(.modern) h5, .note.danger:not(.modern) h6 {
    color: #d9534f
}

.note.danger:not(.no-icon)::before {
    content: "\e0aa"
}

.note.danger:not(.no-icon):not(.modern)::before {
    color: #d9534f
}