#sidebar-menus .menus_item .not-child {
    padding: 4px 8px !important;
    width: 100%;
    background: var(--sco-card-bg);
    border-radius: 8px;
    border: var(--style-border-always);
    align-items: center;
    font-size: 14px !important;
    margin: 10px 0;
    justify-content: center;
}

#sidebar-menus .menus_item .not-child span {
    color: var(--sco-fontcolor) !important;
}

.meta-secondline > span {
    opacity: .6;
    transition: .3s;
    margin-right: 1.1rem;
}

#category #category-bar {
    border-radius: 0;
}

#article-container .highlight-tools {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    min-height: 1.2rem;
    height: 2.15em;
    background: var(--sco-secondbg);
    border-bottom: var(--style-border-always);
    color: var(--sco-fontcolor);
    font-size: var(--global-font-size);
}

#article-container .highlight-tools .copy-button {
    position: absolute;
    right: 0.7rem;
    cursor: pointer;
    transition: color .2s;
    font-size: 18px;
}

#article-container .highlight-tools .code-lang {
    position: absolute;
    font-weight: 700;
    font-size: 1.15em;
    user-select: none;
    left: 0.6rem;
}

#article-container .code-expand-btn.expand-done {
    display: none !important;
}


#article-container .bilibili_box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: var(--sco-card-bg);
    border: var(--style-border-always);
    border-radius: 10px;
    overflow: hidden;
    color: var(--sco-fontcolor) !important;
    text-decoration: none !important;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s
}

#article-container .bilibili_box:hover {
    border-color: var(--sco-theme)
}

@media screen and (max-width: 768px) {
    #article-container .bilibili_box {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

#article-container .bilibili_box .bilibili_cover {
    width: 200px;
    position: relative
}

@media screen and (max-width: 768px) {
    #article-container .bilibili_box .bilibili_cover {
        width: 100%
    }
}

#article-container .bilibili_box .bilibili_cover img {
    width: 100%;
    filter: none;
    margin: 0 !important;
    border-radius: 0 !important
}

#article-container .bilibili_box .bilibili_cover .play_icon {
    position: absolute;
    width: 45px;
    height: 45px;
    opacity: .8;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#article-container .bilibili_box .bilibili_cover span {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #fff;
}

#article-container .bilibili_box .bilibili_info {
    padding: 10px 10px 10px 18px;
    width: calc(100% - 200px);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

@media screen and (max-width: 768px) {
    #article-container .bilibili_box .bilibili_info {
        width: 100%;
        padding-bottom: 25px
    }
}

#article-container .bilibili_box .bilibili_info .title {
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 1.7
}

#article-container .bilibili_box .bilibili_info .stat {
    font-size: 15px
}

#article-container .bilibili_box .bilibili_info .stat svg {
    margin-right: 3px;
    font-size: 18px;
    vertical-align: -0.15em;
}

#article-container .bilibili_box .bilibili_info .stat svg path {
    fill: #99a9bf
}

#article-container .bilibili_box .bilibili_info .stat span {
    margin-right: 10px
}

#article-container .bilibili_box .bilibili_info .owner {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: 1;
    font-size: 15px;
    margin-top: 3px
}

#article-container .bilibili_box .bilibili_info .owner .tip {
    color: #f69;
    border: 1px solid;
    padding: 4px 7px;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 10px
}

#article-container .bilibili_box .bilibili_info .owner img {
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
    object-fit: cover;
    margin: 0 5px 0 0 !important
}

[data-theme=dark] #article-container .bilibili_box .bilibili_cover,
[data-theme=light] #article-container .bilibili_box .bilibili_info .stat svg {
    opacity: .8
}

a.bber-reply {
    cursor: pointer;
}


/* TAG Link */

#post a.link-card {
    text-decoration: none;
    margin: 0.2rem auto;
    background: var(--tab-botton-bg);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-size: 0.575rem;
    min-width: 200px;
    max-width: 361px;
    color: var(--tab-botton-color);
    border-radius: 8px;
}

@media screen and (max-width: 425px) {
    #post a.link-card {
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    #post a.link-card {
        width: 100%;
    }
}

#post a.link-card:hover {
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
}

#post a.link-card div.left,
#post a.link-card div.right {
    pointer-events: none;
}

#post a.link-card div.left {
    width: 48px;
    height: 48px;
    margin: 12px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
}

#post a.link-card div.left i {
    font-size: 32px;
    line-height: 48px;
    margin-left: 4px;
}

#post a.link-card div.left img {
    display: block;
    position: absolute;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#post a.link-card div.right {
    overflow: hidden;
    margin-right: 12px;
}

#post a.link-card p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#post a.link-card p.text {
    font-weight: bold;
}

#post a.link-card p.url {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: var(--search-input-color);
    font-size: 0.7125rem;
}


/* TAG 时间线 */
span.p.h2,
p.p.h2 {
    font-size: 1.375rem;
    color: var(--sco-fontcolor);
    padding-top: 0.8rem;
    border-bottom: 1px solid var(--hr-border);
}

div.timenode {
    position: relative;
}

div.timenode:before,
div.timenode:after {
    content: "";
    z-index: 1;
    position: absolute;
    background: var(--sco-theme);
    width: 2px;
    left: 7px;
}

div.timenode:before {
    top: 0px;
    height: 6px;
}

div.timenode:after {
    top: 26px;
    height: 100%;
}

div.timenode:last-child:after {
    height: calc(100% - 26px - 16px);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

div.timenode .meta {
    position: relative;
    color: var(--tab-botton-color);
    font-size: 0.375rem;
    line-height: 32px;
    height: 32px;
    left: 27px;
}

div.timenode .meta:before,
div.timenode .meta:after {
    content: "";
    position: absolute;
    top: 8px;
    z-index: 2;
    left: -27px;
}

div.timenode .meta:before {
    background: var(--sco-theme);
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

div.timenode .meta:after {
    background: var(--sco-theme);
    margin-left: 2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    transform: scale(0.5);
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}

div.timenode .meta p {
    font-weight: bold;
    margin: 0 0 0 24px;
}

div.timenode .body {
    margin: 4px 0 16px 24px;
    padding: 16px;
    border-radius: 8px;
    background: var(--blockquote-bg);
}

div.timenode .body p:first-child {
    margin-top: 0;
}

div.timenode .body p:last-child {
    margin-bottom: 0;
}

div.timenode:hover .meta {
    color: var(--sco-theme);
}

div.timenode:hover .meta:before {
    background: rgba(255, 87, 34, 0.5);
}

div.timenode:hover .meta:after {
    background: #ff5722;
    transform: scale(1);
}


/*
 * home list
*/
.recent-post-item .recent-post-info .recent-post-info-top #post-list-tips {
    font-size: 15px;
    color: #555535;
}