@charset "UTF-8";
/*自定义高亮标签*/
#aside-content .card-tag-cloud a[href*="/tags/Kotlin/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E6%95%B0%E5%AD%A6/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E8%8B%B1%E8%AF%AD/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E8%AF%AD%E6%96%87/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E7%89%A9%E7%90%86/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E7%94%9F%E7%89%A9/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E5%9C%B0%E7%90%86/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/Sketch/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E8%AE%BE%E8%AE%A1/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E5%B9%B2%E8%B4%A7/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E6%95%99%E7%A8%8B/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}