@charset "UTF-8";

#page .category-lists {
    padding: 1rem 0 1.5rem
}

@media screen and (max-width: 768px) {
    #page .category-lists {
        padding: 0
    }
}

#page .category-lists .category-title {
    font-size: 2.57em
}

@media screen and (max-width: 768px) {
    #page .category-lists .category-title {
        font-size: 2em
    }
}

#page .category-lists .category-list a {
    color: var(--sco-fontcolor)
}

#page .category-lists .category-list a:hover {
    color: #307af6
}

#page .category-lists .category-list .category-list-count {
    margin-left: .4rem;
    color: #858585
}

#page .category-lists .category-list .category-list-count::before {
    content: "("
}

#page .category-lists .category-list .category-list-count::after {
    content: ")"
}

#page .category-lists ul {
    margin-top: .4rem;
    padding: 0 0 0 1rem;
    list-style: none;
    counter-reset: li 0
}

#page .category-lists ul ul {
    padding-left: .2rem
}

#page .category-lists ul li {
    position: relative;
    margin: .3rem 0;
    padding: .12em .4em .12em 1.4em
}

#page .category-lists ul li::before {
    position: absolute;
    left: 0;
    cursor: pointer;
    transition: all .3s ease-out 0s;
    top: .7em;
    width: .43em;
    height: .43em;
    border: .215em solid #307af6;
    border-radius: .43em;
    background: 0 0;
    content: ""
}

#page .category-lists ul li:hover::before {
    border-color: #ff7242
}

.tag-cloud-list a {
    display: inline-block;
    padding: 0 .4rem;
    transition: all .3s ease 0s
}

.tag-cloud-list a:hover {
    transform: scale(1.1);
    color: #307af6 !important
}

@media screen and (max-width: 768px) {
    .tag-cloud-list a {
        zoom: .85
    }
}

.tag-cloud-title {
    font-size: 2.57em
}

@media screen and (max-width: 768px) {
    .tag-cloud-title {
        font-size: 2em
    }
}

#page h1.page-title {
    margin: .4rem 0 1rem
}

.fireworks {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none
}

.medium-zoom-image--opened {
    z-index: 99999 !important;
    margin: 0 !important
}

.medium-zoom-overlay {
    z-index: 99999 !important
}

.mermaid {
    overflow: auto;
    margin: 0 0 1rem;
    background: #fff;
    text-align: center;
    opacity: 0;
    transition: all .3s ease 0s
}

.mermaid[data-processed] {
    opacity: 1;
    filter: none
}

.katex-wrap {
    overflow: auto
}

.katex-wrap::-webkit-scrollbar {
    display: none
}

blockquote.pullquote {
    position: relative;
    max-width: 45%;
    font-size: 110%
}

blockquote.pullquote.left {
    float: left;
    margin: 1em .5em 0 0
}

blockquote.pullquote.right {
    float: right;
    margin: 1em 0 0 .5rem
}

.video-container {
    position: relative;
    overflow: hidden;
    margin-bottom: .8rem;
    padding-top: 56.25%;
    height: 0
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%
}

.hl-label {
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff
}

.hl-label.default {
    background-color: #777
}

.hl-label.blue {
    background-color: #428bca
}

.hl-label.pink {
    background-color: #ff69b4
}

.hl-label.red {
    background-color: red
}

.hl-label.purple {
    background-color: #6f42c1
}

.hl-label.orange {
    background-color: #ff8c00
}

.hl-label.green {
    background-color: #5cb85c
}

#page {
    min-height: calc(100vh - 464px)
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-thumb {
    background: var(--sco-scrollbar);
    border-radius: 8px;
    cursor: pointer
}

::-webkit-scrollbar-thumb:hover {
    background: var(--sco-main);
    opacity: 1;
    display: block !important
}

::-webkit-scrollbar-track {
    background-color: var(--sco-none)
}

html {
    overflow-y: overlay
}



[data-theme=dark] img {
    filter: brightness(1)
}

.site-page i.fa-chevron-down {
    display: none
}

.fa, .fa-brands, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    line-height: 1
}

hr {
    display: none
}

#card-poem {
    display: flex;
    flex-direction: column;
    padding: .5rem !important;
    min-height: 130px
}

div#poem_sentence {
    text-align: center;
    font-family: serif, cursive;
    line-height: 1.4;
    margin-bottom: .5rem;
    padding: 1rem;
    border-radius: 12px;
    background: var(--sco-secondbg);
    min-height: 62px
}

div#poem_info {
    display: flex;
    color: var(--sco-secondtext);
    font-size: .5rem;
    justify-content: center;
    flex-wrap: wrap
}

div#poem_author {
    order: 1;
    padding: 2px;
    margin-left: 8px
}

div#poem_dynasty {
    order: 0;
    padding: 2px 4px 2px 6px;
    background: var(--sco-card-btn-bg);
    color: var(--sco-fontcolor);
    border-radius: 8px
}

a.deal_link {
    display: flex;
    margin: 1rem 27px;
    color: var(--sco-card-bg);
    border-radius: 3rem;
    width: 32px;
    height: 32px;
    background: var(--sco-fontcolor);
    justify-content: center;
    align-items: center;
    transition: .3s
}

a.deal_link:hover {
    color: var(--sco-white);
    background: var(--sco-main);
    transform: scale(1.1);
}

#algolia-hits .tag-list:hover {
    background: var(--sco-main);
    color: var(--sco-white)
}

#card-info-btn {
    border-radius: 25px;
    overflow: hidden
}

#card-info-btn:before {
    border-radius: 25px
}

.not-index-bg {
    height: 2rem !important;
    background-image: none !important;
    background-color: var(--sco-none) !important
}

.not-index-bg img {
    display: none
}

.not-index-bg #page-site-info {
    display: none
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 4rem;
    background: var(--sco-secondbg);
    border: var(--style-border);
    overflow: hidden
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: .3s ease-in
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: var(--sco-logo-color);
    animation: gradient 2s ease infinite;
    background-size: 200%
}

.pace.pace-inactive {
    opacity: 0;
    transition: .3s;
    top: -8px
}

.card-widget.card-recent-post {
    padding: .4rem .6rem !important
}

.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 5
}

.waves-area .waves-svg {
    width: 100%;
    height: 60px
}

.parallax > use {
    animation: move-forever 30s cubic-bezier(.55, .5, .45, .5) infinite
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: var(--sco-background);
    opacity: .5
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: var(--sco-background);
    opacity: .6
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: var(--sco-background);
    opacity: .7
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: var(--sco-background)
}

@media (max-width: 768px) {
    .main-hero-waves-area {
        display: none
    }
}

.medium-zoom-overlay {
    background: var(--sco-maskbg) !important;
    z-index: 99998 !important;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateZ(0)
}

.medium-zoom-image--opened {
    border-radius: 2px
}

.button--animated {
    border-radius: 8px !important;
    transition: .3s
}

#error-wrap .error-content .error-info a:hover {
    background-color: var(--sco-blue);
    transition: .3s;
    box-shadow: var(--sco-shadow-blue)
}

.button--animated:before {
    display: none
}

a.tree-list-post-link {
    font-size: .8rem;
    line-height: 1.2 !important
}

li.tree-list-item {
    line-height: 1.9;
    margin: .3rem 0
}

.title-h2-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem
}

.title-h2-a a {
    margin-left: .5rem;
    color: var(--sco-secondtext);
    font-weight: 700
}

.title-h2-a a:hover {
    color: var(--sco-hovertext)
}

.title-h2-a-left {
    display: flex;
    align-items: center
}

.title-h2-a-left h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.title-h2-a-right {
    font-size: 14px;
    color: var(--sco-secondtext)
}

#card-funds .funds-list::-webkit-scrollbar {
    display: none !important
}

.funds-tips {
    font-size: .5rem;
    width: 100%;
    text-align: center;
    color: var(--sco-secondtext);
    margin: .5rem 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: .5rem;
    left: 0;
    padding: 0 1rem
}

.funds-list {
    height: 200px;
    overflow: scroll
}

span.fund_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.funds-info {
    margin-left: 4px;
    color: var(--sco-secondtext)
}

.funds-list-item .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap
}

.fund_dayGrowth {
    display: inline;
    float: right
}

.fund-up {
    color: var(--sco-red)
}

.fund-down {
    color: var(--sco-green)
}

.music-link {
    display: flex;
    justify-content: center;
    align-content: center
}

.friend-link {
    display: flex;
    justify-content: center;
    align-content: center
}

#widget-tree-button {
    background-color: var(--sco-secondbg) !important;
    box-shadow: var(--sco-shadow-light2black) !important;
    color: var(--sco-fontcolor)
}

#widget-tree:hover #widget-tree-button {
    opacity: 0;
    left: -1.5rem
}

#widget-tree {
    background-color: var(--sco-maskbg) !important
}

#widget-tree:hover {
    left: 0 !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateZ(0)
}

#widget-tree a {
    -webkit-line-clamp: 2;
    color: var(--sco-fontcolor) !important
}

#widget-tree a:hover {
    color: var(--sco-hovertext) !important
}

.toggle-post-icon, .toggle-toc-icon {
    color: var(--sco-fontcolor) !important
}

@media screen and (max-width: 768px) {
    #widget-tree {
        display: none !important
    }
}

.guli_top {
    position: fixed;
    z-index: 99;
    right: 30px;
    display: flex;
    transition: .3s;
    opacity: 0;
    bottom: -25px;
    width: 88px;
    height: 123px;
    user-select: none
}

.guli_top.guli-fixed {
    opacity: 1;
    bottom: 25px
}

#guli_top .guli_body {
    position: relative;
    height: 123px;
    z-index: 1003
}

#guli_top .guli_body:hover {
    cursor: pointer
}

#guli_top .guli_wing {
    position: relative;
    height: 64px;
    z-index: 1002;
    bottom: -120px;
    transform: scale(.01);
    box-shadow: var(--sco-shadow-yellow)
}

#guli_top.open_wing .guli_wing {
    transform: scale(1.03)
}

#guli_top.open_wing .guli_body {
    transform: scale(1)
}

@media screen and (max-width: 1300px) {
    #guli_top {
        display: none
    }
}

#cookies-window {
    min-width: 300px;
    background: var(--sco-maskbgdeep);
    color: var(--sco-fontcolor);
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    position: fixed;
    border-radius: 12px;
    transition: .3s;
    z-index: 1002;
    user-select: none;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    transform: translateZ(0);
    border: var(--style-border);
    animation: barrageIn .6s cubic-bezier(.42, 0, .3, 1.11)
}

#cookies-window.cw-hide {
    opacity: 0;
    animation: barrageOut .6s cubic-bezier(.42, 0, .3, 1.11);
    z-index: -1
}

#cookies-window .cookies-window-title {
    padding-bottom: 4px;
    border-bottom: var(--style-border);
    font-size: 12px;
    font-weight: 700
}

#cookies-window .cookies-window-content {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.cookie-to {
    margin-right: 4px;
    font-weight: 700
}

.cookies-link {
    margin-left: auto;
    font-size: 16px
}

.cookies-link i.scoicon {
    font-size: 16px
}

@media screen and (max-width: 1300px) {
    #cookies-window {
        display: none
    }
}

.heo-tag {
    padding: 1px 6px;
    border-radius: 6px 6px 6px 0;
    margin-left: 4px;
    height: 20px;
    line-height: 19px
}

.heo-tag-new-view {
    color: var(--sco-white);
    background: var(--sco-green)
}

.heo-tag-hot-view {
    color: var(--sco-white);
    background: var(--sco-red)
}





div#categoryList {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.categoryItem {
    overflow: hidden;
    transform: scale(1);
    transition: all .8s cubic-bezier(.65, .15, .37, 1.19);
    height: 48%;
    border-radius: 12px
}

a.categoryButton {
    height: 100%;
    width: 100%;
    background: var(--sco-card-bg);
    border-radius: 12px;
    display: inline-block;
    text-align: left;
    line-height: 4em;
    font-weight: 700;
    font-size: .9rem;
    color: var(--sco-white);
    transition: all .8s cubic-bezier(.39, .575, .565, 1);
    transform: scale(1);
    overflow: hidden;
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei
}

a.categoryButton i {
    transform: scale(1) rotate(15deg)
}

@media screen and (max-width: 768px) {
    a.categoryButton {
        border-radius: 8px
    }

    .categoryItem {
        border-radius: 0;
        height: 47%;
        box-shadow: none !important
    }
}

a.categoryButton:after {
    top: 50px;
    width: 1rem;
    left: 21px;
    height: 2px;
    background: var(--sco-white);
    content: "";
    border-radius: 1px;
    position: absolute
}

.categoryButtonText {
    padding-left: 21px
}

a.categoryButton i {
    font-size: 5rem;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 20%;
    transition: .3s;
    width: 100px;
    text-align: center;
    filter: blur(2px)
}

.topGroup {
    display: flex
}

#bannerGroup {
    display: flex
}

div#banners {
    display: none
}

.topGroup .todayCard {
    display: none
}

@media screen and (min-width: 1200px) {
    .topGroup {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: calc(328px + .5rem);
        align-content: space-between;
        width: calc(600px + 1.5rem);
        position: relative;
        animation: slide-in .6s .1s backwards
    }

    div#bannerGroup {
        width: calc(100% - 600px - 2rem);
        margin-right: .5rem;
        height: calc(328px + .5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    div#banners {
        display: flex;
        width: 100%;
        height: 76%;
        background: var(--sco-card-bg);
        margin-bottom: .5rem;
        border: var(--style-border);
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        box-shadow: var(--sco-shadow-border);
        flex-direction: column;
        transition: .3s;
        will-change: transform;
        animation: slide-in .6s .1s backwards
    }

    div#banners:hover {
        box-shadow: var(--sco-shadow-main)
    }

    #banners.flink {
        margin-bottom: .5rem
    }

    #banners .banner-button-group {
        position: absolute;
        right: 2rem;
        top: 2rem;
        display: flex
    }

    #banners .banner-button {
        padding: 8px 12px;
        background: var(--sco-fontcolor);
        border-radius: 12px;
        color: var(--sco-card-bg);
        display: flex;
        align-items: center;
        z-index: 1;
        transition: .3s;
        cursor: pointer;
        box-shadow: var(--sco-shadow-black)
    }

    #banners .banner-button.secondary {
        background: var(--sco-secondbg);
        border: var(--style-border-always);
        color: var(--sco-lighttext);
        margin-right: 1rem;
        box-shadow: var(--sco-shadow-border)
    }

    #banners .banner-button:hover {
        background: var(--sco-theme);
        color: var(--sco-white)
    }

    #banners .banner-button i {
        margin-right: 8px;
        font-size: 1rem
    }

    .banners-title {
        top: 2rem;
        left: 1.5rem;
        position: absolute;
        display: flex;
        flex-direction: column
    }

    .flink .banners-title {
        top: 1.5rem
    }

    .banners-title-big {
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 8px
    }

    .banners-title-small {
        font-size: 12px;
        line-height: 1;
        color: var(--sco-secondtext);
        margin-top: 8px;
        margin-bottom: .5rem
    }

    #banner-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--sco-theme);
        color: var(--sco-white);
        padding-left: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: cubic-bezier(.71, .15, .16, 1.15) .6s
    }

    .bannerText {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700
    }

    .banner-righticon {
        font-size: 4rem;
        opacity: .6
    }

    #banners:hover #banner-hover {
        opacity: 1;
        padding-left: 2rem;
        background: var(--sco-theme-op-deep);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        transition: .3s;
        background-size: 200%;
        cursor: pointer
    }

    #banners #banner-hover i {
        font-size: 80px;
        opacity: .4
    }

    .topGroup .todayCard {
        position: absolute;
        width: calc(600px + 1rem);
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        background: var(--sco-card-bg);
        border-radius: 12px;
        margin-left: .5rem;
        overflow: hidden;
        transition: .3s;
        display: flex;
        cursor: pointer;
        pointer-events: all
    }

    .topGroup .todayCard::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0
    }

    .topGroup .todayCard.hide {
        opacity: 0;
        pointer-events: none
    }

    .topGroup .todayCard .todayCard-info {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        z-index: 2;
        color: var(--sco-white);
        max-width: 60%;
        transition: .3s
    }

    .topGroup .todayCard.hide .todayCard-info {
        bottom: 1rem;
        opacity: 0
    }

    .topGroup .todayCard .todayCard-info .todayCard-tips {
        opacity: .8;
        font-size: .6rem
    }

    .topGroup .todayCard .todayCard-info .todayCard-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px
    }

    .topGroup .banner-button-group {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        display: flex;
        transition: .3s
    }

    .topGroup .todayCard.hide .banner-button-group {
        bottom: 1rem
    }

    .topGroup .banner-button {
        background: var(--sco-white-op);
        border-radius: 20px;
        color: var(--sco-white);
        display: flex;
        align-items: center;
        z-index: 1;
        transition: .3s;
        cursor: pointer;
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-backdrop-filter: blur(20px);
        transform: translateZ(0);
        height: 40px;
        width: 118px;
        justify-content: center
    }

    .topGroup .banner-button:hover {
        background: var(--sco-theme);
        color: var(--sco-white)
    }

    .topGroup .banner-button i {
        margin-right: 8px;
        font-size: 22px
    }

    .topGroup .todayCard .todayCard-cover {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: -1;
        transition: .3s
    }

    .topGroup .todayCard.hide .todayCard-cover {
        transform: scale(1.2)
    }
}

.tags-group-icon {
    width: 120px;
    height: 120px;
    border-radius: 30px
}

.tags-group-all {
    display: flex;
    transform: rotate(-30deg)
}

.tags-group-all.nowrapMove {
    transform: rotate(0);
    padding-bottom: 2rem
}

.tags-group-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-wrap: nowrap;
    animation: rowup 60s linear infinite
}

.nowrapMove .tags-group-wrapper {
    margin-top: 7rem;
    animation: rowup 120s linear infinite
}

.tags-group-icon-pair .tags-group-icon:nth-child(even) {
    margin-top: 1rem;
    transform: translate(-60px)
}

.tags-group-icon-pair {
    margin-left: 1rem;
    user-select: none
}

.tags-group-icon-pair a img {
    border-radius: 50% !important
}

.tags-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    box-shadow: var(--sco-shadow-blackdeep)
}

.nowrapMove .tags-group-icon {
    border-radius: 50%
}

.tags-group-icon img {
    width: 60%
}

.nowrapMove .tags-group-icon img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    object-fit: cover
}

#categoryList > div:nth-child(1) > a::before {
    height: 24px;
    width: 44px;
    content: "";
    background-size: 38px 24px;
    position: absolute;
    top: 0;
    left: 0
}

.categoryItem:hover i {
    opacity: .8;
    transition: .8s;
    transition-delay: .15s;
    transform: scale(1.03) rotate(0);
    font-size: 2.5rem;
    filter: blur(0)
}

@media screen and (min-width: 1300px) {
    .categoryItem:hover i {
        transform: scale(1.03) rotate(0)
    }
}

#categoryList > a:nth-child(0) > i {
    padding-right: 8px
}

.cate-button-text {
    box-shadow: var(--sco-shadow-black)
}

@media screen and (max-width: 768px) {
    div#categoryList {
        display: none
    }
}

li, ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0
}

.title-and-tips {
    display: flex;
    margin-top: 1rem;
    align-items: center
}

.title-and-tips .page-title {
    line-height: 1;
    margin: 0
}

.title-and-tips .page-tips {
    background: var(--sco-yellow-op);
    color: var(--sco-yellow);
    margin-bottom: auto;
    border-radius: 8px;
    padding: 2px 6px;
    font-size: .5rem;
    margin-left: 8px
}

a.article-meta__categories {
    position: absolute;
    padding: 1px 6px;
    background: var(--sco-black-op);
    border-radius: 8px;
    margin-left: 0;
    font-size: 12px;
    font-weight: 700;
    color: var(--sco-white);
    top: 8px;
    left: 8px;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateZ(0)
}

a.article-meta__categories:hover {
    background: var(--sco-theme) !important;
    color: var(--sco-white) !important;
    box-shadow: var(--sco-shadow-theme)
}

.article-meta {
    margin: 0 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis
}

.article-meta__link {
    display: none
}

.article-meta__tags {
    margin-right: 8px;
    padding: 0 .2rem 0 0;
    color: var(--sco-fontcolor)
}

#web_bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    z-index: -999;
    background: var(--sco-background)
}

a.extend.next {
    right: 0
}

a.extend.prev {
    left: 0
}

.lg-container {
    display: none
}

.post-bg #post-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 50vw;
    min-height: 20rem;
    opacity: .8
}

.coverdiv {
    width: 70%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 -20% 0 auto;
    transform: rotate(10deg) translateY(-10%) scale(2);
    filter: blur(10px)
}

.coverdiv.loaded {
    display: block
}

.coverdiv:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 110px -130px 300px 60px var(--sco-main) inset
}

@media screen and (max-width: 768px) {
    .coverdiv {
        margin: 0 0 0 auto;
        transform: rotate(0) translateY(0) scale(1);
        filter: blur(0);
        width: 100%;
        position: fixed;
        height: 30rem;
        z-index: 1
    }

    .coverdiv:after {
        box-shadow: 0 0 205px 59px var(--sco-main) inset
    }
}

@media screen and (min-width: 1300px) {
    .coverdiv {
        width: 70%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: 0 -20% 0 auto;
        transform: rotate(10deg) translateY(-8%) scale(1.8);
        filter: blur(10px);
        opacity: 0
    }

    .coverdiv.loaded {
        display: block;
        opacity: .5;
        animation: showCover 1s .3s backwards;
        transform: rotate(10deg) translateY(-10%) scale(2)
    }
}

@media screen and (min-width: 768px) {
    .coverdiv {
        width: 70%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: 0 -20% 0 auto;
        transform: rotate(10deg) translateY(-8%) scale(1.8);
        filter: blur(10px);
        opacity: 0
    }

    .coverdiv.loaded {
        display: block;
        opacity: .5;
        animation: showCover 1s .3s backwards;
        transform: rotate(10deg) translateY(-10%) scale(2)
    }

    @keyframes showCover {
        from {
            opacity: 0;
            transform: rotate(10deg) translateY(-8%) scale(1.8)
        }

        to {
            opacity: .5;
            transform: rotate(10deg) translateY(-10%) scale(2)
        }
    }
}



#post-cover-rgb {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background: var(--sco-lighttext)
}



#page {
    box-shadow: none
}


.full_page #post-cover {
    display: none
}

.meta-secondline > span {
    opacity: .6;
    transition: .3s;
    margin-right: 1.1rem;
}

.meta-secondline span {
    display: flex;
    align-items: center;
    line-height: 1
}

@media screen and (max-width: 768px) {
    .meta-secondline span {
        line-height: 1.5
    }
}

#post-firstinfo {
    text-align: left;
    display: flex;
    white-space: nowrap;
    -webkit-user-select: none
}

.inline-image {
    display: flex;
    margin: 8px auto;
    width: fit-content;
    justify-content: center
}

.inline-image a:hover {
    background: 0 0 !important;
    box-shadow: none !important
}

.inline-image img {
    margin: 0 !important;
    display: inline-flex;
}

#post-info .post-title {
    color: var(--sco-white);
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 1.2;
    text-align: left;
    margin: 1rem 0 1rem 0 !important;
    -webkit-line-clamp: 2;
    padding: 0;
    overflow: hidden
}

@media screen and (max-width: 768px) {
    #post-info .post-title {
        font-size: 1.2rem;
        -webkit-line-clamp: 3;
        margin: .2rem auto !important;
        text-align: center;
        z-index: 1
    }
}

.table-wrap {
    margin: 1rem 0;
    border-radius: 8px
}

table td, table th {
    border: var(--style-border-always)
}

table thead {
    background: var(--sco-secondbg)
}

b, strong {
    color: var(--sco-lighttext)
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    padding-top: 0;
    padding-left: 0 !important;
    font-weight: 700
}

#post h2 {
    margin-top: 1.5rem
}

blockquote {
    border: var(--style-border-always);
    background-color: var(--sco-secondbg);
    color: var(--sco-secondtext);
    border-radius: 8px;
    margin: 1rem 0;
    padding: .5rem .8rem
}

blockquote p {
    padding: 0
}

figure {
    margin-top: .5rem !important
}

.post-qr-code-img {
    box-shadow: var(--sco-shadow-lightblack);
    border-radius: 12px;
    border: var(--style-border-always)
}

#quit-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    display: none;
    z-index: 101;
    margin: 0 !important
}

.post-tools-left #quit-box {
    display: none
}

@media screen and (max-width: 768px) {
    #quit-box {
        z-index: 109;
        height: calc(100vh - 380px);
    }
}

#post > hr {
    display: none
}

.img-alt {
    font-size: 12px;
    margin: 0;
    color: var(--sco-secondtext)
}

.long-img .img-alt {
    display: none
}

.long-img img {
    border-radius: 0 !important;
    margin: 0 !important
}

.post-tools {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
    -webkit-user-select: none
}

.post-tools-left {
    white-space: nowrap;
    display: flex;
    text-overflow: ellipsis;
    flex-wrap: wrap
}

.post-tools-right {
    padding-right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap
}

@media screen and (max-width: 768px) {
    .post-tools-left > div {
        margin: 8px
    }

    .post-tools-left {
        white-space: nowrap;
        display: flex;
        text-overflow: ellipsis;
        justify-content: center;
        width: 100%
    }

    .post-tools-right {
        margin-top: 1rem;
        width: 100%;
        justify-content: center
    }
}

#qrcode {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    background: var(--sco-white);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    border: var(--style-border-always)
}

.share-link:hover .share-main {
    opacity: 1;
    transform: translateY(0)
}

.share-qrcode {
    display: flex;
    justify-content: center
}

@media screen and (max-width: 768px) {
    .share-link.mobile {
        display: none
    }
}

#page .category-lists .category-title {
    display: none
}

#page {
    background: 0 0;
    border: none;
    padding: 0
}

@media screen and (min-width: 1300px) {
    #page > div:not(.author-content-item) {
        animation: slide-in .6s .2s backwards
    }
}

#post .tag_share .post-meta__tag-list {
    display: flex;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row
}

#post .tag_share .post-meta__tag-list a {
    margin-bottom: 8px;
    margin-right: 8px
}

#page .tag-cloud-list a {
    display: flex;
    width: fit-content;
    color: var(--sco-fontcolor) !important;
    font-size: 1.4em !important;
    padding: .2em .5em;
    background: var(--sco-card-bg);
    margin: .5em .5em;
    border-radius: 12px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    border: var(--style-border-always);
    box-shadow: var(--sco-shadow-border);
    align-items: center
}

#page .tag-cloud-list a:hover {
    background: var(--sco-main) !important;
    box-shadow: var(--sco-shadow-blue);
    color: var(--sco-white) !important;
    border: var(--style-border-hover)
}

span.tagsPageCount {
    background: var(--sco-secondbg);
    padding: 4px 4px;
    border-radius: 8px;
    color: var(--sco-secondtext);
    line-height: 1;
    text-align: center;
    min-width: 35px;
    display: inline-block;
    font-size: 1rem;
    margin-left: 4px
}

.category-lists span.tagsPageCount {
    margin-left: 4px
}

#page .tag-cloud-list a:hover span.tagsPageCount {
    color: var(--sco-lighttext)
}

#post .tag_share .post-meta__tags span.tagsPageCount, #tag-page-tags .tagsPageCount {
    padding: 2px;
    background: var(--sco-card-bg);
    border: var(--style-border-always);
    min-width: 23px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    font-size: .6rem;
    color: var(--sco-fontcolor);
    margin-left: 4px
}

#tag #tag-page-tags a.select .tagsPageCount {
    background: var(--sco-card-bg);
    color: var(--sco-lighttext)
}

span.tags-punctuation {
    margin-right: 2px
}

span.tags-punctuation::before {
    content: "\e071";
    font-family: scoicon, serif !important;
    font-size: 14px;
    opacity: .4;
}

.hide-aside #page span.tags-punctuation::before {
    font-size: 22px
}

.category-lists span.tags-punctuation {
    font-size: 18px
}

.tags-name {
    margin-left: 2px
}

#page .category-lists ul li::before {
    display: none
}

#page .category-lists ul li {
    margin: 0 8px 8px 0;
}

#page .category-lists ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row
}

#page .category-lists ul li {
    padding: 4px 16px;
    width: 200px;
    border-radius: 12px;
    background: var(--sco-card-bg);
    border: var(--style-border-always)
}

.tag-cloud-title {
    display: none
}

#tag #tag-page-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -.75rem .5rem;
}

#tag #tag-page-tags a {
    padding: .1rem .5rem;
    margin: .25rem .25rem;
    line-height: 1.6;
    border-radius: 8px;
    color: var(--sco-fontcolor) !important;
    border: var(--style-border-always);
    display: flex;
    align-items: center
}

#tag #tag-page-tags a.select {
    color: var(--sco-white) !important;
    background: var(--sco-theme);
    box-shadow: var(--sco-shadow-theme)
}

#tag #tag-page-tags a:hover {
    color: var(--sco-white) !important;
    background: var(--sco-theme);
    box-shadow: var(--sco-shadow-theme)
}

.site-card-tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8px;
    background-color: var(--sco-blue);
    box-shadow: var(--sco-shadow-blue);
    color: var(--sco-white);
    z-index: 1;
    border-radius: 12px 0 12px 0;
    transition: .3s;
    font-size: .6rem
}

.site-card-tag.vip {
    background: -moz-linear-gradient(38deg, #e5b085 0, #d48f16 100%);
    background: -webkit-linear-gradient(38deg, #e5b085 0, #d48f16 100%);
    background: linear-gradient(38deg, #e5b085 0, #d48f16 100%);
    overflow: hidden;
    box-shadow: var(--sco-shadow-yellow)
}

.site-card-tag.power {
    background-color: var(--sco-purple)
}

.light {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100px;
    height: 50px;
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    -webkit-animation: light_tag 4s both infinite;
    -ms-animation: light_tag 4s both infinite;
    animation: light_tag 4s both infinite
}

.site-card-tag.speed {
    background: var(--sco-green);
    box-shadow: var(--sco-shadow-green)
}

.weixin:hover::after {
    transform: scale(1);
    opacity: 1
}

#error-wrap .error-content {
    box-shadow: none !important;
    border-radius: 12px;
    background: var(--sco-card-bg) !important
}

#body-wrap.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 1rem 1rem;
    position: relative
}

#body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    max-width: 100%
}

#body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between
}

#body-wrap.error .aside-list .aside-list-item {
    padding: .5rem 0;
    width: 49%
}

#body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 100%;
    height: 200px;
    background: var(--sco-card-bg);
    display: flex
}

#body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: .5rem;
    font-size: 16px;
    font-weight: 700
}

#body-wrap.error .aside-list .aside-list-item .content time {
    display: none
}

@media screen and (max-width: 768px) {
    #body-wrap.error {
        padding-top: 0
    }

    #body-wrap.error .aside-list {
        margin: 0
    }

    #body-wrap.error .aside-list .aside-list-item .thumbnail {
        height: 100px
    }
}

.bb-info {
    display: inline;
    float: right;
    line-height: 1;
    color: var(--sco-secondtext);
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: .5rem
}

.bb-info:hover {
    color: var(--sco-hovertext)
}

.load-btn.button-load {
    background: var(--sco-card-btn-bg);
    color: var(--sco-fontcolor);
    padding: 12px 12px;
    margin: 1.5rem 0 0 0;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    transition: .3s;
    font-weight: 700
}

.load-btn.button-load:hover {
    background: var(--sco-blue);
    color: var(--sco-white);
    transition: .3s;
    box-shadow: var(--sco-shadow-blue)
}

#cf-container a {
    width: fit-content
}

#hexo-circle-of-friends-root {
    margin: 0 -8px
}

.friend_post_time {
    margin-left: 8px;
    color: var(--sco-secondtext)
}

.friendlink-avatar {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 32px;
    overflow: hidden;
    background: var(--sco-secondbg);
    padding: 0 !important
}

.friendlink-avatar:hover {
    border-radius: 32px !important;
    background: var(--sco-secondbg)
}

a.bb-link {
    margin-left: 8px;
    color: var(--sco-secondtext) !important;
    display: inline;
    border: none !important
}

a.bb-link-info {
    display: inline;
    float: right;
    border: none !important;
    color: var(--sco-secondtext) !important;
    line-height: 2.7rem
}

a.bb-link-info:hover {
    color: var(--sco-fontcolor) !important;
    background: 0 0 !important
}

.friendlink-avatar {
    border-bottom: none !important
}

.chart {
    align-items: flex-start;
    flex: 1;
    width: 100px;
    height: 60px;
    margin: 20px
}

@media screen and (max-width: 500px) {
    #info_user_pool {
        padding: 10px;
        flex-direction: column;
        max-height: 200px
    }

    .chart {
        flex: 0;
        width: 100%;
        height: 160px;
        margin: 0
    }
}

#info_user_pool {
    background: var(--sco-secondbg);
    border-radius: 12px !important;
    margin-top: 1rem;
    box-shadow: none !important
}

.la-widget.la-data-widget__container {
    border-radius: 12px;
    border: var(--style-border) !important;
    box-shadow: var(--sco-shadow-border);
    border-color: var(--sco-card-border)
}

.page-title {
    display: none
}


.inline-word {
    word-break: keep-all;
    white-space: nowrap
}

@media screen and (min-width: 768px) {
    .needEndHide.hide {
        bottom: -200px !important;
        opacity: 0
    }
}

.toPageGroup {
    display: flex;
    position: relative;
    margin: 0 .3rem
}

a#toPageButton {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background: var(--sco-card-bg);
    border: var(--style-border-always);
    cursor: text;
    pointer-events: none
}

.toPageGroup:focus-within a#toPageButton, .toPageGroup:hover a#toPageButton {
    width: 30px;
    height: 30px;
    right: 4px;
    top: 5px;
    background: var(--sco-card-bg);
    border: 1px solid var(--sco-none);
    border-radius: 4px;
    opacity: .2
}

.toPageGroup:focus-within a#toPageButton.haveValue {
    opacity: 1;
    cursor: pointer
}

a#toPageButton.haveValue {
    opacity: 1 !important;
    cursor: pointer !important;
    pointer-events: all
}

a#toPageButton.haveValue:hover {
    background: var(--sco-theme);
    color: var(--sco-white)
}

@media screen and (max-width: 768px) {
    .toPageGroup {
        display: none
    }
}

#post amp-ad {
    display: flex
}

#post amp-ad div {
    display: flex
}

/*自定义高亮标签*/

#aside-content .card-tag-cloud a[href*="/tags/Kotlin/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E6%95%B0%E5%AD%A6/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E8%8B%B1%E8%AF%AD/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E8%AF%AD%E6%96%87/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E7%89%A9%E7%90%86/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E7%94%9F%E7%89%A9/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E9%AB%98%E4%B8%AD%E5%9C%B0%E7%90%86/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/Sketch/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E8%AE%BE%E8%AE%A1/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E5%B9%B2%E8%B4%A7/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E6%95%99%E7%A8%8B/"] {
    color: var(--sco-lighttext) !important;
    font-weight: 500
}