div#algolia-search
    div.search-dialog
        div.search-dialog__title#algolia-search-title=__('nav.search')
        div#algolia-input-panel
            div#algolia-search-input
        div#search-results
            div#algolia-hits
        div#algolia-tips
            div#algolia-pagination
            div#algolia-stats
            #algolia-poweredBy
        span.search-close-button
            i.scoicon.sco-close-fill
    div#search-mask