#algolia-search
    .search-dialog
        .algolia-navbar
            .search-dialog__title#algolia-search-title=__('nav.search')
            span.search-close-button
                i.solitude.fa-solid.fa-xmark
        #algolia-input-panel
            #algolia-search-input
        #search-results
            #algolia-hits
                each tag in theme.search.tags || []
                    a.tag-list(href='javascript:void(0);' onclick="pjax.loadUrl('" + url_for('/tags/' + tag) + "/')")=tag

        #algolia-tips
            #algolia-pagination
            #algolia-stats
    #search-mask