div#algolia-search
    div.search-dialog
        div.search-dialog__title#algolia-search-title= "搜索"
        div#algolia-input-panel
            div#algolia-search-input
        div#search-results
            div#algolia-hits
            div#algolia-pagination
            div#algolia-stats
            div.algolia-poweredBy
        div#algolia-tips
            i.scoicon.sco-algolia-fill
            span.algolia-tips-text= "Algolia 提供搜索服务"
        span.search-close-button
            i.scoicon.sco-close-fill
    div#search-mask
