if theme.thirdparty.search.enable
    if theme.thirdparty.search.type==="algolia"
        include ./algolia-search.pug
        script(src=cdn_url_for("/js/extend/search/algolia-search.js"))
    else if theme.thirdparty.search.type === "local"
        include ./local-search.pug
        script(src=cdn_url_for("/js/extend/search/local-search.js"))