if theme.thirdparty.search.enable
    if theme.thirdparty.search.type==="algolia"
        include ./algolia-search.pug
        script(src=url_for(theme.cdn.algolia_js))
    else if theme.thirdparty.search.type === "local"
        include ./local-search.pug
        script(src=url_for(theme.cdn.local_search))