if theme.OpenGraph.enable
    -
        const coverVal = page.cover || theme.site.siteIcon
        let ogOption = {
            type: is_post() ? 'article' : 'website',
            image: coverVal ? full_url_for(coverVal) : '',
            ...theme.OpenGraph.options
        }
    -
    != open_graph(ogOption)
    meta(name="description" content=page_description())
else
    meta(name="description" content=page_description())