#random-post
  min-height 32px
  background var(--efu-card-bg)
  border var(--style-border-always)
  box-shadow var(--efu-shadow-border)
  padding 20px 30px
  border-radius 12px
  margin-top 8px

.random-friends-post
  text-decoration none
  border-bottom 2px solid var(--efu-lighttext)
  color var(--efu-fontcolor)
  font-weight 700
  padding 0 4px

  &:hover
    text-decoration none
    border-bottom 2px solid var(--efu-none)
    color var(--efu-white)
    background var(--efu-main)
    border-radius 4px
    box-shadow var(--efu-shadow-main)

.random-post-start
  transition-duration .3s

  &:hover
    color var(--efu-hovertext)

.moments-list
  display: flex
  flex-direction: column

  .article-sort-item-info
    display: flex
    flex-direction: column

    .article-sort-item-title
      color: var(--efu-lighttext)

      &:hover
        color: var(--efu-hovertext)

#friend_link_moments
  border: none 

.moments-article-img
  height: 100%
  margin: 0 

.tab-item-content
  #moments_container
    .moments-item
      a
        border-bottom: none
        padding: 0
        margin-right: auto
        width: auto

        &:hover
          background: 0 0
          color: var(--efu-lighttext)
          box-shadow: none

    h2
      display: none

#friend_moments_list
  .moments-sort-item
    margin: 1rem 0

.moments-sort-item-img
  border-radius: 12px

.moments-item-time
  order: 1

.moments-sort-item-title
  color: var(--efu-lighttext)
  border-bottom: none 
  padding: 0 

  &:hover
    color: var(--efu-hovertext)
    background: 0 0 
    box-shadow: none 

.moments_load_button
  color: var(--efu-fontcolor)
  background: var(--efu-card-btn-bg)
  padding: 12px 16px 
  border-radius: 12px 
  transition: .3s
  width: 100%
  margin-top: 1rem
  margin-bottom: 1rem
  border: 0 

  &:hover
    color: var(--efu-white)
    background: var(--efu-main)
    transition: .3s

.moments-item-title
  color: var(--efu-lighttext)
  font-size: 1rem
  order: 0
  width: 100%
  font-weight: 700
  -webkit-line-clamp: 1 
  overflow: hidden
  -webkit-box-orient: vertical

.moments-item-info
  display: flex
  flex-direction: column

.moments_post_time
  display: none

  i
    margin-right: 8px

.moments-item-title
  font-weight: 700

.moments_post_info_number
  float: right

.moments-item-img
  width: 60px 
  height: 60px 

  img
    border-radius: 99px
    width: 80px
    height: 80px
    overflow: hidden

.moments-item
  margin-left: 0 
  box-shadow: none 

#hexo-circle-of-friends-root
  margin: 0 -8px

#cf-container
  a
    width: fit-content

.cf-article .cf-img-avatar
  border-radius 50% !important
  right -30px!important
  bottom -30px!important

#page
  .title-h2-a
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: .5rem

    a
      margin-left: .5rem
      color: var(--efu-secondtext)
      font-weight: 700

      &:hover
        color: var(--efu-main)

    .title-h2-a-left
      display: flex
      align-items: center

      h2
        margin: 0

    .title-h2-a-right
      font-size: 14px
      color: var(--efu-secondtext)