.author-content.author-content-item.momentsPage
  height 19rem
  background-size cover
  color var(--sco-white)
  overflow hidden
  margin-top 0

#random-post
  min-height 32px
  background var(--sco-card-bg)
  border var(--style-border-always)
  box-shadow var(--sco-shadow-border)
  padding 20px 30px
  border-radius 12px
  margin-top 8px

.random-friends-post
  text-decoration none
  border-bottom 2px solid var(--sco-lighttext)
  color var(--sco-fontcolor)
  font-weight 700
  padding 0 4px

.random-friends-post:hover
  text-decoration none
  border-bottom 2px solid var(--sco-none)
  color var(--sco-white)
  background var(--sco-main)
  border-radius 4px
  box-shadow var(--sco-shadow-main)

.random-post-start
  transition-duration .3s

.random-post-start:hover
  color var(--sco-hovertext)

.title-h2-a a.random-post-start
  opacity .6