<div class="bber-bottom">
    <div class="bber-info">
        <div class="bber-info-time">
            <i class="ri-time-fill"></i>
            <time class="datetime" datetime="<%= moment(item.date).format() %>"></time>
        </div>
        <% if(item.link){ %>
            <a class="bber-content-link" href="<%= url_for(item.link) %>" title="跳转到短文指引的链接">
                <i class="ri-link-m"></i>
                链接
            </a>   
        <% } %> 
    </div>
    <a class="bber-reply" onclick="sco.toTalk('<%- item.content %>')" >
        <i class="ri-message-3-fill" style="font-size: 1rem;">
        </i>
      </a>
</div>