div.needEndHide#nav-music
  #nav-music-hoverTips(onclick='sco.musicToggle()')= __('music.hit')
  meting-js(id=theme.capsule.id server=theme.capsule.server type=theme.capsule.type mutex="true" preload="none" theme="var(--efu-main)" data-lrctype="0" order="random" volume=theme.capsule.volume)
