div.needEndHide#nav-music(onclick="sco.musicToggle()")
    div#nav-music-hoverTips=__('music.hit')
    meting-js(id=theme.capsule.id, server=theme.capsule.server, type="playlist", mutex="true", preload="none", data-lrctype="0", order="random", theme="var(--efu-main)")