div.needEndHide#nav-music(onclick="sco.musicToggle()")
    div#nav-music-hoverTips= "音乐已暂停"
    meting-js(id=theme.thirdparty.aplayer.id, server=theme.thirdparty.aplayer.server, type="playlist", mutex="true", preload="none", data-lrctype="0", order="random", theme="var(--sco-main)")