#article-container
  overflow-wrap break-word

  .code-expand-btn.expand-done
    display none !important

    &:not(.expand-done) ~ pre, &:not(.expand-done) ~ table
      overflow hidden
      height 400px

  .ai-btn-item:hover
    background-color var(--sco-main)

  .gist
    table
      width auto

      td
        border none

  h1, h2, h3, h4, h5, h6
    border-top 1px dashed var(--sco-theme-op)
    margin 0

    #page &
      border-top none
      margin-top 0

      .headerlink
        display none

    &::before
      top calc(50% - .45rem)
      content ''

    .headerlink
      float right
      opacity .08
      position relative
      padding 0
      border-style none
      border-radius 8px
      line-height 1.5
      font-size 1rem

      &:hover
        opacity 1
        color var(--sco-lighttext)

      &::before
        content "\e082"
        font-family scoicon !important

  &.post-content
    h1, h2, h3, h4
      padding-top 1.5rem
      line-height 1.3
    h1
      font-size 1.5rem

    h2
      font-size 1.3rem

    h3
      font-size 1.1rem

    h4
      font-size 1rem

  code, pre
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", sans-serif

  code
    color var(--sco-white)
    padding 0.2rem 0.4rem
    border-radius 4px
    margin 0 4px
    background var(--sco-pink)
    line-height 2
    box-shadow var(--sco-shadow-border)

  pre
    code
      padding 0
      background 0 0
      color var(--hl-color)
      text-shadow none

  a
    text-decoration none
    border none
    border-radius 4px

  img
    display block
    margin 0 auto .8rem
    max-width 90%
    max-height 450px
    border-radius 12px
    margin-bottom .5rem
    object-fit cover

    +maxWidth768()
      max-width 100%

    &.error
      content: url(error_img)

  p
    font-size .9rem
    line-height 1.7
    font-weight 400

    a
      text-decoration none
      border-bottom 2px dotted var(--sco-lighttext)
      color var(--sco-fontcolor)
      font-weight 700
      padding 0 4px
      border-radius 4px 4px 0 0

      &:hover
        text-decoration none
        background var(--sco-main)
        border-width 0
        color var(--sco-card-bg)
        border-radius 4px

  iframe
    margin 0 0 1rem

  kbd
    margin 0 3px
    padding 3px 5px
    border 1px solid #b4b4b4
    border-radius 3px
    background-color #f8f8f8
    box-shadow rgba(0, 0, 0, .25) 0 1px 3px, rgba(255, 255, 255, .6) 0 2px 1px 0 inset
    color #34495e
    white-space nowrap
    font-weight 600
    font-size .9em
    font-family Monaco, "Ubuntu Mono", monospace
    line-height 1em

  ol, ul
    margin-top .4rem
    padding 0
    counter-reset li 0

    +maxWidth768()
      padding-left .4rem

    p
      margin-left .5rem

    li
      position relative
      margin .4rem 0
      padding 0.2em 0.2em 0.2em 1.4em

      &::before
        border 0.21em solid var(--sco-main)
        background var(--sco-main)
        position absolute
        top 0.78em
        left 0
        color #fff
        transition all .3s ease-out 0s

      &:hover::before
        transform rotate(0)

    ol, ul
      padding-left .6rem

      +maxWidth768()
        padding-left .2rem

  ul
    > li:not(.tab)
      &::before
        width 0.42em
        height 0.42em
        border-radius 0.42em
        content ""
        line-height .42em

  ol
    > li:not(.tab)
      &::before
        top 0.625em
        text-align center
        width .925em
        height .925em
        font-size .925em
        border-radius .925em
        line-height .925em
        content counter(li)
        counter-increment li 1