// Note (Bootstrap)
.note
  position relative
  margin 0 0 1rem
  padding 15px
  border-radius 3px

  &.icon
    padding-left 2.25rem

  > .note-icon
    position absolute
    top calc(50% - .4rem)
    left .7rem
    font-size larger

  &.blue:not(.disabled)
    border-left-color #428bca !important

    &.modern
      color #428bca
      border-left-color transparent !important

    &:not(.simple)
      background #e3eef7 !important

  > .note-icon
    color #428bca

  &.pink:not(.disabled)
    border-left-color #ff69b4 !important

    &.modern
      color #ff69b4
      border-left-color transparent !important

    &:not(.simple)
      background #ffe9f4 !important

  > .note-icon
    color #ff69b4

  &.red:not(.disabled)
    border-left-color red !important

    &.modern
      color red
      border-left-color transparent !important

    &:not(.simple)
      background #ffd9d9 !important

  > .note-icon
    color red

  &.purple:not(.disabled)
    border-left-color #6f42c1 !important

    &.modern
      color #6f42c1
      border-left-color transparent !important

    &:not(.simple)
      background #e9e3f6 !important

  > .note-icon
    color #6f42c1

  &.orange:not(.disabled)
    border-left-color #ff8c00 !important

    &.modern
      color #ff8c00
      border-left-color transparent !important

    &:not(.simple)
      background #ffeed9 !important

  > .note-icon
    color #ff8c00

  &.green:not(.disabled)
    border-left-color #5cb85c !important

    &.modern
      color #5cb85c
      border-left-color transparent !important

    &:not(.simple)
      background #e7f4e7 !important

  > .note-icon
    color #5cb85c

  &.simple
    border-width 1px 1px 1px 5px
    border-style solid
    border-color #eee
    border-image initial

  &.modern
    background-color #f5f5f5
    color #4c4948
    border 1px solid transparent !important

  &.flat
    border-top initial
    border-right initial
    border-bottom initial
    border-image initial
    border-left 5px solid #eee
    background-color #f9f9f9
    color #4c4948

  h2, h3, h4, h5, h6
    margin-top 3px
    margin-bottom 0
    border-bottom initial
    padding-top 0 !important

  blockquote:first-child, img:first-child, ol:first-child, p:first-child, pre:first-child, table:first-child, ul:first-child
    margin-top 0 !important

  blockquote:last-child, img:last-child, ol:last-child, p:last-child, pre:last-child, table:last-child, ul:last-child
    margin-bottom 0 !important
    font-size 14px !important

  &:not(.no-icon)
    padding-left 2.25rem

  &:not(.no-icon)::before
    position absolute
    top calc(50% - 19px)
    left .7rem
    font-size larger

  &.default.flat
    background #f7f7f7

  &.default.modern
    border-color #e1e1e1
    background #f3f3f3
    color #666

  &.default.modern a:not(.btn)
    color #666

  &.default.modern a:not(.btn):hover
    color #454545

  &.default:not(.modern)
    border-left-color #777

  &.default:not(.modern) h2, &.default:not(.modern) h3, &.default:not(.modern) h4, &.default:not(.modern) h5, &.default:not(.modern) h6
    color #777

  &.default:not(.no-icon)::before
    content "\e0a9"

  &.default:not(.no-icon):not(.modern)::before
    color #777

  &.primary.flat
    background #f5f0fa

  &.primary.modern
    border-color #e1c2ff
    background #f3daff
    color #6f42c1

  &.primary.modern a:not(.btn)
    color #6f42c1

  &.primary.modern a:not(.btn):hover
    color #453298

  &.primary:not(.modern)
    border-left-color #6f42c1

  &.primary:not(.modern) h2, &.primary:not(.modern) h3, &.primary:not(.modern) h4, &.primary:not(.modern) h5, &.primary:not(.modern) h6
    color #6f42c1

  &.primary:not(.no-icon)::before
    content "\e0a8"

  &.primary:not(.no-icon):not(.modern)::before
    color #6f42c1

  &.info.flat
    background #eef7fa

  &.info.modern
    border-color #b3e5ef
    background #d9edf7
    color #31708f

  &.info.modern a:not(.btn)
    color #31708f

  &.info.modern a:not(.btn):hover
    color #215761

  &.info:not(.modern)
    border-left-color #428bca

  &.info:not(.modern) h2, &.info:not(.modern) h3, &.info:not(.modern) h4, &.info:not(.modern) h5, &.info:not(.modern) h6
    color #428bca

  &.info:not(.no-icon)::before
    content "\e0a5"

  &.info:not(.no-icon):not(.modern)::before
    color #428bca

  &.success.flat
    background #eff8f0

  &.success.modern
    border-color #d0e6be
    background #dff0d8
    color #3c763d

  &.success.modern a:not(.btn)
    color #3c763d

  &.success.modern a:not(.btn):hover
    color #32562c

  &.success:not(.modern)
    border-left-color #5cb85c

  &.success:not(.modern) h2, &.success:not(.modern) h3, &.success:not(.modern) h4, &.success:not(.modern) h5, &.success:not(.modern) h6
    color #5cb85c

  &.success:not(.no-icon)::before
    content "\e0a4"

  &.success:not(.no-icon):not(.modern)::before
    color #5cb85c

  &.warning.flat
    background #fdf8ea

  &.warning.modern
    border-color #fae4cd
    background #fcf4e3
    color #8a6d3b

  &.warning.modern a:not(.btn)
    color #8a6d3b

  &.warning.modern a:not(.btn):hover
    color #714f30

  &.warning:not(.modern)
    border-left-color var(--sco-orange)

  &.warning:not(.modern) h2, &.warning:not(.modern) h3, &.warning:not(.modern) h4, &.warning:not(.modern) h5, &.warning:not(.modern) h6
    color var(--sco-orange)

  &.warning:not(.no-icon)::before
    content "\e0a5"

  &.warning:not(.no-icon):not(.modern)::before
    color var(--sco-orange)

  &.danger.flat
    background #fcf1f2

  &.danger.modern
    border-color #ebcdd2
    background #f2dfdf
    color #a94442

  &.danger.modern a:not(.btn)
    color #a94442

  &.danger.modern a:not(.btn):hover
    color #84333f

  &.danger:not(.modern)
    border-left-color #d9534f

  &.danger:not(.modern) h2, &.danger:not(.modern) h3, &.danger:not(.modern) h4, &.danger:not(.modern) h5, &.danger:not(.modern) h6
    color #d9534f

  &.danger:not(.no-icon)::before
    content "\e0aa"

  &.danger:not(.no-icon):not(.modern)::before
    color #d9534f

  &.warning:not(.no-icon):not(.modern)::before
    display inline-block
    align-items center
    height 30px
    color var(--sco-yellow)

  &.warning:class(.modern)
    border-radius 8px
    border-width 1px
    border-color var(--sco-yellow)
    box-shadow var(--sco-shadow-border)
    background var(--sco-card-bg)

#article-container
  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before, #post .post-copyright::before, #post .post-outdate-notice::before, .fontawesomeIcon, .note:not(.no-icon)::before
    display inline-block
    font-weight 600
    font-style normal
    font-variant normal
    font-family scoicon
    text-rendering auto
    -webkit-font-smoothing antialiased

// Tabs
#article-container .tabs
  position relative
  margin 0 0 1rem
  border-right 1px solid var(--tab-border-color)
  border-bottom 1px solid var(--tab-border-color)
  border-left 1px solid var(--tab-border-color)

  > .nav-tabs
    display flex
    flex-wrap wrap
    margin 0
    padding 0
    background var(--tab-botton-bg)

    > .tab
      margin 4px
      padding 0
      list-style none

      +maxWidth768()
        -webkit-box-flex 1
        flex-grow 1

      button i
        width 1.5em

      &.active button
        color var(--sco-white)
        background var(--sco-main)
        cursor default

      &:not(.active) button:hover
        border-top 2px solid var(--tab-button-hover-bg)
        background var(--tab-button-hover-bg)

  > .tab-contents .tab-item-content
    position relative
    display none
    padding 1.8rem 1.2rem
    background var(--sco-background)
    border var(--style-border-always)

    +maxWidth768()
      padding 1.2rem .7rem

    &.active
      display block
      animation .5s ease 0s 1 normal none running tabshow

  .tab-to-top
    position relative
    display block
    margin 16px 0 0 auto
    color #99a9bf

  margin 1rem 0 !important
  border-radius 12px
  overflow hidden
  box-shadow var(--sco-shadow-border)
  padding 8px
  background var(--sco-card-bg)
  border var(--style-border)

  .nav-tabs
    background var(--sco-card-bg)
    padding 16px
    display flex
    justify-content center
    flex-wrap wrap
    flex-direction row

    +maxWidth768()
      padding 0
      margin-bottom 8px

  > .nav-tabs > .tab button
    -webkit-transition all 0s
    background var(--sco-secondbg)
    transition .3s
    border var(--style-border-always)
    border-radius 8px
    font-size 1.2em
    line-height 1
    padding 8px 16px
    display flex
    width 100%
    justify-content center
    align-items center
    color var(--sco-fontcolor)

  > .nav-tabs > .tab:not(.active) button:hover
    background var(--sco-main)
    color var(--sco-white)
    transition .3s
    border var(--style-border-hover-always)

.tab-item-content
  background var(--sco-card-bg)

#article-container .tabs
  border 3px solid var(--sco-secondbg) !important

  > .tab-contents .tab-item-content.active
    animation tabshow 0s
    -webkit-animation tabshow 0s
    padding 1.2rem 1.2rem
    border-radius 8px

    +maxWidth768()
      padding .5rem .5rem

.tab-contents
  border-radius 8px
  overflow hidden

// bvideo
.bvideo
  border 0
  width 100%
  height 600px
  +maxWidth768()
    height 200px!important

// link
#article-container .tag-Link
  background var(--sco-secondbg)
  border-radius 8px !important
  display flex
  border var(--style-border)
  flex-direction column
  padding .3rem 1rem .6rem
  border-width 1px !important
  margin-top 1rem

  &:hover
    border var(--style-border-hover)

  .tag-link-tips
    border-bottom var(--style-border-always)
    padding-bottom 4px
    font-size .6rem
    color var(--sco-gray)
    font-weight 400
    pointer-events none

  &:hover .tag-link-tips
    color var(--sco-fontcolor)

  .tag-link-bottom
    display flex
    margin-top .5rem
    align-items center
    justify-content space-around
    pointer-events none

    .tag-link-left
      width 60px
      min-width 60px
      height 60px
      background-size cover !important
      border-radius 8px
      background var(--sco-card-bg)
      pointer-events none
      display flex

      i
        padding 0
        margin auto
        font-size 24px
        color var(--sco-fontcolor)

    .tag-link-right
      margin-left 1rem
      pointer-events none

      .tag-link-title
        font-size 16px
        line-height 1.2
        pointer-events none
        word-break break-all
        text-overflow ellipsis
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 2
        overflow hidden

      .tag-link-sitename
        font-size .7rem
        color var(--sco-gray)
        font-weight 400
        margin-top 8px
        pointer-events none
        line-height 1
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

  &:hover .tag-link-bottom .tag-link-right .tag-link-sitename
    color var(--sco-fontcolor)

  .tag-link-bottom i
    margin-left auto
    padding-left .5rem
    pointer-events none

// fold
details:not(.tk-admin-config-group)
  display block
  position relative
  margin-bottom 1rem
  min-height 54px
  overflow hidden
  border-radius 12px
  border var(--style-border)
  transition border .3s

  &:hover
    border var(--style-border-hover-always)

  summary
    position absolute
    padding .5rem 1rem
    background var(--sco-card-bg)
    margin 0
    transition .3s
    box-shadow var(--sco-shadow-border)
    left 0
    width 100%
    font-weight 700
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

    &::before
      content ''
      padding 4px

    &:hover
      cursor pointer
      background var(--sco-main)
      color var(--sco-white)
      transition .3s
      box-shadow var(--sco-shadow-main)

    &:focus
      outline 0

    &::marker
      color var(--sco-main)
      transition .3s

    &:hover::marker
      color var(--sco-white)

    &:hover:after
      position absolute
      content '+'
      text-align center
      top calc(50% - 2px)
      transform translateY(-50%)
      right 16px
      line-height 1

  > :nth-child(2)
    margin-top calc(54px + 1rem) !important

  &[open]
    border-radius 12px
    border var(--style-border-hover-always)
    padding 0 1.5rem
    background var(--sco-card-bg)

    summary
      background var(--sco-main)
      color var(--sco-white)

      &::marker
        color var(--sco-white)

      &:hover:after
        content '-'

+maxWidth768()
  details[open]:not(.tk-admin-config-group)
    padding 0 16px

// timeline
div.timenode
  position relative

  &:before,
  &:after
    content ''
    z-index 1
    position absolute
    background var(--sco-theme)
    width 2px
    left 7px

  &:before
    top 0
    height 6px

  &:after
    top 26px
    height 100%

  &:last-child:after
    height calc(100% - 26px - 16px)
    border-bottom-left-radius 2px
    border-bottom-right-radius 2px

  .meta
    position relative
    color var(--tab-botton-color)
    line-height 32px
    height 32px
    left 27px

    &:before,
    &:after
      content ''
      position absolute
      top 8px
      z-index 2
      left -27px

    &:before
      background var(--sco-theme)
      width 16px
      height 16px
      border-radius 8px

    &:after
      background var(--sco-card-bg)
      margin-left 2px
      margin-top 2px
      width 12px
      height 12px
      border-radius 6px
      transform scale(0.5)
      transition all 0.28s ease

    p
      font-weight 500
      margin 0 0 0 24px

  .body
    margin 4px 0 16px 24px
    padding 16px
    border-radius 8px
    background var(--blockquote-bg)

    p:first-child
      margin-top 0

    p:last-child
      margin-bottom 0

  &:hover
    .meta
      &:before
        background var(--sco-theme)

      &:after
        background var(--sco-theme-op)
        transform scale(1)