if hexo-config('capsule.enable')
    @import 'capsule.styl'

if hexo-config('rightside.enable')
    @import 'rightside.styl'

if hexo-config('expire.enable')
    @import 'expire.styl'

if hexo-config('keyboard.enable')
    @import 'keyboard.styl'

if hexo-config('loading.pace')
    @import 'pace.styl'

if hexo-config('display_mode.universe')
    @import 'universe.styl'