header#page-header(class=is_post() && theme.post.default.cover_top && page.cover_top ? 'post-bg' : 'not-top-img')
    include ./nav.pug
    if is_post()
        if theme.post.default.top_cover
            include ./widgets/post/postMeta.pug