- const not_cover = !(typeof page.not_cover ==='undefined' ? false : page.not_cover)
header#page-header(class=is_post() && not_cover ? 'post-bg' : 'not-top-img')
    include ./nav.pug
    if is_post()
        if !page.not_cover
            include ./widgets/post/postMeta.pug