if hexo-config("expire.enable")
  .expire
    display flex
    align-items center
    border-radius 8px
    background-color var(--efu-red)
    backdrop-filter blur(20px)
    padding 10px 16px
    color var(--efu-white)

    i.solitude
      color var(--efu-white)
      margin-right 12px