if hexo-config("expire.enable")
  .expire
    display flex
    align-items center
    border-radius 8px
    background-color rgba(255,0,0,.5)
    border-left 5px solid var(--efu-red)
    padding 10px 16px
    color var(--efu-white)

    i.solitude
      color var(--efu-white)
      margin-right 8px