// 首页文章样式
#recent-posts
  position: relative

  +maxWidth768()
    padding 0 1rem

  > .recent-post-item
    box-shadow: var(--sco-shadow-light2black)
    display: flex
    align-items: center
    animation: slide-in .6s .4s backwards
    transition: all .3s ease 0s
    overflow: hidden
    height: fit-content
    background: var(--sco-card-bg)
    border-radius: 12px
    cursor: pointer
    border: var(--style-border)
    margin: 1rem 0 1rem

    &:hover
      box-shadow: var(--card-hover-box-shadow)
      border: var(--style-border-hover)

      .post_cover img.post_bg
        transform: scale(1.03)
        transition: .3s ease-in-out
        filter: brightness(.85)

    .post_cover
      overflow: hidden
      width: 45%
      height: 100%

      img.post_bg
        width: 100%
        height: 100%
        transition: all .6s ease 0s
        object-fit: cover

    > .recent-post-info
      height: 174px
      width: 100%
      cursor: pointer
      position: relative
      padding: 0
      display: inline-block
      overflow: hidden

      .recent-post-info-top-tips
        display: flex
        margin-top: 20px
        user-select: none

        > .sticky-warp
          display: flex
          color: #ff7242
          position: relative
          margin-right: 8px
          justify-content: center
          align-items: center
          font-size: 0.5rem

          i
            font-size: .5rem
            margin-right: 3px

      &.no-cover
        width: 100%

      > .article-title
        line-height: 1.4
        margin-top: 0
        font-weight: 700
        color: var(--sco-fontcolor)
        margin-bottom: 0
        position: absolute
        width: 100%
        left: 0
        padding: 0 40px
        transition: .3s

        &:hover
          color: var(--sco-fontcolor)

      > .article-meta-wrap
        position: absolute
        bottom: 16px
        transition: .3s
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        width: 100%
        left: 0
        padding: 0 32px
        white-space: nowrap
        color: var(--sco-fontcolor)
        font-size: .7rem

        > .article-meta
          margin: 0 8px 0 0
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          display: flex

          > .article-meta__tags
            margin-right: 8px
            padding: 0 0.2rem
            padding-left: 0
            color: var(--sco-fontcolor)

        > .post-meta-date
          right: 0
          text-align: right

          i
            display: none

        .article-meta__separator
          display: none

        a:hover
          background-color: var(--sco-none)
          color: var(--sco-lighttext)
          cursor: pointer
          border-radius: 4px

        i
          margin: 0 .4rem 0 0

        .sticky
          color: var(--sco-fontcolor)

      > .content
        line-height: 1.4
        color: var(--sco-secondtext)
        margin-top: 0
        cursor: pointer
        transition: .3s
        opacity: 1
        position: absolute
        width: 100%
        left: 0
        padding: 0 40px
        -webkit-line-clamp: 2

  > div > i .post_cover
    display: none

  .recent-post-item
    .left_radius a, .right_radius a
      min-height: 100%
      min-width: 100%

.layout
  display: flex
  margin: 0 auto
  padding: 1rem 1.5rem
  max-width: 1200px
  +maxWidth768()
    padding 0

  &#content-inner
    max-width: 1400px

  /.hide-aside.layout
    max-width: 1400px

    > div
      width: 100% !important

  > div:first-child
    width calc(100% - 300px)

    +maxWidth1200()
      width 100% !important

  > div:first-child:not(.recent-posts)
    box-shadow var(--sco-shadow-border)
    padding 1rem 2rem
    border-radius 12px
    width calc(100% - 300px)
    background var(--sco-card-bg);
    border var(--style-border);
    align-self flex-start
    animation slide-in .6s .1s backwards
    position relative
    overflow hidden

    +maxWidth768()
      padding 0 1rem
      background var(--sco-background)

span.tags-punctuation::before
  content: "\e071"
  font-family: scoicon, serif !important
  font-size: 12px
  margin-right: 2px
  opacity: .4

  .hide-aside #page &
    font-size 16px

  #post-info &
    font-size 14px
    line-height 32px