// 文章列表
#recent-posts
  position relative
  +maxWidth768()
    padding 0 1rem

  > .recent-post-item
    box-shadow var(--sco-shadow-light2black)
    display flex
    -webkit-box-orient horizontal
    -webkit-box-align center
    align-items center
    animation slide-in .6s .4s backwards
    transition all .3s ease 0s
    overflow hidden
    height fit-content
    background var(--sco-card-bg)
    border-radius 12px
    cursor pointer
    border var(--style-border)
    margin 1rem 0 1rem

    &:hover
      box-shadow var(--card-hover-box-shadow)
      border var(--style-border-hover)

      .post_cover img.post_bg
        transform scale(1.03)
        transition .3s ease-in-out
        filter brightness(.85)

    &.ads-wrap
      display block !important
      height auto !important

    .post_cover
      overflow hidden
      width 45%
      height 100%
      -webkit-mask-image -webkit-radial-gradient(center, #fff, #000)

      img.post_bg
        width 100%
        height 100%
        transition all .6s ease 0s
        object-fit cover

        &:hover
          transform scale(1.1)

    > .recent-post-info
      height 174px
      width 100%
      cursor pointer
      position relative
      padding 0
      display inline-block
      overflow hidden

      .recent-post-info-top-tips
        display: flex
        margin-top: 20px
        user-select none

      &.no-cover
        width 100%

      > .article-title
        line-height 1.4
        margin-top 0
        font-weight 700
        color var(--sco-fontcolor)
        margin-bottom 0
        position absolute
        width 100%
        left 0
        padding 0 40px
        transition .3s

        &:hover
          color var(--sco-fontcolor)

      > .article-meta-wrap
        position absolute
        bottom 16px
        transition .3s
        display flex
        flex-direction row
        flex-wrap nowrap
        justify-content space-between
        width 100%
        left 0
        padding 0 32px
        white-space nowrap
        color var(--sco-fontcolor)
        font-size .7rem

        > .article-meta
          margin 0 8px 0 0
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          display flex

          > .article-meta__tags
            margin-right 8px
            padding 0 0.2rem
            padding-left 0
            color var(--sco-fontcolor)

        > .post-meta-date
          right 0
          text-align right

          i
            display none

        .article-meta__separator
          display none

        a:hover
          background-color var(--sco-none)
          color var(--sco-lighttext)
          cursor pointer
          border-radius 4px

        i
          margin 0 .4rem 0 0

        .sticky
          color var(--sco-fontcolor)

      > .content
        line-height 1.4
        color var(--sco-secondtext)
        margin-top 0
        cursor pointer
        transition .3s
        opacity 1
        position absolute
        width 100%
        left 0
        padding 0 40px
        -webkit-line-clamp 2

  > div > i .post_cover
    display none

  .recent-post-item
    .left_radius a, .right_radius a
      min-height 100%
      min-width 100%

+maxWidth768()
  #recent-posts > .recent-post-item
    border-radius 12px 12px 8px 8px

// 分页按钮
.toPageGroup
  display flex
  position relative
  margin 0 .3rem

  a#toPageButton
    display flex
    position absolute
    width 40px
    height 40px
    right 0
    top 0
    border-radius 8px
    justify-content center
    align-items center
    transition .3s
    background var(--sco-card-bg)
    border var(--style-border-always)
    cursor text
    pointer-events none

  &:focus-within a#toPageButton, &:hover a#toPageButton
    width 30px
    height 30px
    right 4px
    top 5px
    background var(--sco-card-bg)
    border 1px solid var(--sco-none)
    border-radius 4px
    opacity .2

  &:focus-within a#toPageButton.haveValue, &:hover a#toPageButton.haveValue
    opacity 1
    cursor pointer

  a#toPageButton.haveValue
    opacity 1 !important
    cursor pointer !important
    pointer-events all

  a#toPageButton.haveValue:hover
    background var(--sco-theme)
    color var(--sco-white)

+maxWidth768()
  .toPageGroup
    display none

+minWidth768()
  .needEndHide.hide
    bottom: -200px !important
    opacity: 0

.layout
  display flex
  margin 0 auto
  padding 1rem 1.5rem
  max-width 1200px

  +maxWidth768()
    padding 0

  &#content-inner
    max-width 1400px

  &.hide-aside
    max-width 1400px

    > div
      width 100% !important

  > div:first-child
    width calc(100% - 300px)

  > div:first-child:not(.recent-posts)
    box-shadow var(--sco-shadow-border)
    padding 1rem 2rem
    border-radius 12px
    width calc(100% - 300px)
    background: var(--sco-card-bg);
    border: var(--style-border);
    align-self flex-start
    animation slide-in .6s .1s backwards
    position relative
    overflow hidden

    +maxWidth768()
      border-radius 0
      padding 0 1rem!important
      box-shadow none!important
      background var(--sco-background)

  > #page
    padding: 0 1rem;
    width: calc(100% - 300px);
    align-self: flex-start;
    animation: slide-in 0.6s 0.1s backwards;
    position: relative;
    overflow: hidden;

    > div:first-child:not(.recent-posts)
      box-shadow: none !important;
      background: var(--sco-background)
      z-index: 10

  +maxWidth900()
    flex-direction: column

  +maxWidth1200()
    > div:first-child
      width 100% !important

  +minWidth1300()
    justify-content space-between

  +minWidth2000()
    max-width 1500px

    &.hide-aside
      max-width 1300px

+maxWidth768()
  .post
    .layout
      > #post, #page
        border-radius 12px 12px 0 0

      &#content-inner
        background: var(--sco-main)

  .page
    .layout
      > #post, #page
        border-radius: 12px 12px 0 0

      &#content-inner
        background: var(--sco-background)

+minWidth900()

  html.hide-aside .layout > div:first-child
    width: 100%

.pace
  pointer-events none
  user-select none
  z-index 2000
  position fixed
  margin auto
  top 4px
  left 0
  right 0
  height 8px
  border-radius 8px
  width 4rem
  background var(--sco-secondbg)
  border var(--style-border)
  overflow hidden

.pace-inactive .pace-progress
  opacity 0
  transition .3s ease-in

.pace .pace-progress
  box-sizing border-box
  transform translate3d(0,0,0)
  max-width 200px
  z-index 2000
  display block
  position absolute
  top 0
  right 100%
  height 100%
  width 100%
  background var(--sco-logo-color)
  animation gradient 2s ease infinite
  background-size 200%

.pace.pace-inactive
  opacity 0
  transition .3s
  top -8px

span.tags-punctuation::before
  content "\e071"
  font-family scoicon, serif !important
  font-size 14px
  opacity .4