.layout
  display: flex
  margin: 0 auto
  padding: 1rem 1.5rem
  max-width: 1200px
  +maxWidth768()
    padding 0

  &#content-inner
    max-width: 1400px

  /.hide-aside.layout
    max-width: 1400px

    > div
      width: 100% !important

  > div:first-child
    width calc(100% - 300px)

    +maxWidth1200()
      width 100% !important

  > div:first-child:not(.recent-posts)
    box-shadow var(--sco-shadow-border)
    padding 1rem 2rem
    border-radius 12px
    width calc(100% - 300px)
    background var(--sco-card-bg);
    border var(--style-border);
    align-self flex-start
    animation slide-in .6s .1s backwards
    position relative
    overflow hidden

    +maxWidth768()
      padding 0 1rem
      background var(--sco-background)

span.tags-punctuation::before
  content: "\e071"
  font-family: scoicon, serif !important
  font-size: 12px
  margin-right: 2px
  opacity: .4

  .hide-aside #page &
    font-size 16px

  #post-info &
    font-size 14px
    line-height 32px