.layout
  display flex
  margin 0 auto
  padding 1rem 1.5rem
  max-width 1200px

  &#content-inner
    max-width 1400px

  &.hide-aside
    max-width 1400px

    > div
      width 100% !important

  #aside-content
    +maxWidth768()
      z-index 2
      background var(--sco-background)
      padding 0 1rem
      display flex
      flex-direction column
      width 100%

  > div:first-child
    width calc(100% - 300px)

  > div:first-child:not(.recent-posts)
    box-shadow var(--sco-shadow-border)
    padding 1rem 2rem
    border-radius 12px
    background var(--sco-card-bg)
    border var(--style-border)
    width calc(100% - 300px)
    align-self flex-start
    animation slide-in .6s .1s backwards
    position relative
    overflow hidden

    &:hover
      box-shadow var(--sco-shadow-border-hover)

  +maxWidth768()
    padding: 0

    > div:first-child:not(.recent-posts)
      border-radius: 0;
      padding: 0 1rem !important;
      box-shadow: none !important;
      background: var(--sco-background)
      z-index: 10

  +maxWidth900()
    flex-direction: column

  +maxWidth1200()
    > div:first-child
      width 100% !important

  +minWidth1300()
    justify-content space-between

  +minWidth2000()
    max-width 1500px

    &.hide-aside
      max-width 1300px

+maxWidth768()
  .post
    .layout
      > div:first-child:not(.recent-posts)
        border-radius 12px 12px 0 0

      &#content-inner
        background: var(--sco-main)

  .page
    .layout
      > div:first-child:not(.recent-posts)
        border-radius: 12px 12px 0 0

      &#content-inner
        background: var(--sco-background)

+minWidth900()
  html.hide-aside .layout
    -webkit-box-pack: center
    justify-content: center

  html.hide-aside .layout > .aside-content
    display: none

  html.hide-aside .layout > div:first-child
    width: 100%

#page .category-lists .category-title {
  display: none
}

#page {
  background: 0 0;
  border: none;
  padding: 0
}

@media screen and (min-width: 1300px) {
  #page > div:not(.author-content-item) {
    animation: slide-in .6s .2s backwards
  }
}

#post-cover-rgb {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: var(--sco-lighttext)
}

#page {
  box-shadow: none
}


.full_page #post-cover {
  display: none
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 4rem;
  background: var(--sco-secondbg);
  border: var(--style-border);
  overflow: hidden
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: .3s ease-in
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--sco-logo-color);
  animation: gradient 2s ease infinite;
  background-size: 200%
}

.pace.pace-inactive {
  opacity: 0;
  transition: .3s;
  top: -8px
}