if hexo-config('rightside.enable')
    #rightside
        position: fixed
        right: -2.5rem
        bottom: 20px
        z-index: 1000
        opacity: 0
        transition: all .5s
        &.needEndHide
            display block!important
        &.hide.needEndHide
            bottom 0!important
            transform: none !important

        button
            display: block
            margin-bottom: 5px
            width: 1.8rem
            height: 1.8rem
            border-radius: 50%
            background-color: var(--btn-bg)
            color: var(--btn-color)
            text-align: center
            font-size: 16px

            &.pc
                display: block
                +maxWidth900()
                    display: none

            &.mobile
                display: none

                +maxWidth900()
                    display: block
            
            &.top
                &:hover
                    #percent
                        display: none
                    i
                        display: block
                        transition: all .3s
                        transform: scale(1.3)
                i
                    transition: all .3s
                    display: none
                    &.show
                        display: block

        .rs_hide
            transform: translate(45px, 0)
            transition: all .4s
            opacity 0
            
            &.show
                opacity .8
                transform: translate(0, 0)