- const authorinfo = site.data.about.authorinfo

if authorinfo
    .author-info
        .author-tag-left
            each tag in authorinfo.leftTags
                span.author-tag= tag
        .author-img
            img(src=authorinfo.image)
        .author-tag-right
            each tag in authorinfo.rightTags
                span.author-tag= tag
.author-title= site.data.about.title