.bber-bottom
    .bber-info
        .bber-info-time
            i.scoicon.sco-calendar-todo-fill
            time.datetime(datetime=moment(item.date).format())
        if item.link
            a.bber-content-link(href=url_for(item.link) title="跳转到短文指引的链接")
                i.scoicon.sco-link-m-line
                | 链接
    a.bber-reply(onclick=`sco.toTalk('${item.content}')`)
        i.scoicon.sco-chat-fill(style="font-size: 1rem;")