figure
  &.highlight
    .highlight-tools
      .copy-button
        right .7rem

      &.closed
        .expand
          transform rotate(-90deg)

    .expand
      & + .code-lang
        left 1.7rem

