script.
    async function initComment() {
        var initOptions = Object.assign(
            !{JSON.stringify(theme.comment.twikoo || {})},
            {
                el: '#comment',
                onCommentLoaded: function () {
                    GLOBAL_CONFIG.lightbox && sco.lightbox('#article-container img, #twikoo .tk-content img:not(.tk-owo-emotion)')
                },
                lang: '#{theme.comment.twikoo.lang}',
            }
        )
        await twikoo.init(initOptions)
        if (#{theme.post.meta.comment && is_post()}) {
            var countOptions = Object.assign(
                !{JSON.stringify(theme.comment.twikoo || {})},
                {
                    urls: [window.location.pathname],
                    includeReply: false
                }
            )
            const res = await twikoo.getCommentsCount(countOptions)
            try {
                document.getElementById('twikoo-count').innerText = res[0].count
            } catch (e) {
                document.getElementById('twikoo-count').innerText = '加载错误'
            }
        }
    }
- if (page.type === 'links')
    script.
        checkForm = function () {
            const comment = document.getElementsByClassName('tk-submit')[0];
            const checkboxes = document.querySelectorAll('input[onclick="checkForm()"]');
            let allChecked = true;

            checkboxes.forEach(checkbox => {
                if (!checkbox.checked) {
                    allChecked = false;
                }
            });

            if (allChecked) {
                comment.style.display = 'block';
            } else {
                comment.style.display = 'none';
            }
        };

        checkForm()