div.recent-post-item
    div.recent-post-adsense(style="width:100%;display: flex;height: calc(25.5vw);overflow: hidden;")
        ins(class="adsbygoogle", style="display:block; text-align:center;", data-ad-format="auto", data-full-width-responsive="true", data-ad-client="ca-pub-4015694772463475", data-ad-slot="8371555862")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});