script.
    (()=>{
        function syasLocalCache() {
            const solitudeData = JSON.parse(localStorage.getItem('Solitude'));

            if (solitudeData && solitudeData.says) {
                const { value, expiration } = solitudeData.says;
                const currentTime = new Date().getTime();

                if (expiration && currentTime < expiration) {
                    const bberTalkContainer = document.getElementById('bber-talk');

                    if (bberTalkContainer) {
                        bberTalkContainer.innerHTML = '';

                        value.forEach((item) => {
                            const liElement = document.createElement('div');
                            liElement.className = 'li-style swiper-slide';
                            liElement.textContent = item;
                            bberTalkContainer.appendChild(liElement);
                        });
                    }
                } else {
                    saysDynamic();
                }
            } else {
                saysDynamic();
            }
        }
        function saysDynamic() {
            fetch("!{url_for(theme.says.mode_link)}")
                .then(response => response.json())
                .then(data => {
                    var saysMode = '!{theme.says.mode}';
                    if (saysMode === 'json') {
                        const saysList = data[0].essay_list;
                        const saysStrip = saysList.slice(0, 10);

                        saysStrip.forEach(says => {
                            let content = says.content;
                            if (says.image) {
                                content += '【图片】';
                            }
                            if (says.aplayer) {
                                content += '【音乐】';
                            }
                            if (says.video) {
                                content += '【视频】';
                            }

                            saysDeposit(content);
                        });
                    } else if (saysMode === 'memos') {
                        const saysStrip = data.slice(0, 10);

                        saysStrip.forEach(says => {
                            let content = says.content
                            content = content.replace(/#说说/g, '');

                            content = content.replace(/!\[\]\((.*?)\)/g, '【图片】');
                            content = content.replace(/\{ music (.*?) \}/g, '【音乐】');
                            content = content.replace(/\{ bilibili (.*?) \}/g, '【视频】');
                            content = content.replace(/\{ player (.*?) \}/g, '【视频】');

                            saysDeposit(content);
                        });
                    }
                    syasLocalCache();
                })
            .catch(error => console.error('即刻mini | ', error));
        }
        function saysDeposit(saysdata) {
            const groupName = 'Solitude';
            const storedData = localStorage.getItem(groupName);
            const existingData = storedData ? JSON.parse(storedData) : {};
            existingData.says = existingData.says || {};

            existingData.says.value = existingData.says.value || [];
            existingData.says.value.push(saysdata);
            existingData.says.expiration = new Date().getTime() + 10 * 60 * 1000;
            localStorage.setItem(groupName, JSON.stringify(existingData));
        }
        syasLocalCache();
    })()