.bbTimeList.container#bbTimeList(class=is_home_first_page() ? '' : 'more-page')
    i.bber-logo.scoicon.sco-bblogo(onclick=`pjax.loadUrl('/essay/')`)
    .swiper-container.swiper-no-swiping.swiper-container-initialized.swiper-container-vertical.swiper-container-pointer-events#bbtalk(tabindex="-1" onclick=`pjax.loadUrl('/essay/')`)
        .swiper-wrapper#bber-talk
            case theme.says.mode
                when 'local'
                    include bb/local
                when 'json'
                    include bb/json
                when 'memos'
                    include bb/memos
    i.bber-gotobb.scoicon.sco-right-btn-fill(title=_p('home.bbtime.text') onclick=`pjax.loadUrl('/essay/')`)