.bbTimeList.container#bbTimeList
    i.bber-logo.scoicon.sco-says(onclick="pjax.loadUrl('/essay/')")
    .swiper-container.swiper-no-swiping.swiper-container-initialized.swiper-container-vertical.swiper-container-pointer-events#bbtalk(tabindex="-1", onclick="pjax.loadUrl('/essay/')")
        .swiper-wrapper#bber-talk
            each item, i in site.data.essay.essay_list
                if i < 10
                    .li-style.swiper-slide= item.image ? item.content + '【图片】' : item.content
    i.bber-gotobb.scoicon.sco-right-btn-fill(title="查看全文", onclick="pjax.loadUrl('/essay/')")