- group = theme.hometop.group?.slice(0, 2)

if group
    .categoryGroup
        each item, index in group
            .categoryItem
                a.categoryButton(href=url_for(item.url) style="background:" + item.color + ";")
                    span.categoryButtonText= item.name
                    i.scoicon(class=item.icon)