.recent-top-post-group#recent-top-post-group
    .recent-post-top#recent-post-top
        #bannerGroup
            #banners
                include ./banner.pug
        .topGroup
            include ./topGroup.pug