div.recent-top-post-group#recent-top-post-group
    div.recent-post-top#recent-post-top
        div#bannerGroup
            div#banners
                include ./banner.pug
            div.categoryGroup
                include ./categoryGroup.pug
        div.topGroup
            include ./rencentPost.pug