if site.data.about
    #about-page
        include ../widgets/page/about/authorinfo
        include ../widgets/page/about/contentinfo
        include ../widgets/page/about/skillsinfo
        include ../widgets/page/about/personalities
        include ../widgets/page/about/motto
        include ../widgets/page/about/hobbies
        include ../widgets/page/about/other
        include ../widgets/page/about/tenyear
        include ../widgets/page/about/award