h1.page-title(style='display: inline')= _p('page.category')
div.category-lists
    div.tag-cloud-list.is-center
        each item in site.categories.find({ parent: { $exists: false } }).data
            a(href=url_for(item.path))
                span.tags-punctuation
                = item.name
                span.tagsPageCount= item.length