h1.page-title= _p('page.category')
.category-lists
    .tag-cloud-list.is-center
        each item in site.categories.find({ parent: { $exists: false } }).data
            a(href=url_for(item.path))
                span.tags-punctuation
                    i.solitude.fa-solid.fa-hashtag
                    = item.name
                    span.tagsPageCount= item.length