- var startDate = theme.about.echarts.startDate
- var tagLength = theme.about.echarts.tagLength
- var categoryParent = ""+theme.about.echarts.categoryParent

div#posts-chart(data-start=startDate, style="border-radius: 8px; height: 300px; padding: 10px;")
div#tags-chart(data-length=tagLength, style="border-radius: 8px; height: 300px; padding: 10px;")
div#categories-chart(data-parent=categoryParent, style="border-radius: 8px; height: 300px; padding: 10px;")