include ../widgets/page/banner

- var gallery = page.album

if theme.album.enable && gallery
    #gallery
        each item in gallery
            .gallery-item(onclick="pjax.loadUrl('/" + page.url + "/" + item.album + "/')")
                img.cover(src=item.cover)
                span.title= item.class_name
                span.desc= item.descr