.flink#banners
    include ../widgets/page/links/banner
if theme.thirdparty.circle.angle.enable
    include ../widgets/page/moments/angle
.flink#article-container
    each data in site.data.links.links
        h2= data.class_name
        .flink-desc= data.descr
        case data.type
            when 'card'
                include ../widgets/page/links/linksCard
            when 'item'
                include ../widgets/page/links/linksItem
    != page.content