.flink#banners
    include ../widgets/page/links/banner
.flink#article-container
    each data in site.data.links.links
        h2= data.class_name + " (" + data.link_list.length + ")"
        .flink-desc= data.descr
        case data.type
            when 'card'
                include ../widgets/page/links/linksCard
            when 'item'
                include ../widgets/page/links/linksItem
            when 'discn'
                include ../widgets/page/links/linksDiscn
    != page.content