- var item_suffix = site.data.links.item_suffix || ''
- var card_suffix = site.data.links.card_suffix || ''
- var banner_suffix = site.data.links.banner_suffix || ''
- var topimg_suffix = site.data.links.topimg_suffix || ''

.flink#banners
    include ../widgets/page/links/banner
.flink#article-container
    each data in site.data.links.links
        h2= data.class_name + " (" + data.link_list.length + ")"
        .flink-desc= data.descr
        case data.type
            when 'card'
                include ../widgets/page/links/linksCard
            when 'item'
                include ../widgets/page/links/linksItem
    != page.content