style.
    .not-configured {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        height: 80vh;
        align-items: center
    }
    .not-configured strong {
        padding: 0 4px;
        border-bottom: 2px dotted var(--sco-lighttext)
    }

.not-configured
    .title 请前往
        strong 主题配置文件
        | 进行配置