.rss-plan-list
    a.rss-plan-item.rss-plan-wechat(href=page.wechatOA, title="公众号")
        .rss-plan-description 推送精选文章<br>推送全文
        .rss-plan-info-group
            .rss-plan-title 公众号订阅
            .rss-plan-info 推荐的订阅方式
            img.rss-plan-icon(src="https://bu.dusays.com/2023/11/01/6541d14a4de78.png", alt="wechat")
    a.rss-plan-item.rss-plan-mail(href=page.emailOA, title="email")
        .rss-plan-description 推送全部文章<br>推送封面与简介
        .rss-plan-info-group
            .rss-plan-title 邮件订阅
            .rss-plan-info 推荐的订阅方式
            img.rss-plan-icon(src="https://bu.dusays.com/2023/11/01/6541d16c3ea22.png", alt="email")
    a.rss-plan-item.rss-plan-rss(href=page.rssOA, title="rss")
        .rss-plan-description 推送全部文章<br>推送简介
        .rss-plan-info-group
            .rss-plan-title RSS
            .rss-plan-info 备用订阅方式
            img.rss-plan-icon(src="https://bu.dusays.com/2023/11/01/6541d184e2a09.png", alt="rss")
!= page.content