include ../widgets/page/banner
if theme.says.enable
    #bber
        section.timeline.page-1
            if theme.says.mode === 'local'
                include ../widgets/page/says/sayslocal
            if theme.says.mode === 'json'
                include ../widgets/page/says/saysjson
            if theme.says.mode === 'memos'
                include ../widgets/page/says/saysmemos
else
    include ./not_configured.pug