h1.page-title= __('page.tag')
.category-lists
    .tag-cloud-list.is-center
        each tag in site.tags.find({ parent: { $exists: false } }).data
            a(href=url_for(tag.path))
                span.tags-punctuation
                    i.solitude.fa-solid.fa-hashtag
                    = tag.name
                    span.tagsPageCount= tag.length