- var archive = theme.aside.archive

ul.card-archive-list
    - var type = archive.type ? archive.type : 'year'
    each value, key in getArchiveLength(type)
        li.card-archive-list-item
            a.card-archive-list-link(href=`/archives/${key}/`)
                span.card-archive-list-date= key
                .card-archive-list-count-group
                    span.card-archive-list-count= value
                    span.card-archive-list-count-unit= __('console.archive_unit')