.webinfo
    if theme.aside.siteinfo.postcount
        .webinfo-item
            .webinfo-item-title
                i.item-icon.fas.fa-folder-closed
                .item-name= __('aside.postcount')
            .item-count= site.posts.length
    if theme.busuanzi
        if theme.aside.siteinfo.pv
            .webinfo-item
                .webinfo-item-title
                    i.item-icon.solitude.fas.fa-eye
                    .item-name= __('aside.pv')
                if theme.busuanzi_use === 0
                    span#busuanzi_value_site_pv
                        i.solitude.fas.fa-spinner.fa-spin
                else
                    span#busuanzi_site_pv
                        i.solitude.fas.fa-spinner.fa-spin
        if theme.aside.siteinfo.uv
            .webinfo-item
                .webinfo-item-title
                    i.item-icon.solitude.fas.fa-user
                    .item-name= __('aside.uv')
                if theme.busuanzi_use === 0
                    span#busuanzi_value_site_uv
                        i.solitude.fas.fa-spinner.fa-spin
                else
                    span#busuanzi_site_uv
                        i.solitude.fas.fa-spinner.fa-spin