case item
    when 'about'
        include ./asideInfoCard.pug
    when 'flip'
        include ./asideFlipCard.pug
    when 'newestPost'
        include ./asideNewestPost.pug
    when 'allInfo'
        include ./asideAllInfo.pug
    default
        - const custom = site.data?.aside?.find((i) => i.name === item)
        if custom
            != partial("includes/widgets/aside/asideCustom", {item: custom}, {cache: true})
        else
            include ../../page/default.pug