- const { home, post, page } = theme.aside

- var noSticky, Sticky
if(is_home())
    - noSticky = home.noSticky ? home.noSticky.split(',') : null
    - Sticky = home.Sticky ? home.Sticky.split(',') : null
else if(is_post())
    - noSticky = post.noSticky ? post.noSticky.split(',') :  null
    - Sticky = post.Sticky ? post.Sticky.split(',') : null
else if(is_page() || is_archive() || is_tag() || is_category())
    - noSticky = page.noSticky ? page.noSticky.split(',') : null
    - Sticky = page.Sticky ? page.Sticky.split(',') : null
if noSticky || Sticky
    .aside-content#aside-content
        each item in noSticky
            include ./asideSwitch.pug
        .sticky_layout
            if showToc
                include ./asideToc.pug
            each item in Sticky
                include ./asideSwitch.pug
else
    style.
        .layout > div:first-child {
            width: 100%;
        }