if theme.google_adsense.enable && !theme.google_adsense.auto_ads && theme.google_adsense.aside_card
    .card-widget.card-adsense
        ins.adsbygoogle(style="display:block; text-align:center; min-height:120px; min-width: 100%", data-ad-layout="in-article", data-ad-format="fluid", hide-unfilled="true", data-ad-client=theme.google_adsense.client, data-ad-slot=theme.google_adsense.slot)
        script.
            (adsbygoogle = window.adsbygoogle || []).push({});