case item
    when 'about'
        include ./asideInfoCard.pug
    when 'flip'
        include ./asideFlipCard.pug
    when 'newestPost'
        include ./asideNewestPost.pug
    when 'allInfo'
        include ./asideAllInfo.pug
    default
        include ../../page/default.pug