.card-tag-cloud
    each tag in site.tags.find({ parent: { $exists: false } }).data
        a(href=url_for(tag.path))= tag.name
            sup= tag.length
if site.tags.length > theme.aside.tags.limit
    a#more-tags-btn(href="javascript:void(0);", onclick="sco.openAllTags();")= __('aside.tagmore')
else
    style.
        .card-tag-cloud::after {
            display: none !important;
        }