maxWidth600()
    @media screen and (max-width: 600px)
        {block}

maxWidth768()
    @media screen and (max-width: 768px)
        {block}

minWidth768()
    @media screen and (min-width: 768px)
        {block}

maxWidth1300()
    @media screen and (max-width: 1300px)
        {block}

minWidth1300()
    @media screen and (min-width: 1300px)
        {block}

maxWidth1024()
    @media screen and (max-width: 1024px)
        {block}

maxWidth900()
    @media screen and (max-width: 900px)
        {block}

minWidth901()
    @media screen and (min-width: 901px)
        {block}

minWidth900()
    @media screen and (min-width: 900px)
        {block}

minWidth2000()
    @media screen and (min-width: 2000px)
        {block}