maxWidth600()
  @media screen and (max-width: 600px)
    {block}

maxWidth768()
  @media screen and (max-width: 768px)
    {block}

minWidth768()
  @media screen and (min-width: 768px)
    {block}

maxWidth798()
  @media screen and (max-width: 798px)
    {block}

minWidth798()
  @media screen and (min-width: 798px)
    {block}

maxHeight800()
  @media screen and (max-height: 800px)
    {block}

maxWidth899()
  @media screen and (max-width: 899px)
    {block}

minWidth899()
  @media screen and (min-width: 899px)
    {block}

maxWidth900()
  @media screen and (max-width: 900px)
    {block}

minWidth900()
  @media screen and (min-width: 900px)
    {block}

minWidth901()
  @media screen and (min-width: 901px)
    {block}

maxWidth1000()
  @media screen and (max-width: 1000px)
    {block}

minWidth1000()
  @media screen and (min-width: 1000px)
    {block}

maxWidth1024()
  @media screen and (max-width: 1024px)
    {block}

maxWidth1200()
  @media screen and (max-width: 1200px)
    {block}

minWidth1200()
  @media screen and (min-width: 1200px)
    {block}

minWidth1201()
  @media screen and (min-width: 1201px)
    {block}

maxWidth1300()
  @media screen and (max-width: 1300px)
    {block}

minWidth1300()
  @media screen and (min-width: 1300px)
    {block}

maxWidth1400()
  @media screen and (max-width: 1400px)
    {block}

minWidth1400()
  @media screen and (min-width: 1400px)
    {block}

minWidth2000()
  @media screen and (min-width: 2000px)
    {block}

.limit-more-line
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical