<div id="algolia-search">
    <div class="search-dialog">
        <nav class="search-nav">
            <span class="search-dialog-title">搜索</span>
            <button class="search-close-button">
                <i class="scoicon algolia-fill"></i>
            </button>
        </nav>
        <div class="search-wrap">
            <div class="search-box" id="search-input"></div>
            <div id="search-results">
                <div id="algolia-hits">
                </div>
                <div class="algolia-stats"></div>
                <div class="algolia-poweredBy" style="display: none"></div>
            </div>
        </div>
    </div>
    <div id="search-mask"></div>
</div>