<div id="local-search">
    <div class="search-dialog">
        <nav class="search-nav">
            <span class="search-dialog-title">搜索</span>
            <button class="search-close-button">
                <i class="scoicon sco-search-line"></i>
            </button>
        </nav>
        <div id="loading-database">
            <i class="scoicon sco-loading-line"></i>
            <span>加载中</span>
        </div>
        <div class="search-wrap">
            <div class="search-box">
                <input class="search-box-input" placeholder="<%= __('search.placeholder') %>" type="text" id="search-input" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off">
            </div>
            <div id="loading-status"></div>
            <div id="search-results"></div>
        </div>
    </div>
    <div id="search-mask"></div>
</div>