@font-face {
  font-family: "scoicon";
  src: url('iconfont.eot?t=89c79d9c15bba0c01a4a96ef6caa6bf7'); /* IE9 */
  src: url('iconfont.eot?t=89c79d9c15bba0c01a4a96ef6caa6bf7#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=89c79d9c15bba0c01a4a96ef6caa6bf7') format('woff2'),
  url('iconfont.woff?t=89c79d9c15bba0c01a4a96ef6caa6bf7') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=89c79d9c15bba0c01a4a96ef6caa6bf7') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=89c79d9c15bba0c01a4a96ef6caa6bf7#scoicon') format('svg'); /* iOS 4.1- */
}

.scoicon {
  font-family: "scoicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sco-logo:before {
  content: "\e006";
}
.sco-more-fill:before {
  content: "\e007";
}
.sco-home-fill:before {
  content: "\e008";
}
.sco-folder-fill:before {
  content: "\e00f";
}
.sco-right-btn-fill:before {
  content: "\e012";
}
.sco-signal-tower-fill:before {
  content: "\e018";
}
.sco-dashboard-fill:before {
  content: "\e01a";
}
.sco-moon-clear-fill:before {
  content: "\e01b";
}
.sco-douyin-fill:before {
  content: "\e023";
}
.sco-calendar:before {
  content: "\e025";
}
.sco-access:before {
  content: "\e026";
}
.sco-visitor-line:before {
  content: "\e027";
}
.sco-update:before {
  content: "\e028";
}
.sco-creative-commons-by-line:before {
  content: "\e02a";
}
.sco-refresh:before {
  content: "\e02f";
}
.sco-star-smile-fill:before {
  content: "\e030";
}
.sco-arrow-up-line:before {
  content: "\e032";
}
.sco-menu-line:before {
  content: "\e036";
}
.sco-arrow-down:before {
  content: "\e038";
}
.sco-copy-fill:before {
  content: "\e039";
}
.sco-arrow-left-line:before {
  content: "\e03a";
}
.sco-arrow-right-line:before {
  content: "\e03b";
}
.sco-restart-line:before {
  content: "\e03d";
}
.sco-external-link-fill:before {
  content: "\e03e";
}
.sco-contacts-fill:before {
  content: "\e042";
}
.sco-photos-fill:before {
  content: "\e047";
}
.sco-arrow-right-bold:before {
  content: "\e048";
}
.sco-arrow-left-bold:before {
  content: "\e049";
}
.sco-ai-line:before {
  content: "\e04a";
}
.sco-clock-fill:before {
  content: "\e04d";
}
.sco-loading-line:before {
  content: "\e04e";
}
.sco-show-line:before {
  content: "\e04f";
}
.sco-toolbox:before {
  content: "\e050";
}
.sco-link-line:before {
  content: "\e05a";
}
.sco-suijibofang:before {
  content: "\e05b";
}
.sco-add-fill:before {
  content: "\e060";
}
.sco-telegram-line:before {
  content: "\e061";
}
.sco-telegram-fill:before {
  content: "\e062";
}
.sco-checkbox-multiple-blank-fill:before {
  content: "\e063";
}
.sco-price-tag-fill:before {
  content: "\e064";
}
.sco-pantone-fill:before {
  content: "\e066";
}
.sco-artboard-fill:before {
  content: "\e067";
}
.sco-pencil-ruler-fill:before {
  content: "\e068";
}
.sco-wifi-fill:before {
  content: "\e069";
}
.sco-group-fill:before {
  content: "\e06a";
}
.sco-gift-fill:before {
  content: "\e06b";
}
.sco-laptop-line:before {
  content: "\e06c";
}
.sco-tools-fill:before {
  content: "\e06d";
}
.sco-train-line:before {
  content: "\e06e";
}
.sco-search-line:before {
  content: "\e06f";
}
.sco-keyboard-box-fill:before {
  content: "\e070";
}
.sco-disc-fill:before {
  content: "\e072";
}
.sco-chat-fill:before {
  content: "\e073";
}
.sco-fire-fill:before {
  content: "\e074";
}
.sco-side-bar-fill:before {
  content: "\e075";
}
.sco-algolia-fill:before {
  content: "\e076";
}
.sco-refresh-line:before {
  content: "\e077";
}
.sco-map-line:before {
  content: "\e078";
}
.sco-team-fill:before {
  content: "\e079";
}
.sco-calendar-todo-fill:before {
  content: "\e07a";
}
.sco-loop-left-fill:before {
  content: "\e07b";
}
.sco-word-fill:before {
  content: "\e07c";
}
.sco-map-pin-fill:before {
  content: "\e07d";
}
.sco-copyright-line:before {
  content: "\e07e";
}
.sco-creative-commons-nc-line:before {
  content: "\e07f";
}
.sco-creative-commons-nd-line:before {
  content: "\e080";
}
.sco-arrow-2-right-line:before {
  content: "\e081";
}
.sco-link-m-line:before {
  content: "\e082";
}
.sco-close-fill:before {
  content: "\e083";
}
.sco-book-mark-fill:before {
  content: "\e084";
}
.sco-github-line:before {
  content: "\e085";
}
.sco-bilibili-line:before {
  content: "\e086";
}
.sco-mail-line:before {
  content: "\e087";
}
.sco-afdian-line:before {
  content: "\e08a";
}
.sco-chat-new-fill:before {
  content: "\e08b";
}
.sco-window-fill:before {
  content: "\e08c";
}
.sco-download-cloud-fill:before {
  content: "\e08d";
}
.sco-baidu-fill:before {
  content: "\e08e";
}
.sco-pause-fill:before {
  content: "\e08f";
}
.sco-play-list-2-line:before {
  content: "\e090";
}
.sco-shield-user-fill:before {
  content: "\e091";
}
.sco-skip-back-fill:before {
  content: "\e092";
}
.sco-skip-forward-fill:before {
  content: "\e093";
}
.sco-creative-commons-fill:before {
  content: "\e094";
}
.sco-jianben:before {
  content: "\e095";
}
.sco-panben:before {
  content: "\e096";
}
.sco-play-fill:before {
  content: "\e097";
}
.sco-loop-left-line:before {
  content: "\e099";
}
.sco-play-list-2-fill:before {
  content: "\e09b";
}
.sco-hand-heart-fill:before {
  content: "\e09f";
}
.sco-clipboard-fill:before {
  content: "\e0a0";
}
.sco-plant-fill:before {
  content: "\e0a1";
}
.sco-arrow-right-circle-fill:before {
  content: "\e0a2";
}
.sco-circle-check-solid:before {
  content: "\e0a4";
}
.sco-circle-exclamation-solid:before {
  content: "\e0a5";
}
.sco-circle-info-solid:before {
  content: "\e0a7";
}
.sco-circle-plus-solid:before {
  content: "\e0a8";
}
.sco-circle-arrow-right-solid:before {
  content: "\e0a9";
}
.sco-circle-minus-solid:before {
  content: "\e0aa";
}
.sco-show-left-line:before {
  content: "\e0ad";
}
.sco-show-right-line:before {
  content: "\e0ae";
}
.sco-book-2-fill:before {
  content: "\e0af";
}
.sco-film-fill:before {
  content: "\e0b0";
}
.sco-gamepad-fill:before {
  content: "\e0b1";
}
.sco-thumbtack-solid:before {
  content: "\e0b2";
}
.sco-bblogo:before {
  content: "\e0b4";
}
.sco-hashtag-solid:before {
  content: "\e071";
}
.sco-robot-fill:before {
  content: "\e0b6";
}
.sco-says:before {
  content: "\e0b7";
}
.sco-yife-logo:before {
  content: "\e0b8";
}
