[data-theme=dark] 
	--sco-theme #f2b94b
	--sco-theme-op #f2b94b23
	--sco-theme-op-deep #f2b94bdd
	--sco-theme-none #f2b94b00
	--sco-blue #0084ff
	--sco-red #ff3842
	--sco-pink #d44040
	--sco-green #3e9f50
	--sco-purple #7a60d2
	--sco-yellow #ffc93e
	--sco-yellow-op #ffc93e30
	--sco-orange #ff953e
	--sco-fontcolor #f7f7fa
	--sco-background #18171d
	--sco-reverse #fff
	--sco-maskbg rgba(0, 0, 0, 0.6)
	--sco-maskbgdeep rgba(0, 0, 0, 0.85)
	--sco-hovertext #0a84ff
	--sco-ahoverbg #fff
	--sco-lighttext var(--sco-theme)
	--sco-secondtext #a1a2b8
	--sco-scrollbar rgba(200, 200, 223, 0.4)
	--sco-card-btn-bg #30343f
	--sco-post-blockquote-bg #000
	--sco-post-tabs-bg #121212
	--sco-secondbg #30343f
	--sco-shadow-nav 0 5px 20px 0px rgba(28, 28, 28, 0.4)
	--sco-card-bg #1b1c20
	--sco-card-bg-op var(--sco-white-op)
	--sco-card-bg-none #1d1b2600
	--sco-shadow-lightblack 0 5px 12px -5px rgba(102, 68, 68, 0.0)
	--sco-shadow-light2black 0 5px 12px -5px rgba(102, 68, 68, 0.0)
	--sco-card-border #3d3d3f
	--sco-shadow-border 0 8px 16px -4px #00000050
	--style-border 1px solid var(--sco-card-border)
	--style-border-always 1px solid var(--sco-card-border)
	--style-border-hover 1px solid var(--sco-theme)
	--style-border-hover-always 1px solid var(--sco-theme)
	--style-border-dashed 1px dashed var(--sco-theme-op)
	--style-border-forever 2px solid var(--sco-lighttext)

	#page-header
		&.not-top-img
			#nav
				.darkmode_switchbutton
					color var(--sco-yellow)