#home_top
  max-width 1400px
  margin .5rem auto auto
  padding 0 1.5rem

  +maxWidth768()
    padding 0
    margin-top 0

if hexo-config('hometop.enable')
  @import "home-top.styl"

@import "category-bar.styl"

@import "recent-post.styl"

@import "pagination.styl"