if hexo-config('hometop.enable') || hexo-config('says.enable')
  #home_top
    max-width 1400px
    margin 0 auto
    padding .5rem 1.5rem

    +maxWidth768()
      padding 0 1rem
      margin-top 0

if hexo-config('hometop.enable')
  @import "home-top.styl"

if hexo-config('carousel')
  @import "carousel.styl"

@import "category-bar.styl"

if hexo-config('aside.position') == 0
  #home
    order 2
else
  #home
    order 1

if hexo-config('comment.hot_tip.enable')
  @import "hot-tip.styl"