.red
  color var(--efu-red)

.green
  color var(--efu-green)

.blue
  color var(--efu-blue)

.yellow
  color var(--efu-yellow)

.pink
  color var(--efu-pink)

.purple
  color var(--efu-purple)

.orange
  color var(--efu-orange)

.bg-red
  background-color var(--efu-red)
  color var(--efu-white)

.bg-green
  background-color var(--efu-green)
  color var(--efu-white)

.bg-blue
  background-color var(--efu-blue)
  color var(--efu-white)

.bg-yellow
  background-color var(--efu-yellow)

.bg-pink
  background-color var(--efu-pink)
  color var(--efu-white)

.bg-purple
  background-color var(--efu-purple)
  color var(--efu-white)

.bg-orange
  background-color var(--efu-orange)
  color var(--efu-white)

.block
  display block

.center
  margin 0 auto

.right
  margin-left auto

.larger
  font-size 1.5rem
  margin 5px

  i
    transform scale(1.5)