#article-container
  a.tag-link
    background var(--efu-secondbg)
    border-radius 8px !important
    display flex
    border var(--style-border)
    flex-direction column
    padding 0.5rem 1rem
    border-width 1px
    margin 1rem 0

    &:hover
      background var(--efu-main)
      border var(--style-border-hover) !important

      .tag-link-tips
        color var(--efu-white)

      i
        opacity 1

    i
      transition .3s
      margin-left auto
      opacity .6

    .tag-link-bottom
      display flex
      margin-top 0.5rem
      align-items center
      justify-content space-around

      .tag-link-left
        width 60px
        min-width 60px
        height 60px
        background-size cover
        border-radius 8px
        background-color var(--efu-card-bg)
        display flex
        align-items center
        justify-content center

        i
          padding 0
          margin auto
          font-size 24px
          color var(--efu-fontcolor)

      .tag-link-right
        margin-left 1rem
        max-width calc(100% - 76px - 1rem)

  .tag-link-tips
    border-bottom var(--style-border)
    padding-bottom 4px
    font-size 12px
    color var(--efu-gray)
    font-weight 400