div.timenode
  position relative

  &:before,
  &:after
    content ''
    z-index 1
    position absolute
    background var(--efu-theme)
    width 2px
    left 7px

  &:before
    top 0
    height 6px

  &:after
    top 26px
    height 100%

  &:last-child:after
    height calc(100% - 26px - 16px)
    border-bottom-left-radius 2px
    border-bottom-right-radius 2px

  .meta
    position relative
    line-height 32px
    height 32px
    left 27px

    &:before,
    &:after
      content ''
      position absolute
      top 8px
      z-index 2
      left -27px

    &:before
      background var(--efu-theme)
      width 16px
      height 16px
      border-radius 8px

    &:after
      background var(--efu-card-bg)
      margin-left 2px
      margin-top 2px
      width 12px
      height 12px
      border-radius 6px
      transform scale(0.5)
      transition all 0.28s ease

    p
      font-weight 500
      margin 0 0 0 24px

  .body
    margin 4px 0 16px 24px
    padding 16px
    border-radius 8px
    background var(--blockquote-bg)

    p:first-child
      margin-top 0

    p:last-child
      margin-bottom 0

  &:hover
    .meta
      &:before
        background var(--efu-theme)

      &:after
        background var(--efu-theme-op)
        transform scale(1)