<h1 class="page-title"><%= __('page.category') %></h1>
<div class="category-lists">
    <div class="tag-cloud-list is-center">
        <% site.categories.each(function (item) { %>
            <a href="<%= url_for(item.path.toLowerCase()) %>">
                <span class="tags-punctuation"></span>
                <%= item.name %>
                <span class="tagsPageCount"><%= item.length %></span>
            </a>
        <% }) %>
    </div>
</div>