<script src="<%= theme.echarts.js %>>" rel="external nofollow"></script>

<!-- 文章发布统计 -->
<div id="posts-chart" data-start="2023-01" style="border-radius: 8px; height: 300px; padding: 10px;"></div>
<!-- 最高文章数的 10 个标签 -->
<div id="tags-chart" data-length="10" style="border-radius: 8px; height: 300px; padding: 10px;"></div>
<!-- 分类文章统计 -->
<div id="categories-chart" data-parent="true" style="border-radius: 8px; height: 300px; padding: 10px;"></div>
