<style>
    .not-configured {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: bold
    }
    .not-configured strong {
        padding: 0 4px;
        border-bottom: 2px dotted var(--sco-lighttext)
    }
</style>
<div class="not-configured">请前往<strong>主题配置文件</strong>进行配置</div>