<%- partial('partial/compoment/says/banner') %>
<div id="bber">
    <section class="timeline page-1">
        <ul class="list" id="waterfall">
            <% for(let i in site.data.essay.essay_list){ %>
                <% const item = site.data.essay.essay_list[i];if(i >= 30)break; %>
                <li class="item">
                    <%- partial('partial/compoment/says/saysContent', {item:item}) %>
                    <%- partial('partial/compoment/says/saysFunction', {item:item}) %>
                    <hr>
                    <%- partial('partial/compoment/says/saysBottom', {item:item}) %>
                </li>
            <% }; %>
        </ul>
    </section>
</div>
<div id="bber-tips" style="color: var(--sco-secondtext);">- 只展示最近30条短文 -</div>
