<h1 class="page-title" style="display: inline-block"><%= __('page.tag') %></h1>
<div class="category-lists">
    <div class="tag-cloud-list is-center">
        <% site.tags.each(function (tag) { %>
            <a href="<%= url_for(tag.path) %>">
                <span class="tags-punctuation"></span>
                <%= tag.name %>
                <span class="tagsPageCount"><%= tag.length %></span>
            </a>
        <% }) %>
    </div>
</div>