each item, i in site.data.essay.essay_list.slice(0, 10)
    .li-style.swiper-slide= item.image ? item.content + _p('home.bbtime.image') : item.content || item.aplayer ? item.content + _p('home.bbtime.aplayer') : item.content || item.video ? item.content + _p('home.bbtime.video') : item.content