div#rightMenu
    div.rightMenu-group.rightMenu-small
        div.rightMenu-item#menu-backward
            i.scoicon.sco-arrow-left-line
        div.rightMenu-item#menu-forward
            i.scoicon.sco-arrow-right-line
        div.rightMenu-item#menu-refresh
            i.scoicon.sco-restart-line
        div.rightMenu-item#menu-top
            i.scoicon.sco-arrow-up-line
    div.rightMenu-group.rightMenu-line.rightMenuPlugin
        div.rightMenu-item#menu-copytext
            i.scoicon.sco-copy-fill
            span 复制选中文本
        div.rightMenu-item#menu-pastetext
            i.scoicon.sco-clipboard-fill
            span 粘贴文本
        a.rightMenu-item#menu-commenttext
            i.scoicon.sco-chat-new-fill
            span 引用到评论
        div.rightMenu-item#menu-newwindow
            i.scoicon.sco-window-fill
            span 新窗口打开
        div.rightMenu-item#menu-copylink
            i.scoicon.sco-link-line
            span 复制链接地址
        div.rightMenu-item#menu-copyimg
            i.scoicon.sco-copy-fill
            span 复制此图片
        div.rightMenu-item#menu-downloadimg
            i.scoicon.sco-download-cloud-fill
            span 下载此图片
        div.rightMenu-item#menu-search
            i.scoicon.sco-search-line
            span 站内搜索
        div.rightMenu-item#menu-searchBaidu
            i.scoicon.sco-baidu-fill
            span 百度搜索
        div.rightMenu-item#menu-music-toggle
            i.scoicon.sco-play-fill
            span 播放音乐
        div.rightMenu-item#menu-music-back
            i.scoicon.sco-skip-back-fill
            span 切换到上一首
        div.rightMenu-item#menu-music-forward
            i.scoicon.sco-skip-forward-fill
            span 切换到下一首
        div.rightMenu-item#menu-music-playlist(onclick=`window.open('${theme.thirdparty.aplayer.server === 'tencent' ? `https://y.qq.com/n/ryqq/playlist/${theme.thirdparty.aplayer.id}` : `https://music.163.com/#/playlist?id=${theme.thirdparty.aplayer.id}`}', '_blank');`)
            i.scoicon.sco-play-list-2-line
            span 查看所有歌曲
        div.rightMenu-item#menu-music-copyMusicName
            i.scoicon.sco-copy-fill
            span 复制歌名
    div.rightMenu-group.rightMenu-line.rightMenuOther
        a.rightMenu-item.menu-Link#menu-randomPost
            i.scoicon.sco-signal-tower-fill
            span 随便逛逛
        a.rightMenu-item.menu-link(href="/categories/")
            i.scoicon.sco-checkbox-multiple-blank-fill
            span 博客分类
        a.rightMenu-item.menu-link(href="/tags/")
            i.scoicon.sco-price-tag-fill
            span 文章标签
    div.rightMenu-group.rightMenu-line.rightMenuOther
        div.rightMenu-item#menu-copy
            i.scoicon.sco-external-link-fill
            span 复制地址
        if  theme.comment.enable && theme.comment.commentBarrage
            div.rightMenu-item#menu-commentBarrage
                i.scoicon.sco-chat-fill
                span.menu-commentBarrage-text 关闭热评
        div.rightMenu-item#menu-darkmode
            i.scoicon.sco-moon-clear-fill
            span.menu-darkmode-text 浅色模式
div#rightmenu-mask