<% const authorinfo = site.data.about.authorinfo; %>

<div class="author-info">
  <div class="author-tag-left">
    <% authorinfo.leftTags.forEach(tag => { %>
      <span class="author-tag"><%= tag %></span>
    <% }); %>
  </div>
  <div class="author-img">
    <img src="<%= authorinfo.image %>" >
  </div>
  <div class="author-tag-right">
    <% authorinfo.rightTags.forEach(tag => { %>
      <span class="author-tag"><%= tag %></span>
    <% }); %>
  </div>
</div>
<div class="author-title">关于我</div>
