#about-page
  display flex
  padding-top 1rem
  flex-direction column
  align-items center

  .author-title
    font-size 2rem
    font-weight 700
    margin 1rem 0
    line-height 1

@import "tenyear"

@import "author"

@import "contentinfo"

@import "skills"

@import "oneself"

@import "buff"

@import "game"

@import "personalities"

@import "myphoto"

@import "careers"

@import "like"

@import "maxim"

@import "statistic"

@import "reward"