<div id="rightMenu">
    <div class="rightMenu-group rightMenu-small">
        <div class="rightMenu-item" id="menu-backward">
            <i class="scoicon sco-arrow-left-line"></i>
        </div>
        <div class="rightMenu-item" id="menu-forward">
            <i class="scoicon sco-arrow-right-line"></i>
        </div>
        <div class="rightMenu-item" id="menu-refresh">
            <i class="scoicon sco-restart-line" style="font-size: 19px;"></i>
        </div>
        <div class="rightMenu-item" id="menu-top">
            <i class="scoicon sco-arrow-up-line"></i>
        </div>
    </div>
    <div class="rightMenu-group rightMenu-line rightMenuPlugin">
        <div class="rightMenu-item" id="menu-copytext">
            <i class="scoicon sco-copy-fill"></i>
            <span>复制选中文本</span>
        </div>
        <div class="rightMenu-item" id="menu-pastetext">
            <i class="scoicon sco-clipboard-fill"></i>
            <span>粘贴文本</span>
        </div>
        <a class="rightMenu-item" id="menu-commenttext" data-pjax-state="">
            <i class="scoicon sco-chat-new-fill"></i>
            <span>引用到评论</span>
        </a>
        <div class="rightMenu-item" id="menu-newwindow">
            <i class="scoicon sco-window-fill"></i>
            <span>新窗口打开</span>
        </div>
        <div class="rightMenu-item" id="menu-copylink">
            <i class="scoicon sco-link-line"></i>
            <span>复制链接地址</span>
        </div>
        <div class="rightMenu-item" id="menu-copyimg">
            <i class="scoicon sco-copy-fill"></i>
            <span>复制此图片</span>
        </div>
        <div class="rightMenu-item" id="menu-downloadimg">
            <i class="scoicon sco-download-cloud-fill"></i>
            <span>下载此图片</span>
        </div>
        <div class="rightMenu-item" id="menu-search">
            <i class="scoicon sco-search-line"></i>
            <span>站内搜索</span>
        </div>
        <div class="rightMenu-item" id="menu-searchBaidu">
            <i class="scoicon sco-baidu-fill"></i>
            <span>百度搜索</span>
        </div>
        <div class="rightMenu-item" id="menu-music-toggle">
            <i class="scoicon sco-play-fill"></i>
            <span>播放音乐</span>
        </div>
        <div class="rightMenu-item" id="menu-music-back">
            <i class="scoicon sco-skip-back-fill"></i>
            <span>切换到上一首</span>
        </div>
        <div class="rightMenu-item" id="menu-music-forward">
            <i class="scoicon sco-skip-forward-fill"></i>
            <span>切换到下一首</span>
        </div>
        <div class="rightMenu-item" id="menu-music-playlist"
             onclick="window.open('<%- theme.thirdparty.aplayer.server == 'tencent' ? `https://y.qq.com/n/ryqq/playlist/${theme.thirdparty.aplayer.id}` : `https://music.163.com/#/playlist?id=${theme.thirdparty.aplayer.id}` %>', '_blank');">
            <i class="scoicon sco-play-list-2-line"></i>
            <span>查看所有歌曲</span></div>
        <div class="rightMenu-item" id="menu-music-copyMusicName">
            <i class="scoicon sco-copy-fill"></i>
            <span>复制歌名</span>
        </div>
    </div>
    <div class="rightMenu-group rightMenu-line rightMenuOther">
        <a class="rightMenu-item menu-Link" id="menu-randomPost" data-pjax-state="">
            <i class="scoicon sco-signal-tower-fill"></i>
            <span>随便逛逛</span></a>
        <a class="rightMenu-item menu-link" href="/categories/" data-pjax-state="">
            <i class="scoicon sco-checkbox-multiple-blank-fill"></i>
            <span>博客分类</span></a>
        <a class="rightMenu-item menu-link" href="/tags/" data-pjax-state="">
            <i class="scoicon sco-price-tag-fill"></i>
            <span>文章标签</span></a>
    </div>
    <div class="rightMenu-group rightMenu-line rightMenuOther">
        <div class="rightMenu-item" id="menu-copy">
            <i class="scoicon sco-external-link-fill"></i>
            <span>复制地址</span>
        </div>
        <div class="rightMenu-item" id="menu-commentBarrage">
            <i class="scoicon sco-chat-fill"></i>
            <span class="menu-commentBarrage-text">关闭热评</span>
        </div>
        <div class="rightMenu-item" id="menu-darkmode">
            <i class="scoicon sco-moon-clear-fill"></i>
            <span class="menu-darkmode-text">浅色模式</span>
        </div>
    </div>
</div>
<div id="rightmenu-mask"></div>