<div id="rightMenu">
    <div class="rightMenu-group rightMenu-small">
        <a class="rightMenu-item" href="javascript:window.history.back();">
            <i class="scoicon ri-arrow-left-circle-fill"></i>
        </a>
        <a class="rightMenu-item" href="javascript:window.history.forward();">
            <i class="scoicon ri-arrow-right-circle-fill"></i>
        </a>
        <a class="rightMenu-item" href="javascript:window.location.reload();">
            <i class="scoicon ri-restart-fill"></i>
        </a>
        <a class="rightMenu-item" href="javascript:sco.toTop();">
            <i class="scoicon ri-arrow-up-circle-fill"></i>
        </a>
    </div>
    <div class="rightMenu-group rightMenu-line hide" id="menu-text">
        <a class="rightMenu-item" href="javascript:rmf.copySelect();">
            <i class="scoicon ri-file-copy-fill"></i>
            <span>复制选中文本</span>
        </a>
    </div>
    <div class="rightMenu-group rightMenu-line">
        <a class="rightMenu-item" href="javascript:toRandomPost();">
            <i class="scoicon ri-signal-tower-fill"></i>
            <span>随便逛逛</span>
        </a>
        <a class="rightMenu-item" href="/categories/">
            <i class="scoicon ri-send-backward"></i>
            <span>文章分类</span>
        </a>
        <a class="rightMenu-item" href="/tags/">
            <i class="scoicon ri-price-tag-3-fill"></i>
            <span>文章标签</span>
        </a>
    </div>
    <div class="rightMenu-group rightMenu-line">
        <a class="rightMenu-item" href="javascript:sco.switchDarkMode();">
            <i class="scoicon ri-contrast-2-fill"></i>
            <span>昼夜转换</span>
        </a>
        <a class="rightMenu-item" href="javascript:sco.copyPageUrl();">
            <i class="scoicon ri-external-link-fill"></i>
            <span>复制地址</span>
        </a>
        <% if(theme.comment.enable){ %>
            <a class="rightMenu-item" href="javascript:sco.switchCommentBarrage()">
                <i class="scoicon ri-message-3-fill"></i>
                <span class="menu-commentBarrage-text">关闭热评</span>
            </a>
        <% } %>
    </div>
</div>
<script>
    let rmf = {};
    rmf.showRightMenu = function (isTrue, x = 0, y = 0) {
        let rightMenu = document.getElementById('rightMenu');
        rightMenu.style.top = x + 'px';
        rightMenu.style.left = y + 'px';

        if (isTrue) {
            rightMenu.style.display = 'block';
        } else {
            rightMenu.style.display = 'none';
        }
    }

    //复制选中文字
    rmf.copySelect = function () {
        document.execCommand('Copy', false, null);
        //这里可以写点东西提示一下 已复制
    }

    rmf.hideRightMenu = function () {
        rmf.showRightMenu(false);
        document.getElementById("rightmenu-item").style.display = "none";
    };

    rmf.rightmenuCopyText = function (e) {
        navigator.clipboard && navigator.clipboard.writeText(e),
            rmf.hideRightMenu()
    }

    // 右键菜单事件
    if (!(navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
        window.oncontextmenu = function (event) {
            let rightMenuGroup = document.querySelectorAll('.rightMenu-group.hide');
            rightMenuGroup.forEach(function (group) {
                group.style.display = 'none';
            });

            //如果有文字选中，则显示 文字选中相关的菜单项
            if (document.getSelection().toString()) {
                document.getElementById('menu-text').style.display = 'block';
            }

            let pageX = event.clientX + 10;
            let pageY = event.clientY;
            let rmWidth = document.getElementById('rightMenu').offsetWidth;
            let rmHeight = document.getElementById('rightMenu').offsetHeight;
            if (pageX + rmWidth > window.innerWidth) {
                pageX -= rmWidth + 10;
            }
            if (pageY + rmHeight > window.innerHeight) {
                pageY -= pageY + rmHeight - window.innerHeight;
            }

            rmf.showRightMenu(true, pageY, pageX);
            return false;
        };

        window.addEventListener('click', function () {
            rmf.showRightMenu(false);
        });
    }
</script>