<div class="webinfo">
    <% if(theme.aside.siteinfo.postcount){ %>
        <div class="webinfo-item">
            <div class="webinfo-item-title">
                <i class="item-icon ri-archive-fill"></i>
                <div class="item-name">文章总数 :</div>
            </div>
            <div class="item-count"><%= site.posts.length %></div>
        </div>
    <% } %>
    <% if(theme.thirdparty.busuanzi){ %>
        <% if(theme.aside.siteinfo.pv){ %>
            <div class="webinfo-item">
                <div class="webinfo-item-title">
                    <i class="item-icon ri-window-fill"></i>
                    <div class="item-name">总访问数 :</div>
                </div>
                <span id="busuanzi_value_site_pv"><i class="ri-loader-2-fill"></i></span>
            </div>
        <% } %>
        <% if(theme.aside.siteinfo.uv){ %>
            <div class="webinfo-item">
                <div class="webinfo-item-title">
                    <i class="item-icon ri-team-fill"></i>
                    <div class="item-name">总访客数 :</div>
                </div>
                <span id="busuanzi_value_site_uv"><i class="ri-loader-2-fill"></i></span>
            </div>
        <% } %>
    <% } %>
    <% if(theme.aside.siteinfo.runtimeenable){ %>
        <div class="webinfo-item">
            <div class="webinfo-item-title">
                <i class="item-icon ri-calendar-todo-fill"></i>
                <div class="item-name">建站天数 :</div>
            </div>
            <div class="item-count" id="runtimeshow">
            </div>
        </div>
    <% } %>
    <% if(theme.aside.siteinfo.updatetime){ %>
        <div class="webinfo-item">
            <div class="webinfo-item-title">
                <i class="item-icon ri-loop-left-fill"></i>
                <div class="item-name">最后更新 :</div>
            </div>
            <time class="item-count" datetime="<%= new Date() %>">
            </time>
        </div>
    <% } %>
    <% if(theme.thirdparty.wordcount && theme.aside.siteinfo.wordcount){ %>
        <div class="webinfo-item">
            <div class="webinfo-item-title">
                <i class="item-icon ri-file-word-fill"></i>
                <div class="item-name">全站字数 :</div>
            </div>
            <div class="item-count"><%= totalcount(site) %></div>
        </div>
    <% } %>
</div>