<div class="card-widget" id="card-toc">
    <div class="item-headline">
        <i class="scoicon sco-menu"></i>
        <span>文章目录</span>
    </div>
    <div class="toc-content" id="toc-content">
        <%- toc(page.content, {
            list_number: false,
        }) %>
    </div>
</div>