<div class="card-widget heo-right-widget" id="card-wechat">
    <div id="flip-wrapper">
        <div id="flip-content">
            <div class="face" style="background: url(<%= theme.aside.flip.face %>) center center no-repeat; background-size: 100%;"></div>
            <div class="back face" style="background: url(<%= theme.aside.flip.backface %>) center center no-repeat;background-size: 100%"></div>
        </div>
    </div>
</div>