<div class="card-tag-cloud">
    <% site.tags.each(function (tag) { %>
        <a href="<%= url_for(tag.path) %>" style="font-size: 0.8rem; color: #d3d3d3"><%= tag.name %>
            <sup><%= tag.length %></sup></a>
    <% }) %>
</div>