<div class="card-widget card-tags card-archives card-webinfo card-allinfo">
    <% if(theme.aside.tags.enable){ %>
        <%- partial('partial/compoment/aside/asideTag', {cache: true}) %>
    <% } %>
    <% if(theme.aside.archive.enable){ %>
        <hr>
        <%- partial('partial/compoment/aside/asideArchive', {cache: true}) %>
    <% } %>
    <hr>
    <%- partial('partial/compoment/aside/asideWebInfo', {cache: true}) %>
</div>