if theme.nav.right.travellings
    .nav-button.only-home#travellings_button
        a.site-page(href="https://www.travellings.cn/go.html", title="开往-友链接力")
            i.scoicon.sco-train-line
if theme.nav.right.random
    .nav-button#randomPost_button
        a.site-page(onclick="toRandomPost()", title="随机前往一个文章")
            i.scoicon.sco-signal-tower-fill
if theme.thirdparty.search.enable
    .nav-button#search-button
        a.site-page.social-icon.search(href="javascript:void(0);", title="搜索")
            i.scoicon.sco-search-line
if theme.nav.right.console
    .nav-button#nav-console
        a.console_switchbutton(onclick="sco.showConsole()", title="显示中控台", href="javascript:void(0);")
            i.scoicon.sco-dashboard-fill
.nav-button#nav-totop(onclick="sco.toTop()")
    a.totopbtn
        i.scoicon.sco-arrow-up-line
        span#percent= "0"
#toggle-menu
    a.site-page
        i.scoicon.sco-menu-line